@media (min-width: map_get($grid-breakpoints, lg)) {
  $grid-gutter-width: 30px;

  .container {
    padding-left: $grid-gutter-width / 2;
    padding-right: $grid-gutter-width / 2;
  }

  .row {
    margin-left: $grid-gutter-width / -2;
    margin-right: $grid-gutter-width / -2;

    > .col,
    > [class*=col-] {
      padding-left: $grid-gutter-width / 2;
      padding-right: $grid-gutter-width / 2;
    }
  }
}