$imagepath-svg: "/web/src/img/svg/";
$imagepath: "/web/src/img/";
$default-color: #333333;

$grid-breakpoints: (
	xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
);



$brand-color: #5c44c1;