@import 'variables';
$grid-gutter-width: 24px;
@import "../../../node_modules/bootstrap/scss/bootstrap";
@import 'mixins/mixin-common';

@import 'components/buttons';
@import 'partial/select';
@import 'components/input';
@import 'partial/header';
@import 'partial/footer';
@import 'components/form';
@import 'partial/menu';
@import 'components/search';
@import 'components/accordion';
@import 'components/modal';
@import 'components/stars';
@import 'components/breadcrumbs';
@import 'partial/modal-menu';

@import 'media';

body{
	font-family: 'Roboto', sans-serif;
	background: #f6f5f5;
	color: $default-color;
}

a, button {
	@include hover-focus-active() {
		outline: none;
	}
}
h1, .h1{
	font-size: 2rem;
	letter-spacing: 0.5px;
	line-height: 2.5rem;
	font-weight: 600;
	@media (max-width: map-get($grid-breakpoints, lg)){
        font-size: 1.5rem;
        line-height: 2rem;
    }
}
h3, .h3{
	font-size: 1.5rem;
	line-height: 2rem;
	font-weight: 600;

}	
h4, .h4{
	font-size: 1rem;
	line-height: 1.5rem;
	font-weight: 600;
	@media (max-width: map-get($grid-breakpoints, sm)){
		font-size: 14px;
	}
}
p{
	line-height: 1.5rem;
	margin-bottom: 22px;
}
.border{
	&-bottom{
		border-color: #ddd !important;
	}
	&-left{
		border-color: #ddd !important;
		&-2{
			border-width: 2px !important;
		}
	}
}
a.link{
	color: $brand-color;
	@include hover-focus-active{
		color: #482dbb;
		text-decoration: none;
	}
	&_gray{
		color: #999999;
		@include hover-focus-active{
			color: #666666;
			text-decoration: none;
		}
	}
	&_dark{
		color: #333;
		@include hover-focus-active{
			color: #666666;
			text-decoration: none;
		}
	
	}
	&_red{
		color: #fb5550;
		@include hover-focus-active{
			color: #fb5550;
			opacity: 0.8;
			text-decoration: none;
		}
	}
}
.popover{
	box-shadow: 0 8px 24px 0 rgba(153, 153, 153, 0.24);
	border-radius: 8px;
	font-family: 'SF UI Display';
	border: none;
	background: #fff;
	& .arrow{
		display: none;
	}
	&-body{

		
		color: #333;
		font-size: 14px;
		line-height: 20px;
		padding: 16px;
		
	}
}
.text{

	&-small{
		font-size: 0.875rem;
		@media (max-width: map-get($grid-breakpoints, lg)){
	        font-size: 0.75rem;
	        line-height: 1rem;
	    }
	}
    &-big{

		font-size: 22px;
		line-height: 2rem;
		@media (max-width: map-get($grid-breakpoints, lg)){
    		font-size: 1rem;
    		line-height: 1.5rem;
    	}
	}
}
.around-link-icon{
	text-align: center;
	vertical-align: middle;

	width: 40px;
	height: 40px;
	display: inline-block;
	border-radius: 20px;
	border: solid 2px rgb(221, 221, 221);
	color: #333;
	font-size: 14px;
	padding-left: 4px;
	line-height: 38px;
	cursor: pointer;
	@media (max-width: map-get($grid-breakpoints, sm)){
		height: 32px;
		width: 32px;
		min-width: 32px;
		font-size: 12px;
		line-height: 30px;
	}
	@include hover-focus-active{
		color: #333;
		border-color: #cccccc;
		text-decoration: none;
	}
	&_invert{
		transform: rotate(180deg);
		@media (max-width: map-get($grid-breakpoints, sm)){
			margin-right: 8px;
		}
	}
	&_small{
		margin-top: -4px;
		margin-left: 8px;
		width: 24px;
		height: 24px;
		min-width: 24px;
		line-height: 22px;
		border-radius: 12px;
		padding-left: 2px;
		color: #999;
		border: solid 1px rgb(221, 221, 221);

	}
	&_mini{
		width: 16px;
		height: 16px;
		line-height: 13px;
		font-size: 9px;
		border: solid 1px rgb(221, 221, 221);
		border-radius: 8px;
		padding-left: 0;
		color: #dddddd;
		min-width: 16px;

		@include hover-focus-active{
			color: #999;
			border-color: #999;
			text-decoration: none;
		}
	}
}
.m-fz-14{
	@media (max-width: map-get($grid-breakpoints, lg)){
		font-size: 14px;
	}
}
.right-mobile{
	&__header{
		display: none;
	}
	&__footer{
		display: none;
	}
	@media (max-width: map-get($grid-breakpoints, lg)){

		position: fixed;
		display: none;
		width: 100%;
		height: 100%;
		top: 0;
		z-index: 100;
		padding: 0;
		background: #fff;
		&__header{
			display: block;
			padding: 16px;
			position: relative;
			border-bottom: 1px solid #ededed;
			font-size: 1.5rem;
			line-height: 2rem;
		}
		&__body{
			padding-bottom: 64px;
			overflow-y: auto;
			height: calc(100% - 129px);
		}
		&__footer{
			display: block;
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 64px;
			padding-top: 12px;
			background: #fff;
			padding: 12px 16px;
		}
	}
}
body.open-right-mobile{

	overflow: hidden;
	padding-right: 17px;
	position: fixed;
}
.date-picker{
	cursor: pointer;
	&__icon{
		position: absolute;
		right: 68px;
		top: 12px;
		color: #999999;
		font-size: 20px;

	}
	input{
		min-width: calc(100% - 52px);
	}
}
.fz-22{
	font-size: 22px;
	@media (max-width: map-get($grid-breakpoints, sm)){
		font-size: 20px;
	}
}
.fw-600{
	font-weight: 600;
}
.lh{
	&_1{
		line-height: 1rem;
		&_25{
			line-height: 1.25rem;
		}
		&_5{
			line-height: 1.5rem;
		}
	}
}
.h-link{
	display: block;
	@media (max-width: map-get($grid-breakpoints, sm)){
        display: flex;
		justify-content: space-between;
    }
    &_start{
    	@media (max-width: map-get($grid-breakpoints, sm)){
	        display: flex;
			justify-content: start;
			.around-link-icon{
				margin-right: 8px;
			}
	    }
    }
	@include hover-focus-active{
		color: inherit;
		text-decoration: none;
		.around-link-icon{
			color: #333;
			border: solid 2px #cccccc;
			text-decoration: none;
			&_mini{

				color: #999;
				border-color: #999;
				text-decoration: none;
			}
		}
		
	}
}
.sort{
	border-top: 1px solid #dddddd;
	padding-top: 16px;
	padding-bottom: 16px;
	margin-bottom: 8px;
	&__item{
		display: inline-block;
		margin-right: 40px;
		line-height: 1.5;
		&:last-child{
			margin-right: 0;
		}

	}
	&__label{
		margin-right: 8px;
	}
	&__link{
		position: relative;
		color: $brand-color;
		@include hover-focus-active{
			color: lighten($brand-color,10%);
			text-decoration: none;
		}
		padding-right: 24px;

		&:after{
			position: absolute;
			right: 0;
			top: 0;
			height: 24px;
			width: 24px;
			content: '';
			background: url(#{$imagepath-svg}arrow-accordion.svg) 50% 50% no-repeat;
		}
	}

}
.list-style{
	list-style: none;
	padding: 0;
	margin: 0;
	li{
		margin-bottom: 8px;
		padding-left: 37px;
		position: relative;

		&:before{
			position: absolute;
			content: '';
			left: 12px;
			top: 10px;
			width: 6px;
			height: 6px;
			border-radius: 3px;
			background: #333;
		}

	}
}
.block-around-border{
	border-radius: 8px;
	border: 1px solid #dddd;
	padding: 22px 32px 0;
	margin-bottom: 32px;

	@media (max-width: map-get($grid-breakpoints, lg)){
		padding: 20px 20px 0;
	}
}
.body{
	padding-bottom: 80px;
	@media (max-width: map-get($grid-breakpoints, sm)){
		padding-bottom: 56px;
	}
}
.page__title{
	padding-bottom: 9px;
}
.container {
    max-width: 1152px;
}
.color{
	&_gray{
		color: #cccccc;
		&_dark{
			color: #999999;

		}
	}
	&_white{
		color: #fff;
	}
	&_red{
		color: #d90600;
	}
	&_black{
		color: #333;
	}
}

.paddin-border{
	padding-top: 12px;
	padding-bottom: 12px;
}
.tags{
	border-radius: 8px;
	border: solid 1px rgb(221, 221, 221);
	padding: 10px;
	&__label{
		padding-right: 8px;

		.products &, .cards__prices-block & {
			@media (max-width: map-get($grid-breakpoints, lg)){
				font-size: 12px;
			}
		}
	}
	&__item{
		font-size: 14px;
  		font-weight: 600;
  		line-height: 24px;
		padding-left: 8px;
		padding-right: 0px;
		color:  $brand-color;
		display: inline-block;
		border-radius: 8px;
  		background-color: rgba(92, 68, 193, 0.16);
  		height: 24px;
  		white-space: nowrap;
  		cursor: pointer;
  		@media (max-width: map-get($grid-breakpoints, sm)){
  			font-size: 12px;
  			padding-left: 6px;
  			height: 20px;
  			line-height: 12px;
  			padding-top: 4px;
  		}
  		@include hover-focus-active{
  			background-color: rgba(92, 68, 193, 0.32);
  		}
  		&_red{
  			background-color: rgb(254, 228, 227);
  			color: #fb5550;
  			@include hover-focus-active{

  				background-color: rgba(251, 85, 80, 0.32);

  			}
  		}
  		&_gray{
  			background-color: #efefef;
  			color: #999;
			@include hover-focus-active{
				color: #333;
  				background-color: #ddd;
  			}
  		}
  		&_no-active{
  			@include hover-focus-active{
  				cursor: default;
  			}
  		}
	}
	&__button{
		text-align: center;
		color:  inherit;
		width: 24px;
		height: 24px;
		font-size: 9px;
		@media (max-width: map-get($grid-breakpoints, sm)){
			height: 12px;
		}
	}
	&__filter-clear{
		font-size: 14px;
  		font-weight: 600;
  		color: #999;
		@media (max-width: map-get($grid-breakpoints, sm)){
			font-size: 12px;
		}
  		@include hover-focus-active{
  			color: #999;
  			text-decoration: none;
  		}
  		.tags__button{
  			color: #dddddd;
  		}
	}
	&_catalog{
		margin-bottom: 32px;
	}
}
.banner{
	margin-bottom: 32px;
	&_link{
		&_mobile{
			display: none;
		}
		@media (max-width: map-get($grid-breakpoints, sm)){
	        display: none;
	        &_mobile{
	        	display: block;
	        }
	    }
	}
	&__img{
		border-radius: 8px;
		width: 100%;
		max-width: 100%;
	}
}
.pagination{

	font-size: 0px;
	margin-top: 24px;
	margin-bottom: 56px;
	&__list{
		margin: 0 auto;
		padding: 0;
	}
	&__item{

		font-size: 1rem;
		line-height: 1rem;
		display: inline-block;
		
		text-align: center;
		margin-right: 8px;
		@media (max-width: map-get($grid-breakpoints, sm)){
			font-size: 14px;
		}
		&:last-child{
			margin-right: 0;
		}
		&_active{
			
			
			.pagination__link{
				background: $brand-color;
				border: solid 2px $brand-color;
				color: #fff;
				@include hover-focus-active{
					color: #fff;
					border: solid 2px $brand-color;
				}

			}
		}
		&_around{
			.pagination__link{
				border: solid 2px #dddddd;
			}
		}
		&_arrow{
			font-size: 13px;
			&-back{
				transform: rotate(180deg);
			}
		}

	}
	&__link{
		padding-top: 15px;
		border-radius: 8px;
		font-weight: 600;
		display: block;
		width: 48px;
		height: 48px;
		color: $default-color; 
		border: solid 2px transparent;
		@media (max-width: map-get($grid-breakpoints, sm)){
			width: 40px;
			height: 40px;
			padding-top: 10px;
		}
		@include hover-focus-active{
			border: solid 2px #cccccc;
			color: $default-color;
			text-decoration: none;
		}
	}

	&-more {
		color: #000;
		line-height: 35px;
		text-align: center;

		@media (min-width: map-get($grid-breakpoints, md)){
			line-height: 45px;
		}
	}
}

.multi-filter{
 	box-shadow: 0 6px 16px 0 rgba(153, 153, 153, 0.08);
  	background-color: rgb(255, 255, 255);
	border-radius: 8px;
	overflow: hidden;
	margin-bottom: 56px;
	&__footer{
		padding: 14px 24px;
	}
	&__btn{
		display: block;
		width: 100%;	
		background: none;
		border: none;
		padding: 2px 0;
		color: #999;
		font-size: 0.875rem;
		line-height: 1.25rem;
		cursor: pointer;
		position: relative;	
		text-align: left;
		&:after{
			position: absolute;	
			content: "\e903";
			font-family: 'icomoon';
			right: 0;	
			top: 0;	
			height: 24px;
			width: 24px;	
			text-align: center;	
			line-height: 1.5rem;
			font-size: 10px;	
			color: #dddddd;
		}
	}
}

.list-category{
	list-style: none;
	padding: 0;
	margin: 0;
	&__item{
		line-height: 1.5rem;
		margin-bottom: 5px;
		vertical-align: top;
		&.active{
			.list-category__link{
				color: $default-color;
			}
		}
		& > ul{
			list-style: none;
			padding-left: 16px;
		}
	}
	&__link{
		
		color: #999;
		font-size: .875rem;
		@include hover-focus-active{
			color: #333333;
			text-decoration: none;
		}
	}
	&__count{
		color: #aaa;
	}
	&_color-dark{
		.list-category{
			&__link{
				color: #333333;
				&:hover{
					color: $brand-color;
					.list-category__count{
						color: inherit;
					}
				}
				
			}
			&__item{

				&.active{
					.list-category__link{
						color: $brand-color;
					}
					.list-category__count{
						color: inherit;
					}
				}
			}
		}
	}
}

.checkbox-list{
	&__list{
		padding: 0;
		margin: 0;
		list-style: none;
	}
	&__btn-more{
		font-size: 14px;
	}
}

.list-color{
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	&__item{
		display: inline-block;
		height: 24px;
		width: 24px;
		margin-right: 10px;
		margin-bottom: 12px;
		line-height: 1.5rem;
	}
	&__checkbox{
		display: none;
		&:checked +.list-color__label{
			&:before{
				position: absolute;
				line-height: 23px;
				left: 0.5px;
				width: 24px;
				text-align: center;
				font-size: 8px;
				font-family: 'icomoon';
				content: "\e923";
				z-index: 1;
				color: #fff;
			}
			&:hover{

				&:before{
					display: none;
				}
				&:after{
					position: absolute;
					line-height: 23px;
					left: 0.5px;
					width: 24px;
					text-align: center;
					font-size: 8px;
					font-family: 'icomoon';
					content: "\e903";
					z-index: 1;
					color: #999999;
				}
			}
		}
	}
	&__label{
		margin: 0;
		cursor: pointer;
		position: relative;
		display: inline-block;
		width: 24px;
		height: 24px;
		border-radius: 12px;
		&:hover{
			&:before{
				position: absolute;
				line-height: 23px;
				left: 0.5px;
				width: 24px;
				text-align: center;
				font-size: 8px;
				font-family: 'icomoon';
				content: "\e923";
				z-index: 1;
				color: #fff;
			}
			opacity: .9;
		}

	}
}

.reg-form{
	background: #fff;
	overflow: hidden;
	border-radius: 8px;
	box-shadow: 0 6px 16px 0 rgba(153, 153, 153, 0.08);
	
	@media (max-width: map-get($grid-breakpoints, sm)){
		background: url(#{$imagepath}reg374.jpg) no-repeat;
		background-position: 50% 0;
		padding: 200px 0 0;
		border-radius: 0;
	}
	&__form{
		&-container{
			@media (max-width: map-get($grid-breakpoints, lg)){
				padding: 32px 24px;
				background: #fff;
				border-radius: 8px;
			}
			padding: 64px 80px;
		}
		border-bottom: 1px solid #ededed;
	}
	&__image{
		width: 100%;
		height: 100%;
		background: url(#{$imagepath}reg.jpg) no-repeat;
		background-size: cover;
	}
	&__top{
		&-login{
			font-size: 0.875rem;
			line-height: 1.25rem;
			@media (max-width: map-get($grid-breakpoints, sm)){
				font-size: 12px;
				line-height: 1rem;
			}
		}
		margin-bottom: 1.5rem;
	}

}

.social-reg-list{

	list-style: none;
	font-size: 0;
	margin: 24px 0 0;
	padding: 0;
	&_lk{
		
	}
	&__item{
		position: relative;
		display: inline-block;
		font-size: 48px;
		line-height: 48px;
		width: 48px;
		height: 48px;
		border: solid 2px rgba(153, 153, 153, 0.3);
		border-radius: 24px;
		margin-right: 16px;
		@include hover-focus-active{
			border: solid 2px rgba(153, 153, 153, 0.64);
		}
		&.active{
			&.social-reg-list{
				&__item{
					&_vk{
						background: #5281b8;
						border: solid 2px #5281b8;
					}	
					&_fb{
						background: #4367b2;
						border: solid 2px #4367b2;
						
					}
					&_ok{
						background: #f7931e;
						border: solid 2px #f7931e;
					}	
					&_g{
						background: #ea4335;
						border: solid 2px #ea4335;
					}	
				}
			}
			& .social-reg-list{
				&__link{
					color: #fff;
				}	
				&__close{
					display: block;
				}
			}
		}
	}
	&__link{
		margin-top: -1px;
		margin-left: -1px;
		display: inline-block;
		color: #999999;
		line-height: 48px;
		text-decoration: none;
		@include hover-focus-active{
			color: #999999;
			text-decoration: none;
		}
	}
	&__close{
		display: none;
		text:center;
		line-height: 7px;
		background: #fff;
		position: absolute;
		right: -4px;
		top: -4px;
		font-size: 7px;
		width: 21px;
		height: 21px;
		color: #999999;
		border-radius: 10.5px;
		border: 1px solid #ddd;
		&:hover{
			border-color: #999;
		}
	}
}


.nav {
	flex-wrap: nowrap;
	&-tabs {
		border-bottom: none;

		@media (max-width: map_get($grid-breakpoints, md)) {
			padding: 0 12px;
			overflow-x: auto;
			overflow: -moz-scrollbars-none;
			-ms-overflow-style: none;

			&::-webkit-scrollbar {
				width: 0 !important;
				height: 0 !important;
			}
		}
		.nav-link {
			color: #999;
			border: none;
			white-space: nowrap;
			&.active {
				color: #333;
				background-color: transparent;
				border-color: transparent;
			}
		}
	}

	&-item {
		margin-right: 40px;

		.nav-tabs--righted & {

			&:last-of-type {
				margin-right: 0;
			}
		}
	}

	&-link {
		position: relative;
		padding: .5rem 1rem 24px;
		font-weight: 600;

		.nav-tabs--big & {
			font-size: 2rem;

			@media (max-width: map-get($grid-breakpoints, lg)) {
				font-size: 1rem;
			}
		}

		.nav-tabs--righted &, .nav-tabs--lefted & {
			padding: 0 0 24px;

			@media (max-width: map_get($grid-breakpoints, lg)) {
				padding-bottom: 17px;
			}
		}

		@media (max-width: map_get($grid-breakpoints, lg)) {
			padding-bottom: 17px;
		}

		&:after {
			position: absolute;
			left: 0;
			bottom: 0;
			border-radius: 4px 4px 0 0;
			width: 100%;
			height: 4px;
			content: "";
		}

		&:hover, &:active, &:focus {
			color: #666;
			&:after {
				background-color: #ddd;
			}
		}

		&.active {
			&:after {
				background-color: #5c44c1;
			}
		}
	}
}

.jsTabSwipe {
	overflow: hidden;
	.owl-item {
		display: inline-block;
	}
	.disabled {
		display: none;
	}
}

.success-modal{
	&__title{
		font-size: 32px;
		line-height: 2.5rem;
		margin-bottom: 24px;
	}
}

.mobile{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	overflow-x: hidden;
	overflow-y: auto;
	&-open{
		overflow: hidden;
		//padding-right: 17px;

		.mobile{
			z-index: 1022;

			&-panel{
				-webkit-transition: 0.2s 0.01s;
				transition: width 0.2s 0.01s;
				width: 374px;
				overflow: visible;
				&-overlay{
					display: block;
				}
			}
			&-overlay{
				display: block;
			}

		}

	}
	&-menu{
		margin: 0;
		padding: 0;
		list-style: none;
		line-height: 1.5rem;
		border-top: 1px solid #ededed;
		&__link{
			position: relative;
			color: inherit;
			font-size: 1rem;
			background: #f6f5f5;;
			
			display: block;
			padding: 11px 16px 12px;
			@include hover-focus-active{
				text-decoration: none;
				color: $brand-color;
				 
				.persone-menu__icon{
					color: inherit;
			
				}
				&:before{
					color: inherit;

				}
			}
			&:before{
				content: "\e90b";
				position: absolute;
				color: #dddddd;
				right: 20px;
				top: 50%;
				margin-top: -12px;
				font-size: 10px;
				font-family: 'icomoon'
			}
		}
		&__item{
			border-bottom: 1px solid #ededed;
			&:last-child{
				border-bottom: 0px solid #ededed;
			}
			@include hover-focus-active{
				.mobile{
					&-menu{
						&__link{
							background: #fff;
							&:before{
								display: none;
							}
						}
					}
					&-category{
						display: block;
					}
				}

			}
			&.active{

				color: $brand-color;
				.persone-menu__icon{
					color: inherit;

				}
			}
			
		}
		&__icon{
			font-size: 24px;
			color: #999;
			
		}


	}
	&-category{
		position: absolute;
		display: none;
		left: 100%;
		width: 600px;
		top: 64px;
		padding: 32px;	
		background: #ffffff;
		&__title{
			margin-bottom: 12px;
		}
		&__list{
			font-size: 14px;
			list-style: none;
			margin-bottom: 20px;
			padding: 0;
			li{
				margin-bottom: 8px;
			}
		}
	}
	&-panel{
		
		background: #f6f5f5;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1022;
		width: 0px;
		overflow: hidden;
		min-height: 100%;
		-webkit-transition: 0.1s 0.01s;
    	transition: width 0.1s 0.01s;
		&__header{
			&-top{
				height: 64px;

			}
			&-bottom{
				padding: 17px;
				border-top: 1px solid #ededed;
			}
		}
		&-overlay{
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 1021;
			display: none;
		}
	}
	
	&-overlay{
		display: none;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 1020;
		background-color: #000;
		opacity: .5;
	}
}
.lk-block{
	z-index: 20;
	width: 288px;
	position: absolute;
	top: 30px;
	right: -5px;
	border-radius: 8px;
  	box-shadow: 0 8px 24px 0 rgba(153, 153, 153, 0.24);
  	background-color: #fff;
  	padding: 92px 24px 24px;

	&--authed {
		right: -15;
		padding: 65px 0 0;
	}

	.fixed & {
		top: -32px;
	}
}

.box{
	border-radius: 8px;
  	box-shadow: 0 6px 16px 0 rgba(153, 153, 153, 0.08);
  	background-color: rgb(255, 255, 255);
  	padding: 32px;

	@media (max-width: map_get($grid-breakpoints, md)) {
		padding: 24px 16px;
	}
}
@media (max-width: map-get($grid-breakpoints, sm)){
	.accordion .card{
		//box-shadow: 0 6px 16px 0 rgba(153, 153, 153, 0.08), inset 0 -1px 0 0 rgb(237, 237, 237);
	}
	.card-header{
		padding-top: 11px;
		padding-left: 16px;
	}
	.card-container{
		padding: 0 16px 5px;
	}
	.card-header::after{
		right: 16px;
	}
}

.preloader{
	position: relative;
	& > * {
		opacity: 0.5;
	}
	&:before{
		content: '';
		width: 100%;
		height: 100%;
		z-index: 10;
		position: absolute;
	}
	
	&:after{
		position: absolute;
		left: 50%;
		top: 300px;
		margin-left: -40px;
		margin-top: -40px;
		display: block;
		content: "";
		z-index: 11;
		width: 80px;
		height: 80px;
		background: url(/web/src/img/svg/oval.svg) 50% 50% no-repeat;
		background-size: cover;
		font-size: 100px;

	}
}
label.btn-type-input {
	padding: .375rem .75rem;
}

.chart {
	&s {
		&-list {
			display: flex;
			align-items: normal;

			@media (max-width: map_get($grid-breakpoints, lg)) {
				align-items: center;
				margin-bottom: 22px;

				&:last-of-type {
					margin-bottom: 0;
				}
			}

			@media (max-width: map_get($grid-breakpoints, sm)) {
				flex-direction: column;
			}
		}
	}
	&-block {
		width: 65%;
		border-right: 1px solid #f3f2f2;
		border-left: 1px solid #f3f2f2;
		box-sizing: content-box;

		@media (max-width: map_get($grid-breakpoints, lg)) {
			width: 55%;
		}

		@media (max-width: map_get($grid-breakpoints, sm)) {
			width: 100%;
		}
	}
	&-desc {
		width: 35%;
		padding-left: 2rem;

		@media (max-width: map_get($grid-breakpoints, lg)) {
			width: 45%;
			display: flex;
			padding-top: 1rem;
		}

		@media (max-width: map_get($grid-breakpoints, sm)) {
			width: 100%;
			padding-left: 0;
		}
	}
	&-title {
		font-size: 1rem;
		font-weight: 600;

		@media (max-width: map_get($grid-breakpoints, lg)) {
			font-size: 0.875rem;
			width: 45%;
		}
	}
	&-middle-price {
		font-size: 32px;
		line-height: 1;
		margin: 10px 0;

		@media (max-width: map_get($grid-breakpoints, lg)) {
			font-size: 24px;
			margin: 0 0 5px;
		}
	}
	&-prices-range {
		font-size: 1rem;
		color: #999;

		@media (max-width: map_get($grid-breakpoints, lg)) {
			font-size: 0.875rem;
		}
	}

	&-price-wrapper {
		@media (max-width: map_get($grid-breakpoints, lg)) {
			width: 55%;
			padding-left: 1rem;
		}
	}
}

#pricesChart, #cashbackChart {
	//width: 335px !important;
	height: 130px !important;

	@media (max-width: map_get($grid-breakpoints, lg)) {
		height: 96px !important;
	}
}

.icon-trash {
	position: relative;
	display: inline-block;
	width: 24px;
	height: 24px;
	background-color: transparent;
	border: 2px solid #dbdbdb;
	border-radius: 50%;
	margin-right: 8px;

	&:before {
		content: '';
		position: absolute;
		left: 6px;
		top: 8px;
		width: 8px;
		height: 8px;
		background-color: #dbdbdb;
		border-radius: 0 0 2px 2px;
	}

	&:after {
		content: '';
		position: absolute;
		left: 8px;
		top: 7px;
		width: 4px;
		height: 7px;
		background-color: #fff;
	}

	span {
		position: absolute;
		left: 5px;
		top: 5px;
		width: 10px;
		height: 2px;
		background-color: #dbdbdb;

		&:before {
			content: '';
			position: absolute;
			top: -1px;
			left: 4px;
			width: 2px;
			height: 1px;
			background-color: #dbdbdb;
		}
	}
}

.persone{
	overflow: hidden;
	background: #fff;
	border-radius: 8px;
	box-shadow: 0 6px 16px 0 rgba(153, 153, 153, 0.08);
	margin-bottom: 24px;
	&-menu{
		margin: 0;
		padding: 0;
		list-style: none;
		line-height: 1.5rem;
		border-top: 1px solid #ededed;
		&__link{
			font-weight: 600;
			color: inherit;
			font-size: 1rem;
			background: #fff;

			display: block;
			padding: 11px 24px 12px;
			@include hover-focus-active{
				color: inherit;
				text-decoration: none;
				.persone-menu__icon{
					color: inherit;

				}
			}
		}
		&__item{
			border-bottom: 1px solid #ededed;
			&:last-child{
				border-bottom: 0px solid #ededed;
			}
			@include hover-focus-active{
				color: $brand-color;
			}
			&.active{
				color: $brand-color;
				.persone-menu__icon{
					color: inherit;

				}
			}
		}
		&__icon{
			font-size: 24px;
			color: #999;

		}
		&__select {
			float: left;
			width: 50%;
			padding: 29px 16px;
		}

		&__name {
			.lk-block--authed & {
				text-align: left;
			}
		}
	}
	&-info{
		background: #fff;
		padding: 32px 24px;
		font-size: 14px;
		color: #999;
		line-height: 1.25rem;
		@media (min-width: map_get($grid-breakpoints, sm)) and (max-width: map-get($grid-breakpoints, lg)){
			float: left;
			width: 50%;
			padding: 16px;

			.lk-block--authed & {
				float: none;
				width: auto;
			}
		}

		.lk-block--authed & {
			text-align: right;
			padding: 24px 32px;
		}

		&__img{
			width: 56px;
			height: 56px;
			border-radius: 28px;
			margin-bottom: 12px;
			@media (max-width: map-get($grid-breakpoints, sm)){
				margin-right: 8px;
			}

			.lk-block--authed & {
				width: auto;
				height: auto;
				margin-bottom: 0;
				text-align: right;
			}
		}
		&__name{
			color: #333;
			font-size: 16px;
			font-weight: 600;
			line-height: 20px;
			margin-bottom: 4px;

			@media (min-width: map-get($grid-breakpoints, lg)){
				font-size: 16px;
				line-height: 1.5rem;
			}

			.lk-block--authed & {
				margin: 15px 0;
			}
		}

		&__mb-info{
			@media (max-width: map-get($grid-breakpoints, lg)){
				margin-left: 72px;
			}
		}

		@media (max-width: map_get($grid-breakpoints, lg)) {
			&__id, &__desc {
				font-size: 12px;
				line-height: 16px;
			}
		}

		&__desc {
			.lk-block--authed & {
				font-size: 2rem;
			}
		}
	}
	&-img-block {
		position: relative;
		display: inline-block;
		width: 56px;
		height: 56px;
		background: linear-gradient(135deg, #8F6CBE 0%, #994B96 35%, #BE4E7B 65%, #E25362 100%);
		color: #fff;
		font-size: 18px;
		font-weight: 700;
		text-align: center;
		text-transform: capitalize;
		padding-top: 18px;
		border-radius: 50%;

		.badge {
			position: absolute;
			top: 0;
			right: 0;
			font-size: 0.65rem;
		}
	}
}

.show-more-block {
	display: none;
}
.hidden-block-opened {
	.show-more-block {
		display: block;
	}
	.show-more-btn {
		display: none;
	}
}

.lk-overlay {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 19;
	background-color: transparent;
}

.card {
	&-header {
		color: #333;

		&:hover {
			color: inherit;
			text-decoration: none;
		}

		&.no-items:after {
			content: "";
		}
	}
}

.overflow {
	overflow: hidden;
}