@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto/Roboto-Light.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto/Roboto-Regular.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto/Roboto-Medium.ttf');
    font-weight: 600;
    font-style: normal;
}