@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?a2hc3u');
  src:  url('fonts/icomoon.eot?a2hc3u#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?a2hc3u') format('truetype'),
    url('fonts/icomoon.woff?a2hc3u') format('woff'),
    url('fonts/icomoon.svg?a2hc3u#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-rouble:before {
  content: "\e929";
}
.icon-credit-card:before {
  content: "\e928";
}
.icon-apple-logo-black-copy:before {
  content: "\e900";
}
.icon-viewed:before {
  content: "\e901";
}
.icon-category-view-list:before {
  content: "\e902";
}
.icon-x:before {
  content: "\e903";
}
.icon-multi-select:before {
  content: "\e904";
}
.icon-gift:before {
  content: "\e905";
}
.icon-category-view-block:before {
  content: "\e906";
}
.icon-notebook:before {
  content: "\e907";
}
.icon-mobile:before {
  content: "\e908";
}
.icon-rub:before {
  content: "\e909";
}
.icon-hands:before {
  content: "\e90a";
}
.icon-arrow:before {
  content: "\e90b";
}
.icon-cart:before {
  content: "\e90c";
}
.icon-city:before {
  content: "\e90d";
}
.icon-arrow-right:before {
  content: "\e90e";
}
.icon-uniE90F:before {
  content: "\e90f";
}
.icon-social-vk:before {
  content: "\e910";
}
.icon-social-facebook:before {
  content: "\e911";
}
.icon-proc:before {
  content: "\e912";
}
.icon-social-ok:before {
  content: "\e913";
}
.icon-star:before {
  content: "\e914";
}
.icon-uniE915:before {
  content: "\e915";
}
.icon-clock:before {
  content: "\e916";
}
.icon-social-gplus:before {
  content: "\e917";
}
.icon-interface:before {
  content: "\e918";
}
.icon-ic-plus:before {
  content: "\e919";
}
.icon-rub2:before {
  content: "\e91a";
}
.icon-menu:before {
  content: "\e91b";
}
.icon-faq:before {
  content: "\e91c";
}
.icon-search:before {
  content: "\e91d";
}
.icon-xiaomi-logo-copy:before {
  content: "\e91e";
}
.icon-referals:before {
  content: "\e91f";
}
.icon-review:before {
  content: "\e920";
}
.icon-setting:before {
  content: "\e921";
}
.icon-arrow-accordion:before {
  content: "\e922";
}
.icon-tick-disabled:before {
  content: "\e923";
}
.icon-stars2:before {
  content: "\e924";
}
.icon-profile:before {
  content: "\e925";
}
.icon-filters:before {
  content: "\e926";
}
.icon-heart:before {
  content: "\e927";
}
.icon-stats-bars:before {
  content: "\e99c";
}
.icon-gift1:before {
  content: "\e99f";
}
