.advantages{
	margin-bottom: 56px;
	color: #fff;
	padding: 40px 0 64px;
	background-image: linear-gradient(109deg, $brand-color, #fb5550);
	border-radius: 0 !important;

	&:last-of-type {
		margin-bottom: 0;
	}

	@media (max-width: map-get($grid-breakpoints, sm)){
		margin-bottom: 32px;
		padding-top: 20px;
	}
	&__image{
		width: 120px;
		max-width: 100%;
		font-size: 100px;
		line-height: 120px;
		text-align: center;
		margin-bottom: 24px;

		@media (max-width: map_get($grid-breakpoints, lg)) {
			width: 80px;
			font-size: 80px;
			margin-bottom: 0;
		}
	}
	&__name{
		font-size: 1.375rem;
		line-height: 2rem;
		margin-bottom: 8px;

		@media (max-width: map_get($grid-breakpoints, lg)) {
			font-size: 1rem;
			line-height: 1.5rem;
		}
	}
	&__item{
		margin-top: 32px;
		margin-right: 30px;
		&s{
			display: flex;
			justify-content: space-between;
			@media (max-width: map-get($grid-breakpoints, sm)){
				display: block;
			}
		}

	}
	&__text{
		font-size: 1rem;
		line-height: 1.5rem;
		color: rgba(255, 255, 255, 0.64);

		@media (max-width: map_get($grid-breakpoints, lg)) {
			font-size: 0.875rem;
			font-weight: 200;
		}
	}
	&__title{
		font-size: 2rem;
		font-weight: 600;
		line-height: 2.5rem;
		letter-spacing: normal;
		@media (max-width: map-get($grid-breakpoints, sm)){
			font-size: 1.5rem;
			line-height: 2rem;
		}
	}

}