.brands{

	&__item{
		height: calc(100% -32px);
		margin-bottom: 32px;
		display: block;
		background: #fff;
		padding: 24px;
		border-radius: 8px;
  		box-shadow: 0 6px 16px 0 rgba(153, 153, 153, 0.08);
		&:hover{
			.brands__img{
				filter: grayscale(0);
				opacity: 1;
			}
			box-shadow: 0 8px 24px 0 rgba(153, 153, 153, 0.24);
		}
		@media (max-width: map-get($grid-breakpoints, md)){
			padding: 16px;
			height: calc(100% - 16px);
			margin-bottom: 16px;
		}
	}
	&__img{
		max-width: 100%;
		max-height: 100%;
		filter: grayscale(1);
		opacity: 0.2;
		&-container{
			width: 100%;
			height: 40px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
	@media (max-width: map-get($grid-breakpoints, md)){
		padding-left: 8px;
		padding-right: 8px;
	}
}