.category{
	&__item{
		margin-bottom: 32px;
		padding: 24px;
		display: block;
		height: 128px;
		background: #fff;
		background-color: #fff;
		background-size: cover;
		background-position: 128px 0;
		background-repeat: no-repeat;
		border-radius: 8px;
  		box-shadow: 0 6px 16px 0 rgba(153, 153, 153, 0.08);
  		color: inherit;
  		@media (max-width: map-get($grid-breakpoints, lg)){
			height: 64px;
			padding: 20px 24px;
			background-size: contain;
			background-position-x: right;
			margin-bottom: 24px;
		}
  		&:hover{
  			color: inherit;
  			text-decoration: none;
  			box-shadow: 0 8px 24px 0 rgba(153, 153, 153, 0.24);
  		}
		

		&-container{

			display: flex;
			height: 100%;
			align-items: flex-end; 
			max-width: 70%; 
			font-size: 22px;
			line-height: 2rem;
			@media (max-width: map-get($grid-breakpoints, md)){
				font-size: 1rem;
				line-height: 1.5rem;
			}
		}
	}
	&__name {
		max-width: 170px;
	}
}
