.footer{
	background: #333;
	padding: 56px 0;
	color: #666666;
	@media (max-width: map-get($grid-breakpoints, sm)){
		padding: 0 0 4px;
		.btn-link{
			height: auto;
			margin-top: 4px;
		}
	}
	&__title{
		margin-bottom: 27px;
		min-height: 24px;
		color: rgb(255, 255, 255);
		font-size: 16px;
		font-weight: 600;
		line-height: 1.5;
		
	}
	&__logo{
		margin-bottom: 7px;
		color: #fff;
		font-size: 32px;
  		font-weight: 900;
  		line-height: 1.25;
  		a{
			color: #fff;
			&:hover, &focus{
				color: #fff;
				text-decoration: none;
			}
  		}
  		&-container{
  			@media (max-width: map-get($grid-breakpoints, sm)){
				border-bottom: 1px solid #444;
				clear: both;
				overflow: hidden;
  			}
  		}
  		@media (max-width: map-get($grid-breakpoints, sm)){
  			font-size: 24px;
  			line-height: 2rem;
  			margin-bottom: 16px;
  		}
	}
	&__pay-system{
		margin-top: 19px;
		font-size: 14px;
		line-height: 1.43;
		font-weight: normal;
		@media (max-width: map-get($grid-breakpoints, sm)){
			font-size: 12px;
		}
	}
	&-pay-system{
		margin-bottom: 16px;
		&__item{
			margin-left: 24px;
			@media (max-width: map-get($grid-breakpoints, sm)){
				margin-right: 16px;
				margin-left: 0;
			}
		}
	}
	&__copy{
		margin-top: 39px;
		font-size: 14px;
		line-height: 1.43;
		@media (max-width: map-get($grid-breakpoints, sm)){
			font-size: 12px;
			line-height: 1rem;
			margin-top: 8px;
		}
		font-weight: normal;
	}
	&__colum-menu{
		&:not(.footer__colum-menu_mobile){
			.menu_footer{
				display: block !important;
			}
		}
		&_mobile{
			border-bottom: 1px solid #444;
			.menu_footer{
				display: none ;
			}
			&.active{
				.footer__title{
					&:before{
						transform: rotate(-90deg);
					}
				}
			}
			.footer__title{
				cursor: pointer;
				margin-bottom: 0;
				padding: 16px 0;
				font-size: 14px;
				position: relative;

				&:before{
					content: "\e90b";
					position: absolute;
					right: 0;
					top: 50%;
					margin-top: -9px;
					font-size: 12px;
					transform: rotate(90deg);
					font-family: 'icomoon';
					opacity: 0.32;
					transition: transform 0.5s;
					
				}
			}
			.menu_footer{
				margin: 0;
			 	.menu__link{
			 		font-size: 14px;
			 	}
			}
		}
	}
	
}