.header {
	background: #fff;
	padding-top: 24px;

	> .container {
		position: relative;
	}

	&.fixed {
		position: fixed;
		padding: 0 0 10px !important;
		left: 0;
		top: 0;
		width: 100%;
		background: #fff;
		z-index: 100;
		--webkit-overflow-scrolling: touch;

		@media (max-width: map_get($grid-breakpoints, sm)) {
			padding-bottom: 0 !important;
		}

		.header__top-wrapper {
			display: none;
		}

		+ * {
			margin-top: 147px;

			@media (max-width: map_get($grid-breakpoints, md)) {
				margin-top: 137px;
			}
			@media (max-width: map_get($grid-breakpoints, sm)) {
				margin-top: 129px;
			}
		}
	}

	&__top {
		display: flex;
		align-items: baseline;

		&-wrapper {
			align-items: baseline;

			//@media (max-width: map_get($grid-breakpoints, md) - 1px) {
			//	align-items: center;
			//}
		}

		&--right {
			position: relative;
			justify-content: flex-end;
		}
	}

	&__logo {
		font-weight: 900;
		font-size: 30px;
		line-height: 1;

		@media (max-width: map_get($grid-breakpoints, md) - 1px) {
			font-size: 24px;
			line-height: 32px;
		}

		a{
			color: $default-color;
			&:hover, &:focus{
				color: $default-color;
				text-decoration: none;
			}
		}
	}

	&__mobile {
		display: block;

		@media (min-width: map_get($grid-breakpoints, md)) {
			display: none;
		}
	}

	&__big {
		display: flex;
		align-items: flex-end;

		@media (max-width: map_get($grid-breakpoints, md) - 1px) {
			.header__top--right & {
				display: none;
			}
		}
	}

	&__bottom {
		&-wrapper {
			@media (max-width: map_get($grid-breakpoints, md)) {
				margin-bottom: 12px;
			}
			.fixed & {
				height: 64px;
				margin-bottom: 0;
			}
			.header__float {
				&.active {
				//	position: fixed;
				//	padding: 0;
				//	left: 0;
				//	top: 0;
				//	width: 100%;
				//	background: #fff;
				//	z-index: 100;
				//	--webkit-overflow-scrolling: touch;
				//
				//	.container {
				//		align-items: center;
				//		padding: 12px;
				//	}
				}

				.container {
					padding: 12px 0;
					display: flex;
					justify-content: space-between;
				}
			}
		}
	}

	&__catalog-wrapper {
		width: 30%;
		max-width: 256px;
		margin-right: 32px;

		@media (max-width: map_get($grid-breakpoints, md) - 1px) {
			display: none;
			margin-right: 12px;

			.header__float.active & {
				display: block;
				width: 35px;

				.icon-menu {
					font-size: 1.9rem;
				}
			}
		}

		@media (min-width: map_get($grid-breakpoints, md)) and (max-width: map_get($grid-breakpoints, lg)){
			margin-right: 24px;
		}
	}

	&__search-wrapper {
		width: 50%;
		position: relative;

		@media (max-width: map_get($grid-breakpoints, md) - 1px) {

			width: 100%;

			.header__float.active & {
				width: calc(100% - 105px);
			}
		}
		@media (min-width: map_get($grid-breakpoints, lg)) {
			width: 55%;
		}
	}

	&__actions-wrapper {
		width: 20%;
		max-width: 300px;

		@media (max-width: map_get($grid-breakpoints, md)) {
			.header__float.active & {
				display: block;
				width: 55px;
				text-align: right;
			}
		}
	}
}

.profile-group-icons {
	position: relative;
	align-items: center;
	justify-content: flex-end;

	.header__float & {
		display: none;

		@media (min-width: map_get($grid-breakpoints, md)) {
			display: flex;
		}
	}

	.header__float.active & {
		display: flex;
	}

	.btn-icon {
		line-height: 22px;
		margin-right: 16px;

		@media (min-width: map_get($grid-breakpoints, md)) {
			margin-right: 2vw;
		}
		@media (min-width: map_get($grid-breakpoints, xl)) {
			margin-right: 1.5vw;
		}

		.badge {
			position: absolute;
			top: -8px;
			right: -10px;
			font-size: 0.5rem;

			&-danger {
				background-color: #fb5550;
			}
		}
		&:last-of-type {
			margin-right: 0;
		}
	}
}