
.how-works{
	&__link{
		color: #333;
		@include hover-focus-active{
			color: #fb5550;
			text-decoration: none;
		}
	}
	margin-bottom: 52px;
	@media (max-width: map-get($grid-breakpoints, sm)){
		margin-bottom: 32px;
	}
	&__icon{
		line-height: 64px;
		height: 64px;
		font-size: 64px;
		@media (max-width: map-get($grid-breakpoints, sm)){
			font-size: 46px;
			max-width: 66px;
			margin-right: 16px; 
			justify-content: center;
		}

		&_notebook{
			font-size: 50px;
			@media (max-width: map-get($grid-breakpoints, sm)){
				font-size: 44px;
			}
		}
		&_mobile{
			font-size: 61px;
			@media (max-width: map-get($grid-breakpoints, sm)){
				font-size: 46px;
			}
		}
	}
}
