.menu{
	font-size: 0;
	padding-left: 0;
	//margin-top: 15px;
	list-style: none;

	&_footer{
		& .menu__item{
			margin-left: 0;
			margin-bottom: 12px;
			line-height: 1.25;
			display: block;
		}
		& .menu__link{
			color: rgb(153, 153, 153);
			font-size: 14px;
			line-height: 1.25;
			&:hover, &:focus, &:active{
				color: #cccccc;
				text-decoration: none;
			}
		}
	}
	&__item{
		display: inline-block;
		font-size: 16px;
		margin-left: 23px;

		&:first-of-type {
			margin-left: 0;
		}

		@media (min-width: map_get($grid-breakpoints, lg)) {
			margin-left: 37px;
		}
	}
	&__link{
		color: $default-color;
		font-size: 14px;
		font-weight: 600;
		line-height: 1.71;
		&:hover, &:active, &:focus{
			color: #666666;
			text-decoration: none;
		}
	}
}