.mmenu {
  position: fixed;
  top: 0;
  left: -400px;
  height: 100%;
  width: 400px;
  background: #f6f5f5;
  overflow: visible;
  z-index: 1025;
  transition: left 0.3s linear;

  @media (max-width: map_get($grid-breakpoints, lg)) {
    display: none;
  }

  body.mobile-open & {
    left: 0;
  }

  &__body {
    position: relative;

    &-wrapper {
      position: relative;
      overflow-y: auto;

      &::-webkit-scrollbar {
        width: 0;
      }

      body.mobile-open & {
        width: 100vw;
      }
    }
  }

  &__header {
    border-bottom: 1px solid #ededed;
  }

  &-list {
    list-style: none;
    width: 400px;
    background: #f6f5f5;
    padding: 0;
    margin: 0;

    &__item {
      font-size: 1rem;
      color: #333;

      &:hover {
        background: #ffffff;
        overflow: visible;
      }

      &.has-sub-menu {
        &.hover, &:hover {
          .mmenu-list__card {
            display: block;
          }
        }
        .mmenu-list {
          display: none;
        }
      }

      a {
        color: inherit;
      }
    }

    &__link {
      position: relative;
      display: block;
      padding: 16px 48px 16px 16px;
      border-bottom: 1px solid #ededed;

      &:after {
        content: "\e90b";
        position: absolute;
        right: 20px;
        top: 50%;
        font-size: 10px;
        font-family: 'icomoon';
        color: #dddddd;
        margin-top: -6px;
      }

       &:hover, .mmenu-list__item.hover & {
         &:after {
           content: '';
         }
       }
    }

    &__card {
      position: fixed;
      left: 400px;
      display: none;
      width: 600px;
      min-height: 300px;
      background: #ffffff;
      padding: 30px 32px;
      overflow-y: auto;


      &-header {
        margin-bottom: 30px;
      }

      &-title {
        font-size: 32px;
        line-height: 1;
        text-decoration: none;
      }
    }

    &__inner {

      a {
        line-height: 1.5rem;
      }

      &-header, &-item {
        margin-bottom: 10px;
      }

      &-header a {
        font-size: 1rem;
        font-weight: 500;
      }

      &-item a {
        font-size: 0.875rem;
        color: #909090;
      }

      & + .mmenu-list__inner {
        margin-top: 20px;
      }
    }
  }

  &-actions {
    font-size: 0;
    padding: 20px 16px;
  }

  &-close {
    display: inline-block;
    font-size: 0.875rem;
    vertical-align: middle;
  }

  &-closer {
    width: 24px;
    height: 24px;
    font-size: 9px;
    color: #dddddd;
    line-height: 19px;
    border: 2px solid #dddddd;
    border-radius: 12px;
  }

  &-geo {
    width: 400px;
    padding: 16px;
    border-bottom: 1px solid #ededed;
  }
}


.menu-mobile {
  display: none;
}

.mm-navbar {
  height: 64px;
  font-size: 0.875rem;

  > * {
    padding: 25px;
  }
}

.mm-menu_navbar_top-1 .mm-panels {
  top: 64px;
}

.mm-listitem {
  color: #333;
}
.mm-listitem__text {
  padding-left: 16px;
}
.mm-listitem__btn:not(.mm-listitem__text) {
  border-left-width: 0;
}
.mm-listitem_selected>.mm-listitem__btn:not(.mm-listitem__text) {
  background: var(--mm-color-background-emphasis);
}
.mm-listitem:after {
  left: 0;
}
.mm-btn {
  &:before, &:after {
    width: 5px;
    height: 5px;
    border-color: #ddd;
  }
}

.mm-btn_prev, .mm-btn_close {
  top: 23px;
  width: 24px;
  height: 24px;
  padding: 0;
  border: 2px solid #ddd;
  border-radius: 50%;
}

.mm-btn_prev {

  &:before {
    left: 7px;
  }
}

.mm-btn_close {

  &:before {
    right: 3px;
  }
  &:after {
    left: 3px;
  }
}
.mm-navbar__btn {

  &:first-child {
    left: 16px;
  }
  &:last-child {
    right: 16px;
  }
}

.geolocation {
  padding: 12px 16px 10px;
}
