@mixin bg-and-bdrs {
	border-radius: 8px;
	background-color: #f6f5f5;
}
.products{
	@media (max-width: map-get($grid-breakpoints, sm)){
		padding-right: 8px; 
		padding-left: 8px; 
	}
	&__item{
		margin-bottom: 32px;
		padding: 24px;
		background: #fff;
		border-radius: 8px;
		height: calc(100% - 32px);
		box-shadow: 0 6px 16px 0 rgba(153, 153, 153, 0.08);
		&:hover{
			box-shadow: 0 8px 24px 0 rgba(153, 153, 153, 0.24);
			text-decoration: none;
			color: inherit;
		}
		@media (max-width: map-get($grid-breakpoints, lg)){
			height: calc(100% - 16px);
			padding: 24px 16px 16px;
			margin-bottom: 16px;
		}
	}
	&__header{
		position: relative;
		z-index: 1;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
	}
	&__like{
		line-height: 24px;
		color: #dddddd;

		&:hover {
			color: #5c44c1;
			text-decoration: none;
		}

		&.added {
			color: #5c44c1;
		}
	}
	&__images{
		display: flex;
		align-items: center;
		justify-content: center;
		height: 224px;
		margin-bottom: 24px;
		margin-top: -17px;

		@media (max-width: map_get($grid-breakpoints, md)) {
			height: 170px;
		}
		@media (max-width: map_get($grid-breakpoints, sm)) {
			height: 150px;
		}
	}
	&__img{
		max-width: 100%;
		max-height: 100%;
	}
	&__name{
		font-size: 1rem;
		line-height: 1.5rem;
		margin-bottom: 16px;
		color: #333;
		font-weight: 600;
		display: block;
		height: 48px;
		overflow: hidden;
		&:hover{
			color: #666;
			text-decoration: none;
		}
		@media (max-width: map-get($grid-breakpoints, lg)){
			font-size: 14px;
			line-height: 20px;
		}
		@media (max-width: map_get($grid-breakpoints, md)) {
			position: relative;
			left: 0;
			font-size: 0.875rem;
			line-height: 1.4;
			max-height: 35px;
			overflow: hidden;

			&:after {
				position: absolute;
				bottom: -3px;
				right: 0;
				content: '...';
				background: #ffffff;
			}
		}
	}
	&__old-price{
		
		font-size: 14px;
		line-height: 1rem;
		color:#999999;
		&-text{
			position: relative;
			&:before{
				position: absolute;
				top: 50%;
				left: 0;
				width: 100%;
				height: 1px;
				background: #999999;
				content: '';
			}
		}
		
	}

	&__price{

		font-size: 22px;
		font-weight: 600;
		line-height: 2rem;
		&_once{
			padding-top: 16px;
		}
		@media (max-width: map-get($grid-breakpoints, lg)){
			font-size: 1rem;
			line-height: 1.5rem;
		}
	}
	&__max-price{
		line-height: 1rem;
		font-size: 14px;
		color: #999999;

		@media (max-width: map-get($grid-breakpoints, lg)){
			font-size: 12px;
		}
	}
	&__cashback{
		margin-top: 8px;
		line-height: 1rem;
		&-icon{
			padding-left: 4px;
			padding-right: 4px;
			display: inline-block;
			font-size: .5rem;
			color: #fff;
			background: $brand-color;
			border-radius: 8px;
			height: 16px;
			text-align: center;
			vertical-align: middle;
			span{
				margin-left: 0.5px;
			}
			@media (max-width: map-get($grid-breakpoints, lg)){
				display: none;
			}
		}
		&-text{
			vertical-align: middle;
			margin-left: 8px;
			font-size: 14px;
			font-weight: 600;
			color: $brand-color;
			line-height: 1rem;
			@media (max-width: map-get($grid-breakpoints, lg)){
				margin-left: 0;
				font-size: 12px;

			}
		}
	}
	@media (max-width: map-get($grid-breakpoints, lg)){
		& .btn-buy{
			padding: 0;
			width: auto;
			height: auto;
			border: none;
			font-size: 20px;
		}
		
	}
}
.products-list{
	
	&__item{
		display: block;
		background: #fff;
		padding: 24px;
		margin-bottom: 32px;
		width: 100%;
		display: flex;
		justify-content: space-between;
		box-shadow: 0 6px 16px 0 rgba(153, 153, 153, 0.08);
		border-radius: 8px;
		text-decoration: none;
		color: inherit;
		&:hover{
			box-shadow: 0 8px 24px 0 rgba(153, 153, 153, 0.24);
			text-decoration: none;
			color: inherit;
		}

		@media (max-width: map_get($grid-breakpoints, sm)) {
			display: block;
			padding: 16px;
		}
	}
	&__images{
		margin-right: 24px;
		margin-top: 8px;
		width: 168px;
		height: 172px;
		display: flex;
		align-items: center;
		justify-content: center;

		@media (max-width: map_get($grid-breakpoints, sm)) {
			width: 100%;
			height: 150px;
		}
	}
	&__img{
		max-width: 100%;
		max-height: 100%;
	}
	&__left{
		position: relative;
	}
	&__body{
		margin-right: 48px;
		width: 50%;

		@media (max-width: map_get($grid-breakpoints, sm)) {
			width: 100%;
			margin-right: 0;
			.tags__item {
				position: absolute;
				top: 10px;
				left: 30px;
			}
		}
	}
	&__right{
		width: 152px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		@media (max-width: map_get($grid-breakpoints, sm)) {
			width: auto;
			margin-top: 1rem;
		}
	}
	&__like{
		position: absolute;
		top: 0;
		left: 0;
		line-height: 24px;
		color: #dddddd;

		&:hover {
			color: #5c44c1;
			text-decoration: none;
		}

		&.added {
			color: #5c44c1;
		}

		@media (max-width: map_get($grid-breakpoints, sm)) {
			top: -10px;
			right: 0;
			left: auto;
		}
	}
	&__description{
		font-size: 0.875rem;
		line-height: 1.25rem;
		color: #999;
		margin-top: 16px;
	}
	&__name{
		display: block;
		margin-top: 8px;
		font-size: 1rem;
		color: #333;
		left: 1.5rem;
		&:hover{
			color: #666;
			text-decoration: none;
		}

		@media (max-width: map_get($grid-breakpoints, sm)) {
			position: relative;
			left: 0;
			font-size: 0.875rem;
			line-height: 1.4;
			max-height: 35px;
			overflow: hidden;

			&:after {
				position: absolute;
				bottom: -3px;
				right: 0;
				content: '...';
				background: #ffffff;
			}
		}
	}
	&__old-price{
		
		font-size: 14px;
		line-height: 1rem;
		color:#999999;
		&-text{
			position: relative;
			&:before{
				position: absolute;
				top: 50%;
				left: 0;
				width: 100%;
				height: 1px;
				background: #999999;
				content: '';
			}
		}
		
	}

	&__price{

		font-size: 22px;
		line-height: 2rem;
		margin-bottom: 4px;
		&_once{
			padding-top: 16px;
		}
		@media (max-width: map_get($grid-breakpoints, sm)) {
			font-size: 16px;
			line-height: 1rem;
			margin-bottom: 0;

			span {
				font-size: 12px;
			}
		}

		&s {
			@media (max-width: map_get($grid-breakpoints, sm)) {
				min-height: 41px;
			}
		}
	}
	&__max-price{
		line-height: 1rem;
		font-size: 14px;
		color: #999999;

		@media (max-width: map_get($grid-breakpoints, sm)) {
			font-size: 12px;
			margin-bottom: 0.5rem;
		}
	}
	&__cashback{
		line-height: 1rem;
		margin-bottom: 16px;

		@media (max-width: map_get($grid-breakpoints, sm)) {
			display: flex;
			justify-content: space-between;
			align-items: baseline;
			line-height: 1;
			margin-top: -19px;
			margin-bottom: -10px;

			.btn-buy {
				border: none;
			}
		}
		&-icon{
			padding-left: 4px;
			padding-right: 4px;
			display: inline-block;
			font-size: .5rem;
			color: #fff;
			background: $brand-color;
			border-radius: 8px;
			height: 16px;
			text-align: center;
			vertical-align: middle;

			@media (max-width: map_get($grid-breakpoints, sm)) {
				display: none;
			}

			span{
				margin-left: 0.5px;
			}
		}
		&-text{
			vertical-align: middle;
			margin-left: 8px;
			font-size: 14px;
			color: $brand-color;
			line-height: 1rem;

			@media (max-width: map_get($grid-breakpoints, sm)) {
				font-size: 12px;
				margin-left: 0;

				span {
					display: none;
				}
			}
		}
	}

}
.skeleton{
	&__header{
		width: 48%;
		height: 24px;
		@include bg-and-bdrs;
  		margin-bottom: 8px;
	}
	&__img{
		height: 180px;
		width: 100%;
		@include bg-and-bdrs;
  		margin-bottom: 40px;
	}
	&__name{
		@include bg-and-bdrs;
  		height: 24px;
  		margin-bottom: 8px;
	}
	&__price{
		height: 32px;
		margin-top: 20px;
		margin-bottom: 8px;
		@include bg-and-bdrs;;
	}
	&__cashback{
		&-icon{
			display: inline-block;
			width: 16px;
			height: 16px;
			@include bg-and-bdrs;
		}
		&-text{
			height: 16px;
			display: inline-block;
			@include bg-and-bdrs;
			max-width: 100px;
			width: 100%;
		}

	}
	&__btn{
		&-buy{
			width: 40px;
			height: 40px;
			margin-top: 38px;
			@include bg-and-bdrs;
		}
		height: 48px;
		@include bg-and-bdrs;
		width: 100%;
	}
	&_list{
		.skeleton__img{
			width: 176px;
			margin-bottom: 0;
		}
		.skeleton__price{
			margin-top: 0px;
		}
	}
	.products-list__body{
		width: 375px;
	}
	.products-list__description{
		.skeleton__name{
			height: 20px;
		}
	}
}