.review{
	&s{
		margin-bottom: 56px;
		padding-top: 24px;
		border-radius: 8px;
		box-shadow: 0 6px 16px 0 rgba(153, 153, 153, 0.08);
	  	background-color: rgb(255, 255, 255);
	  	@media (max-width: map-get($grid-breakpoints, sm)){
	  		padding: 16px 16px 0;
	  	}
	  	&__header{
	  		margin-left: 36px;
	  		margin-right: 36px;
	  		@media (max-width: map-get($grid-breakpoints, sm)){
	  			margin: 0;
	  		}
	  		border-bottom: 1px solid #ddd;
	  	}
	  	&__footer{
	  		font-weight: 600;
	  		padding: 20px;
	  	}
	}

	&__item{
		padding: 32px 0 40px;
		border-bottom: 1px solid #ededed;
		@media (max-width: map-get($grid-breakpoints, sm)){
			padding: 24px 0 24px;
		}
		&_answer{
			background: #f6f5f5;
			padding-bottom: 24px;
			margin: 32px 32px 0;
			border-radius: 8px;
			border-bottom: none;
			@media (max-width: map-get($grid-breakpoints, sm)){
				margin: 15px 0 0;
				padding: 16px;
				.review__autor-img-container{
					margin-right: 8px;
					float: left;
				}
			}
		}
	}
	&__autor{
		padding-left: 32px;
		@media (max-width: map-get($grid-breakpoints, sm)){
			padding: 0;
		}
		&-img{
			width: 56px;
			height: 56px;
			border-radius: 28px;
			margin-bottom: 12px;
		}
	}
	&__container{
		padding-right: 32px;
	}
	&__text{
		p{
			font-size: 0.875rem;
			margin-bottom: 16px;
			line-height: 1.25rem;
			@media (max-width: map-get($grid-breakpoints, sm)){
				font-size: 12px;
				line-height: 1rem;
			}
		}
	}
}
.likes{
	&__item{
		position: relative;
		display: inline-block;
		margin-left: 24px;
		padding-left: 32px;
		
	}
	&__button{
		cursor: pointer;
		position: absolute;
		left: 0;
		top: -4px;
		width: 25px;
		height: 25px;
		background: url(#{$imagepath-svg}hand.svg) no-repeat;
		&:hover{
			background: url(#{$imagepath-svg}hand__like.svg) no-repeat;

		}
		&_dislike{
			top: 0px;
			transform: scale(-1, 1) rotate(180deg);
			&:hover{
				background: url(#{$imagepath-svg}hand__dislike.svg) no-repeat;
			}
		}
		
	}
	&__count{
		font-size: 0.875rem; 
		line-height: 1.25rem;
	  	@media (max-width: map-get($grid-breakpoints, sm)){
	  		font-size: 12px;
	  		line-height: 1rem;
	  	}
	}
	&__input{
		display: none;
		&:checked + .likes__button{
			background: url(#{$imagepath-svg}hand__like.svg) no-repeat;
			&_dislike{
				background: url(#{$imagepath-svg}hand__dislike.svg) no-repeat;

			}
		}
	}

}