.selectric {
  position: relative;
  overflow: hidden;
  border: 2px solid #ddd;
  border-radius: 8px;
  background: transparent;

  &-wrapper {
    vertical-align: middle;
  }

  .label {
    color: #333;
    font-size: 14px;
  }

  .button {
    color: #999;
    position: absolute;
    right: 10px;
    top: 13px;
    height: 12px;
    width: 12px;
    background-color: transparent;
    background-image: url(#{$imagepath}svg/arrow-accordion.svg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;

    &:after {
      display: none;
    }
  }

  &-items{
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 1.5rem;
    border: 1px solid #ededed;
    background: none;
    box-shadow: 0 6px 16px 0 rgba(153,153,153,0.08);
    & li{
      color: inherit;
      font-size: 1rem;
      background: #fff;
      display: block;
      padding: 11px 24px 12px;
      border-bottom: 1px solid #ededed;
      &:last-child{
        border-bottom: none;
      }
      &.highlighted {
        color: #5c44c1;
        background: #fff;
      }
      &:hover{
        color: #5c44c1;
        background: #fff;
      }
    }
  }

  &-filter-slelect{
    border: 2px solid #dddd;
    border-radius: 8px;
    height: 40px;
    padding-top: 5px;
    margin-bottom: 20px;

    .selectric{
      .label{
        padding-left: 12px;
        font-size: 14px;
        color: #333;
      }
      .button{
        right: 8px;
      }

    }
    &.selectric-wrapper{
      max-width: 100%;
    }
  }

  .sort__item & {
    vertical-align: bottom;
  }
}

//.selectric{
//  border: none;
//  background: none;
//  &-wrapper{
//    display: inline-block;
//    width: 240px;
//    vertical-align: middle;
//  }
//  & .label{
//    position: relative;
//    color: #5c44c1;
//    font-size: 1rem;
//    margin-left: 0px;
//    height: auto;
//    line-height: 1.5rem;
//  }
//  & .button{
//    position: absolute;
//    right: 0;
//    top: 0;
//    height: 24px;
//    width: 24px;
//    font-size: 0;
//    background: url(#{$imagepath}svg/arrow-accordion.svg) 50% 50% no-repeat;
//    &:after{
//      display: none;
//    }
//  }
//  &-items{
//    margin: 0;
//    padding: 0;
//    list-style: none;
//    line-height: 1.5rem;
//    border: 1px solid #ededed;
//    background: none;
//    box-shadow: 0 6px 16px 0 rgba(153,153,153,0.08);
//    & li{
//      color: inherit;
//      font-size: 1rem;
//      background: #fff;
//      display: block;
//      padding: 11px 24px 12px;
//      border-bottom: 1px solid #ededed;
//      &:last-child{
//        border-bottom: none;
//      }
//      &.highlighted {
//        color: #5c44c1;
//        background: #fff;
//      }
//      &:hover{
//        color: #5c44c1;
//        background: #fff;
//      }
//    }
//  }
//  &-filter-slelect{
//    border: 2px solid #dddd;
//    border-radius: 8px;
//    height: 40px;
//    padding-top: 5px;
//    margin-bottom: 20px;
//
//    .selectric{
//      .label{
//        padding-left: 12px;
//        font-size: 14px;
//        color: #333;
//      }
//      .button{
//        right: 8px;
//      }
//
//    }
//    &.selectric-wrapper{
//      max-width: 100%;
//    }
//  }
//}