.shops{
	@media (max-width: map-get($grid-breakpoints, sm)){
		padding: 0 8px;
	}
	&__item{
		height: calc(100% - 32px);
		//display: block;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: column;
		flex-direction: column;
		margin-bottom: 32px;
		padding: 24px;
		background: #fff;
		border-radius: 8px;
  		box-shadow: 0 6px 16px 0 rgba(153, 153, 153, 0.08);
		color: #999999;
		@media (max-width: map-get($grid-breakpoints, sm)){
		}
		&:hover{
			color: #999999;
			text-decoration: none;
			box-shadow: 0 8px 24px 0 rgba(153, 153, 153, 0.24);  
		}
		@media (max-width: map-get($grid-breakpoints, lg)){
			height: calc(100% - 16px);
			margin-bottom: 16px;
			padding: 16px;
		}
	}
	&__img{
		max-width: 100%;
		max-height: 100%;

		&-container{
			justify-content: center;
			height: 48px;
			display: flex;
			align-items: center;
			width: 100%;
			margin-bottom: 24px;
		}
	}
	&__rating{
		padding-bottom: 12px;
		border-bottom: 1px solid #ededed;
		margin-bottom: 12px;
	}
	&__name{
		font-weight: 600;
		@media (max-width: map-get($grid-breakpoints, lg)){
			font-size: 14px;
		}
	}
	&__promo{
		margin-top: 4px;
		font-size: 22px;
		line-height: 2rem;
		color: #333;
		@media (max-width: map-get($grid-breakpoints, lg)){
			font-size: 1rem;
			line-height: 1.5rem;
		}
	}
	&__description{
		font-size: 12px;
		color: #333;
		line-height: 1rem;
	}
}

.shop-filter-list {
	padding: 0;
	margin: 0;
	list-style: none;

	a {
		font-size: 0.875rem;
		font-weight: 600;
		color: #999;
		text-decoration: none;
	}
}