.slider, .advantages {
	position: relative;
	width: 100%;
	overflow: hidden;
	border-radius: 8px;

	&__img{
		max-width: 100%;
		border-radius: 8px;
		height: 240px;
		background-position: 50% 0;
		background-repeat: no-repeat;
		@media (min-width: map_get($grid-breakpoints, md)) {
			height: auto;
			&--small {
				max-height: 200px;
			}
		}

		&--2x {
			display: none;
		}

		@media
		(max-width: map_get($grid-breakpoints, md)) and (-webkit-min-device-pixel-ratio: 2),
		(max-width: map_get($grid-breakpoints, md)) and (min--moz-device-pixel-ratio: 2),
		(max-width: map_get($grid-breakpoints, md)) and (-o-min-device-pixel-ratio: 2/1),
		(max-width: map_get($grid-breakpoints, md)) and (min-device-pixel-ratio: 2),
		(max-width: map_get($grid-breakpoints, md)) and (min-resolution: 192dpi) {
			&--2x {
				display: block;
				background-size: 736px 240px;

				& + .slider__img {
					display: none !important;
				}
			}
		}
	}
	&__arrow{
		cursor: pointer;
		width: 40px;
		color: #fff;
		height: 40px;
		font-size: 14px;
		line-height: 37px;
		border-radius: 20px;
		border: solid 2px rgba(255, 255, 255, 0.32);
		background: none;
		margin-left: 16px;
		@include hover-focus-active{
			color: rgb(255, 255, 255);
			border-color: rgba(255, 255, 255, 0.64);
		}
		&_prev{
			transform: rotate(180deg);
		}
		@media (max-width: map-get($grid-breakpoints, sm)){
			width: 32px;
			height: 32px;
			border-radius: 16px;
			line-height: 30px;
			font-size: 11px;
			padding: 0;
			&_next{
				float: right;
			}
		}

	}

	&__controls{
		z-index: 2;
		font-size: 0;
		position: absolute;
		bottom: 32px;
		right: 32px;
		@media (max-width: map-get($grid-breakpoints, sm)){
			bottom: 24px;
			width: 100%;
			right: 0px;
			padding-right: 24px;
		}
	}
	.banner{
		margin: 0;
	}
}

.slider {
	& + .brands {
		margin-top: 32px;
		@media (max-width: map_get($grid-breakpoints, md)) {
			margin-top: 16px;
		}
	}

	& + .shops {
		margin-top: 32px;
		@media (max-width: map_get($grid-breakpoints, lg)) {
			margin-top: 16px;
		}
	}
}

.advantages__controls {
	@media (min-width: map-get($grid-breakpoints, xl)){
		display: none;
	}
}
