.card{
	position: relative;
	border-color: #fff;
	border-bottom: 1px solid #ededed;
	padding-bottom: 8px;
	border-radius: 0;
	&-header{
		position: relative;
		cursor: pointer;
		padding: 12px 54px 4px 24px;
		border-color: #fff;
		background: #fff;
		&.collapsed{
			&:after{
				transform: rotate(0);
			}
			#filters & {
				&:before {
					background: transparent;
				}
			}

		}
		&:after{
			position: absolute;
			right: 20px;
			top: 12px;
			width: 24px;
			height: 24px;
			text-align: center;
			line-height: 24px;
			font-family: 'icomoon';
			content: "\e922";
			font-size: 8px;
			color: #ddd;
			transform: rotate(180deg);
			transition: transform .5s;
		}
		#filters & {
			&:before{
				content: '';
				position: absolute;
				left: -5px;
				top: 20px;
				width: 8px;
				height: 8px;
				border-radius: 4px;
				background: $brand-color;
				z-index: 1;

			}
		}

	}
	&-title{
		font-size: 1rem;
		line-height: 1.5rem;
		font-weight: 600;
		margin-bottom: 0;
	}
	&-container{
		padding: 0px 24px 0;
	}
	&-body{
		padding: 0;
		padding-bottom: 6px;
		padding-top: 4px;
		border: none;
	}
}