.breadcrumbs{
	&__list{
		padding: 24px 0;
		margin: 0;
		list-style: none;
		font-size: 14px;

		
	}
	&__item{
		position: relative;
		display: inline-block;
		padding-left: 20px;
		line-height: normal;
		&:first-child{
			padding-left: 0;
			&:before{
				display: none;
			}
		}
		&:before{
			content: '';
			position: absolute;
			width: 4px;
			top: 50%;
			margin-top: -2px;
			left: 8px;
			height: 4px;
			border-radius: 2px;
			background-color: #ddd;
		}

		@media (max-width: map_get($grid-breakpoints, lg)) {
			display: none;

			&:last-of-type {
				display: block;
				padding-left: 30px;

				&:before {

					width: 20px;
					font-family: 'icomoon';
					content: '\e922';
					font-size: 0.5rem;
					color: #999;
					background-color: transparent;
					border: none;
					margin-top: 2px;
					transform: rotate(90deg);
				}
			}
		}
	}
	&__link{
		color: #999999;
		&:hover, &:focus{
			color: #666666;
			text-decoration: none;
		}
	}
}
