.btn {
	border-radius: 8px;

	&-icon{
		position: relative;
		cursor: pointer;
		background: none;
		border: none;
		padding: 0;
		& svg{
			vertical-align: middle;
		}
		&_geolocation{
			font-size: 14px;
			font-weight: 600;
			margin-left: 30px;
			& .btn-icon__label{
				margin-left: 9px;
			}
			.geolocation &, .mmenu-geo & {
				margin-left: 0;
			}
		}
		&_heart{
			font-size: 21px;
			@include hover-focus-active{
				color: #666;
			}
		}
		&_view{
			font-size: 15px;
			@include hover-focus-active{
				color: #666 !important;
			}
			@media (max-width: map_get($grid-breakpoints, md)) {
				.header__float.active & {
					display: none;
				}
			}
		}

		&_stats {
			font-size: 19px;

			@include hover-focus-active{
				color: #666 !important;
			}
			@media (max-width: map_get($grid-breakpoints, md)) {
				.header__float.active & {
					display: none;
				}
			}
		}

	}
	&-catalog{
		font-weight: 600;
		line-height: 42px;
		width: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 48px;
	  	border-radius: 8px;
	  	background: none;
	  	padding: 0 16px;
		border: solid 2px rgba(92, 68, 193, 0.32);

		@media (max-width: map_get($grid-breakpoints, md) - 1px) {
			display: none;

			.header__float.active & {
				display: flex;
				border: none;
				padding: 0;
				height: 40px;

				.btn-catalog__label {
					display: none;
				}

				.icon-menu {
					color: #000;
				}
			}
		}
		&__label, .icon-menu {
			color: $brand-color;
		}
		@include hover-focus-active{
			border-color: $brand-color;
		}
		&_mobile{
			font-size: 22px;
		}
	}
	&-lk {
		white-space: nowrap;
		text-align: center;
		margin-top: 2px;
		position: relative;
		z-index: 21;

		&-wrapper {
			position: relative;
			display: inline-block;
			width: 48px;
			height: 48px;

			.header__top-wrapper & {
				@media (max-width: map_get($grid-breakpoints, md)) {
					width: 40px;
					height: 40px;
				}
			}

			.header__bottom-wrapper & {
				@media (max-width: map_get($grid-breakpoints, sm)) {
					width: 40px;
					height: 40px;
				}
			}

			&:after{
				position: absolute;
				left: 0;
				top: -1px;
				content: '';
				width: 48px;
				height: 48px;
				border-radius: 50%;
				background-color: rgb(251, 85, 80);
				z-index: 1;

				.header__top-wrapper & {
					@media (max-width: map_get($grid-breakpoints, md)) {
						top: -4px;
						width: 40px;
						height: 40px;
					}
				}

				.header__bottom-wrapper & {
					@media (max-width: map_get($grid-breakpoints, sm)) {
						top: -4px;
						width: 40px;
						height: 40px;
					}
				}
			}
		}

		&-text{
			display: inline-block;
			position: relative;
			z-index: 3;
			padding-top: 12px;
			font-size: 18px;
			color: #fff;

			.header__top-wrapper & {
				@media (max-width: map_get($grid-breakpoints, md)) {
					padding-top: 6px;
				}
			}

			.header__bottom-wrapper & {
				@media (max-width: map_get($grid-breakpoints, sm)) {
					padding-top: 6px;
				}
			}
		}
		&__label{
			vertical-align: middle;
			margin-left: 8px;
			display: none;
			max-width:120px;
			width: 100%;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;

			@media all and (min-width: map_get($grid-breakpoints, lg)) {
				display: inline-block;
			}
		}

		&.pulse {
			.btn-lk-wrapper {
				&:before{
					position: absolute;
					top: -7px;
					left: -6px;
					content: '';
					height: 60px;
					width: 60px;
					border-radius: 50%;
					background: rgba(251, 85, 80, 0.4);
					animation-name: lk;
					animation-duration: 0.5s;
					animation-direction: alternate;
					animation-iteration-count:infinite;
					z-index: 1;

					.header__top-wrapper & {
						@media (max-width: map_get($grid-breakpoints, md)) {
							top: -10px;
							width: 52px;
							height: 52px;
						}
					}

					.header__bottom-wrapper & {
						@media (max-width: map_get($grid-breakpoints, sm)) {
							top: -10px;
							width: 52px;
							height: 52px;
						}
					}
				}
				&:after {
					animation-name: lk;
					animation-duration: 0.5s;
					animation-direction: alternate;
					animation-iteration-count:infinite;
				}
			}
		}
		&.isLogged {
			.badge {
				top: 0 !important;
				right: 0 !important;
			}
			& .btn-lk{
				&-text{
					color: #fff;
					font-size: 1rem;
					font-weight: 700;
					text-align: center;
					padding-top: 1px;

					.icon-profile {
						font-weight: 400;
					}
				}
				&-wrapper{
					top: -1px;
					background: linear-gradient(135deg, #8F6CBE 0%, #994B96 35%, #BE4E7B 65%, #E25362 100%);
					color: #fff;
					text-transform: capitalize;
					padding-top: 12px;
					border-radius: 50%;

					.header__top-wrapper & {
						@media (max-width: map_get($grid-breakpoints, md)) {
							padding-top: 8px;
						}
					}

					.header__bottom-wrapper & {
						@media (max-width: map_get($grid-breakpoints, sm)) {
							top: -4px;
							padding-top: 8px;
						}
					}

					&:before{
						display: none;
						-webkit-animation: none !important;
						-moz-animation: none !important;
						-o-animation: none !important;
						-ms-animation: none !important;
						animation: none !important;
					}
					&:after{
						display: none;
						-webkit-animation: none !important;
						-moz-animation: none !important;
						-o-animation: none !important;
						-ms-animation: none !important;
						animation: none !important;
					}
				}
			}
		}

		@include hover-focus-active{
			color: #666;
		}
	}
	@include hover-focus{
		box-shadow: none;
	}
	&-buy{
		height: 40px;
		width: 42px;
		background: none;
		border: solid 2px rgba(92, 68, 193, 0.32);
		color: $brand-color;
		font-size: 20px;
		border-radius: 8px;
		padding: 0;
		padding-top: 4px;
		text-align: center;
		cursor: pointer;
		@include hover-focus-active{
			position: relative;
			border-color: #5c44c1;
			text-decoration: none;
		}
	}
	&-primary{
		font-size: 1rem;
		border-radius: 8px;
		background: $brand-color;
		cursor: pointer;
		line-height: 1.5rem;
		font-weight: 600;
		height: 48px;
		border: none;
		padding-left: 16px;
		padding-right: 16px;
		@include hover-focus-active{
			background: #482dbb !important;
			box-shadow: none !important;

		}
		@media (max-width: map-get($grid-breakpoints, sm)){
			height: 40px;
		}
		&_filter{
			height: 40px;
			width: 40px;
			padding: 0;
			padding-top: 1px;
			font-size: 20px;

		}
	}
	&-danger{
		font-size: 1rem;
		border-radius: 8px;
		background: #fb5550;
		cursor: pointer;
		line-height: 1.5rem;
		font-weight: 600;
		height: 48px;
		border: none;
		padding-left: 16px;
		padding-right: 16px;
		@include hover-focus-active{
			opacity: 0.9;
			box-shadow: none !important;

		}
		
	}
	&-link{
		height: 48px;
		color: $brand-color;
		&_gray{
			color: #999999;
			padding: 0;
			@include hover-focus{
				color: #cccccc;
				text-decoration: none;
			}
		}
		@include hover-focus-active{
			color: lighten($brand-color,10%);
			text-decoration: none;
		}
	}
	&-outline{
		font-size: 1rem;
		border-radius: 8px;
		background: none;
		cursor: pointer;
		line-height: 1.5rem;
		font-weight: 600;
		height: 48px;
		border: solid 2px rgb(221, 221, 221);
		padding-left: 16px;
		padding-right: 16px;
		@include hover-focus-active{
			color: inherit;
			text-decoration: none;
			border: solid 2px rgb(204, 204, 204);
  			background-color: rgb(237, 237, 237);
		}
		@media (max-width: map-get($grid-breakpoints, sm)){
			height: 40px;
			padding-left: 12px;
			padding-right: 12px;
			font-size: 14px;
		    white-space: nowrap;
		    overflow: hidden;
		    text-overflow: ellipsis;
		    max-width: 100%;
		}
		&.active{
			color: inherit;
			text-decoration: none;
			border: solid 2px rgb(204, 204, 204);
  			background-color: rgb(237, 237, 237);
		}
		&__color{
			width: 24px;
			border-radius: 12px;
			height: 24px;
			vertical-align: middle;
			display: inline-block;
			margin-right: 8px;
		}
		&-primary{

			border: solid 2px rgba(92, 68, 193, 0.32);
			color: $brand-color;
			@include hover-focus-active{
				color: inherit;
				text-decoration: none;
				box-shadow: none !important;
				background: $brand-color !important;
				border: solid 2px $brand-color !important;
				color: #fff !important;
			}
		}
		&-white{
			color: #fff;
			border: solid 2px rgba(255, 255, 255, 0.32);
			@include hover-focus-active{
				background: none;
				border: solid 2px rgb(255, 255, 255);
				color: #fff;

			}
		}
	}

	&-type-input{
		height: 40px;
		font-size: 0.875rem;
		padding: 4px 10px;
		border-radius: 8px;
		border: solid 2px rgb(221, 221, 221);
		background-color: #fff;
		overflow: hidden;
		display: inline-block;
		color: #999;
		&__input{
			width: 100%;
			max-width: 100%;
			border: none;
			padding-right: 10px;
			font-size: 14px;
			color: $default-color;

		}
	}
	&-close{
		display: block;
		position: absolute;
		margin: 0;
		right: 16px;
		padding: 0;
		top: 20px;
		width: 24px;
		height: 24px;
		border-radius: 12px;
		font-size: 9px;
		border: 2px solid #dddddd;
		color: #dddddd;
		line-height: 20px;
		@include hover-focus-active{
			color: #999;
			border-color:  #999;
		}
	}

}
.btn-group{
	& .form-control{
		border-radius: 8px 0 0 8px;
		border-right: none;
		
	}
}
.list-buttons{
	font-size: 0;
	margin-bottom: 32px;

    a {
      display: none !important;

      &.shown {
        display: inline-flex !important;
      }
    }

    .show-more-collections.hided {
      display: none;
    }
}
@keyframes lk {
    from {
		transform: scale(1, 1);
    }
    to {
		transform: scale(.8, .8);
    }
}

a {
	&.btn-icon:not(.products__like):not(.products-list__like):not(.cards__like):not(.cards__compare) {
		text-decoration: none;
		color: #333;
	}
	&.btn-outline {
		line-height: 2rem;
		display: inline-flex;
		align-items: center;
		color: buttontext;
		justify-content: center;
	}
	&.btn-buy {
		display: inline-block;
		line-height: 2.2rem;
	}
}
