.form{
	&-checkbox{
		font-size: 16px;
		font-weight: normal;
		line-height: 1.5rem;
		@media (max-width: map-get($grid-breakpoints, lg)){
			font-size: 14px;
		}
		&__input{
			display: none;
			&:checked + .form-checkbox__label{
				&:before{
  					background-color: rgba(92, 68, 193, 0.16);
  					border: none;
				}
				&:after{
					display: block;
				}
			}
			&:disabled + .form-checkbox__label{
				color: rgb(204, 204, 204);
				&:before{
  					background-color: rgba(153, 153, 153, 0.16);
  					border: none;
				}
				&:after{
					background: url(#{$imagepath-svg}tick-disabled.svg) no-repeat;
				}
			}
		}
		&__label {
			position: relative;
			padding-left: 24px;
			margin-bottom: 4px;
			cursor: pointer;
			&:hover{
				color: #666;
			}
			&:before{
				content: '';
				position: absolute;
				left: 0;
				top: 4px;

				width: 16px;
				height: 16px;
				border-radius: 4px;
				border: solid 2px rgb(221, 221, 221);
			}
			&:after{
				position: absolute;
				left: 3px;
				top: 8px;
				display: none;
				content: '';
				width: 10px;
				height: 8px;
				background: url(#{$imagepath-svg}tick-checked.svg) no-repeat;
			}

			a {
				color: inherit;
				pointer-events: none;
				&:hover {
					text-decoration: none;
				}
			}

			span {
				font-weight: 300;
				color: #ccc;
				margin-left: 3px;
			}
		}
		
	}
	&-radio{
		font-size: 16px;
		font-weight: normal;
		line-height: 1.5;
		&__input{
			display: none;
			&:checked + .form-radio__label{
				&:before{
  					background-color: rgba(92, 68, 193, 0.16);
  					border: none;
				}
				&:after{
					display: block;
				}
			}
			&:disabled + .form-radio__label{
				color: rgb(204, 204, 204);
				&:before{
  					background-color: rgba(153, 153, 153, 0.16);
  					border: none;
				}
				&:after{
					background: #999999;
				}
			}
		}
		&__label{
			position: relative;
			padding-left: 24px;
			margin-bottom: 4px;
			cursor: pointer;
			&:hover{
				color: #666;
			}
			&:before{
				content: '';
				position: absolute;
				left: 0;
				top: 4px;

				width: 16px;
				height: 16px;
				border-radius: 8px;
				border: solid 2px rgb(221, 221, 221);
			}
			&:after{
				position: absolute;
				left: 4px;
				top: 8px;
				display: none;
				content: '';
				width: 8px;
				height: 8px;
				border-radius: 4px;
				background: $brand-color;
			}
		}
	}
	&-group{
		margin-bottom: 1.5rem;
		@media (max-width: map-get($grid-breakpoints, md)){
			margin-bottom: 20px;
		}
		.header__search-wrapper & {
			margin-bottom: 0;
		}
	}
	&-control{
		height: 48px;
		border-radius: 8px;
		border: solid 2px rgb(221, 221, 221);
		background-color: rgb(255, 255, 255);
		padding-left: 16px;
		padding-right: 16px;
		@media (max-width: map-get($grid-breakpoints, sm)){
			height: 40px;
		}
	}
	&--review {
		label {
			font-size: 1rem;
			font-weight: 600;
		}
		.form-group:last-child {
			margin-bottom: 0;
		}

		.form-control {
			height: auto;
		}
	}
}

.toggle-switch {
	position: relative;
	display: inline-block;
	width: 44px;
	height: 24px;
	input {
		opacity: 0;
		width: 0;
		height: 0;
		&:checked + .toggle-switch__slider {
		}
		&:focus + .toggle-switch__slider {
			box-shadow: 0 0 1px #2196F3;
		}
		&:checked + .toggle-switch__slider:before {
			-webkit-transform: translateX(20px);
			-ms-transform: translateX(20px);
			transform: translateX(20px);
		}
	}
	@media (max-width: map-get($grid-breakpoints, sm)){
		display: none;
	}
	&__slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border: 2px solid rgba(255,255,255, 0.32);
		background-color: transparent;
		-webkit-transition: .4s;
		transition: .4s;
		border-radius: 34px;
		&:before {
			position: absolute;
			border-radius: 50%;
			content: "";
			height: 12px;
			width: 12px;
			left:4px;
			bottom: 4px;
			background-color: white;
			-webkit-transition: .4s;
			transition: .4s;
		}

	}
}




/* Rounded sliders */
.slider.round {
  
}

.slider.round:before {
  
}