.form{
	&-control{
		border-radius: 8px;

		&.error, &:invalid{
			border-color: rgba(217, 6, 0, 0.4);
			box-shadow: none;	
		}
		&_search{
			color: #999;
			height: 48px;
			border: solid 2px #ddd;
			&:hover, &:focus{
				border: solid 2px #ccc;
			
			}
			&::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
			    color: #999;
			    opacity: 1; /* Firefox */
			}

			&:-ms-input-placeholder { /* Internet Explorer 10-11 */
			    color: #999;
			}

			&::-ms-input-placeholder { /* Microsoft Edge */
			    color: #999;
			}
			&:focus + .btn-search{
				background-color: rgb(92, 68, 193);	
				color: #fff;
			}
			& + .btn-search{
				padding-top: 5px;
				font-size: 23px;
				color: #cccccc;
			}
			@media (max-width: map-get($grid-breakpoints, sm)){
				height: 40px !important;
			}
		}
		&:disabled{
			border: none;
			background: #f6f5f5;
		}
		@include hover-focus-active{
			box-shadow: none;	
		}
		&__btn{
			line-height: 24px;
			font-size: 24px;
			color: #999;
			position: absolute;
			right: 16px;
			top: 12px;
		}
	}
	&-group{
		&_search{
			position: relative;
			&  .btn-search{
				position: absolute;
				top: 0;
				right: 0;
				width: 48px;
				height: 48px;	
				border-radius: 0 8px 8px 0;
				&:focus, &:active{
					background-color: rgb(92, 68, 193);
					& svg path{
						fill: #fff;
					}
				}
				@media (max-width: map-get($grid-breakpoints, sm)){
					height: 40px;
					width: 44px;
				}
			}
		}
	}

}