.modal{
	&-content{
		border-radius: 8px;
		box-shadow: 0 8px 24px 0 rgba(153, 153, 153, 0.24);
		padding: 32px;
	}
	&-header{
		border: none;
		padding: 0;
		margin-bottom: 32px;
	}
	&-title{
		font-size: 2rem;
		line-height: 2.5rem;
	}
	&-body{
		padding: 0;
	}
	&-footer{
		padding: 0;
		display: block;
	}
	& .close{
		display: block;
		position: absolute;
		margin: 0;
		right: 16px;
		padding: 0;
		top: 16px;
		width: 24px;
		height: 24px;
		border-radius: 12px;
		font-size: 10px;
		border: 2px solid rgba(51, 51, 51, 0.32);
		color: rgba(51, 51, 51, 0.8);
		@include hover-focus-active{
			color: rgba(51, 51, 51, 64);
			border-color:  rgba(51, 51, 51, 64);
			

		}
	}
	&-open {
		@media (max-width: 1122px) {
			position: fixed;
		}
	}
}