.search-block__quick-search{
	display: none;
	position: absolute;
	top: 52px;	
	z-index: 10;
	left: 0;
	width: 100%;
	padding: 18px 16px;
	background: #fff;
	border-radius: 8px;
	box-shadow: 0 8px 24px 0 rgba(153, 153, 153, 0.24);
}
.quick-search-list{
	padding: 0;	
	margin: 0;	
	list-style: none;
	&__link{
		color: #333;
		font-weight: normal;	
		font-size: 16px;
		&:hover, &:focus{
			color: rgb(92, 68, 193);
			text-decoration: none;	
		}
	}
	&__bolder{
		font-weight: 600;	
	}
	&__item{
		margin-bottom: 12px;
		&:last-child{
			margin-bottom: 0;	
		}	
	}
}