.stars{
	display: inline-block;
	position: relative;
	margin-top: 8px;
	font-size: 15px;
	color: #ededed;
	@media (max-width: map_get($grid-breakpoints, lg)) {
		font-size: 12px;
	}
	&__item{
		position: absolute;
		line-height: 1rem;
		width: 16px;
		height: 16px;
		display: inline-block;
		.stars--big & {
			width: 24px;
		}
		&s{
			position: relative;
			z-index: 5;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: horizontal;
			-webkit-box-direction: reverse;
			-ms-flex-direction: row-reverse;
			flex-direction: row-reverse;
			-webkit-box-pack: end;
			-ms-flex-pack: end;
			justify-content: flex-end;
		}
		&:nth-child(2){
            left: 80px;

			.stars--big & {
				left: 108px;
			}
        }
        &:nth-child(4){
            left: 60px;

			.stars--big & {
				left: 81px;
			}
        }
        &:nth-child(6){
            left: 40px;

			.stars--big & {
				left: 54px;
			}
        }
        &:nth-child(8){
            left: 20px;

			.stars--big & {
				left: 27px;
			}
        }
		
	}
	&__button:not(:disabled):checked ~  &__item,
    &__button:not(:disabled):hover ~  &__item{
        color: #5c44c1;
    }
	&__button{
		position: relative;
		z-index: 2;
		cursor: pointer;
		width: 20px;
		height: 16px;
		opacity: 0;
		&:checked + .stars__item{
			color: #5c44c1;
		}
		&:disabled{
			cursor: default;
		}
		.stars--big & {
			width: 27px;
		}
	}
	&__description{

	}
	&__count{
		position: absolute;	
		left: calc(100% + 10px);
		top: 0px;
		font-size: 0.875rem;
		line-height: 1rem;
		color: #999999;
		&:hover{
			color: #666666;
			text-decoration: none;
		}
	}
	&_view{
		margin-right: 16px;
		& .stars{
			&__item{
				min-width: 20px;
				&s{
					&_active{
						overflow: hidden;	
						width: 0;	
						position: absolute;
						left: 0;
						top: 0;	
						& .stars__item{
							min-width: 20px;
							color: #5c44c1;
						}
					}
				}
				position: static;	
			}
		}
	}
	&_red{
		& .stars{
			&__button:not(:disabled):checked ~  .stars__item,
		    &__button:not(:disabled):hover ~  .stars__item{
		        color: #fb5550;
		    }
		    &__button {
		    	&:checked + .stars__item{
					color: #fb5550;
				}
		    }
			&__item{
				&s{
					&_active{
						& .stars__item{
							color: #fb5550;
						}
					}
				}	
			}
		}
	}
	& .link{
		@media (max-width: map-get($grid-breakpoints, lg)){
			font-size: 12px;
		}
	}

	&--big {
		margin-top: 0;
		.icon-star {
			font-size: 24px;
		}
	}
}
