@import '../variables';
@import '../mixins/mixin-common';
@import '../partial/advantages';
@import '../partial/how-works';
@import '../partial/brands';
@import "../partial/slider";

.filter-alphabet{
	border-top: 1px solid #ddd;
	padding-top: 16px;
	font-size: 0;
	margin-bottom: 24px;
	&__lang{
		margin-right: 18px;
	}
	&__item{
		font-weight: 600;
		cursor: pointer;
		font-size: 12px;
		line-height: 1rem;
		height: 20px;
		display: inline-block;
		padding: 2px 6px;
		margin-right: 6px;
		border-radius: 8px;
		margin-bottom: 8px;
		&.active{
			color: #fff;
			background: $brand-color;
		}
		&:hover{
			color: #fff;
			background: $brand-color;
		}
	}
}
.name-list{
	@media (max-width: map-get($grid-breakpoints, sm)){
		font-size: 12px;
		line-height: 1rem;
	}
	&__title{
		@media (max-width: map-get($grid-breakpoints, sm)){
			font-size: 1rem;
			line-height: 1.5rem;
		}
	}
}
