.advantages {
  margin-bottom: 56px;
  color: #fff;
  padding: 40px 0 64px;
  background-image: linear-gradient(109deg, #5c44c1, #fb5550);
  border-radius: 0 !important; }
  .advantages:last-of-type {
    margin-bottom: 0; }
  @media (max-width: 576px) {
    .advantages {
      margin-bottom: 32px;
      padding-top: 20px; } }
  .advantages__image {
    width: 120px;
    max-width: 100%;
    font-size: 100px;
    line-height: 120px;
    text-align: center;
    margin-bottom: 24px; }
    @media (max-width: 992px) {
      .advantages__image {
        width: 80px;
        font-size: 80px;
        margin-bottom: 0; } }
  .advantages__name {
    font-size: 1.375rem;
    line-height: 2rem;
    margin-bottom: 8px; }
    @media (max-width: 992px) {
      .advantages__name {
        font-size: 1rem;
        line-height: 1.5rem; } }
  .advantages__item {
    margin-top: 32px;
    margin-right: 30px; }
    .advantages__items {
      display: flex;
      justify-content: space-between; }
      @media (max-width: 576px) {
        .advantages__items {
          display: block; } }
  .advantages__text {
    font-size: 1rem;
    line-height: 1.5rem;
    color: rgba(255, 255, 255, 0.64); }
    @media (max-width: 992px) {
      .advantages__text {
        font-size: 0.875rem;
        font-weight: 200; } }
  .advantages__title {
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.5rem;
    letter-spacing: normal; }
    @media (max-width: 576px) {
      .advantages__title {
        font-size: 1.5rem;
        line-height: 2rem; } }

.how-works {
  margin-bottom: 52px; }
  .how-works__link {
    color: #333; }
    .how-works__link:hover, .how-works__link:focus, .how-works__link:active {
      color: #fb5550;
      text-decoration: none; }
  @media (max-width: 576px) {
    .how-works {
      margin-bottom: 32px; } }
  .how-works__icon {
    line-height: 64px;
    height: 64px;
    font-size: 64px; }
    @media (max-width: 576px) {
      .how-works__icon {
        font-size: 46px;
        max-width: 66px;
        margin-right: 16px;
        justify-content: center; } }
    .how-works__icon_notebook {
      font-size: 50px; }
      @media (max-width: 576px) {
        .how-works__icon_notebook {
          font-size: 44px; } }
    .how-works__icon_mobile {
      font-size: 61px; }
      @media (max-width: 576px) {
        .how-works__icon_mobile {
          font-size: 46px; } }

.brands__item {
  height: calc(100% -32px);
  margin-bottom: 32px;
  display: block;
  background: #fff;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 6px 16px 0 rgba(153, 153, 153, 0.08); }
  .brands__item:hover {
    box-shadow: 0 8px 24px 0 rgba(153, 153, 153, 0.24); }
    .brands__item:hover .brands__img {
      -webkit-filter: grayscale(0);
              filter: grayscale(0);
      opacity: 1; }
  @media (max-width: 768px) {
    .brands__item {
      padding: 16px;
      height: calc(100% - 16px);
      margin-bottom: 16px; } }

.brands__img {
  max-width: 100%;
  max-height: 100%;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  opacity: 0.2; }
  .brands__img-container {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center; }

@media (max-width: 768px) {
  .brands {
    padding-left: 8px;
    padding-right: 8px; } }

.category__item {
  margin-bottom: 32px;
  padding: 24px;
  display: block;
  height: 128px;
  background: #fff;
  background-color: #fff;
  background-size: cover;
  background-position: 128px 0;
  background-repeat: no-repeat;
  border-radius: 8px;
  box-shadow: 0 6px 16px 0 rgba(153, 153, 153, 0.08);
  color: inherit; }
  @media (max-width: 992px) {
    .category__item {
      height: 64px;
      padding: 20px 24px;
      background-size: contain;
      background-position-x: right;
      margin-bottom: 24px; } }
  .category__item:hover {
    color: inherit;
    text-decoration: none;
    box-shadow: 0 8px 24px 0 rgba(153, 153, 153, 0.24); }
  .category__item-container {
    display: flex;
    height: 100%;
    align-items: flex-end;
    max-width: 70%;
    font-size: 22px;
    line-height: 2rem; }
    @media (max-width: 768px) {
      .category__item-container {
        font-size: 1rem;
        line-height: 1.5rem; } }

.category__name {
  max-width: 170px; }

@media (max-width: 576px) {
  .products {
    padding-right: 8px;
    padding-left: 8px; } }

.products__item {
  margin-bottom: 32px;
  padding: 24px;
  background: #fff;
  border-radius: 8px;
  height: calc(100% - 32px);
  box-shadow: 0 6px 16px 0 rgba(153, 153, 153, 0.08); }
  .products__item:hover {
    box-shadow: 0 8px 24px 0 rgba(153, 153, 153, 0.24);
    text-decoration: none;
    color: inherit; }
  @media (max-width: 992px) {
    .products__item {
      height: calc(100% - 16px);
      padding: 24px 16px 16px;
      margin-bottom: 16px; } }

.products__header {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: flex-end; }

.products__like {
  line-height: 24px;
  color: #dddddd; }
  .products__like:hover {
    color: #5c44c1;
    text-decoration: none; }
  .products__like.added {
    color: #5c44c1; }

.products__images {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 224px;
  margin-bottom: 24px;
  margin-top: -17px; }
  @media (max-width: 768px) {
    .products__images {
      height: 170px; } }
  @media (max-width: 576px) {
    .products__images {
      height: 150px; } }

.products__img {
  max-width: 100%;
  max-height: 100%; }

.products__name {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 16px;
  color: #333;
  font-weight: 600;
  display: block;
  height: 48px;
  overflow: hidden; }
  .products__name:hover {
    color: #666;
    text-decoration: none; }
  @media (max-width: 992px) {
    .products__name {
      font-size: 14px;
      line-height: 20px; } }
  @media (max-width: 768px) {
    .products__name {
      position: relative;
      left: 0;
      font-size: 0.875rem;
      line-height: 1.4;
      max-height: 35px;
      overflow: hidden; }
      .products__name:after {
        position: absolute;
        bottom: -3px;
        right: 0;
        content: '...';
        background: #ffffff; } }

.products__old-price {
  font-size: 14px;
  line-height: 1rem;
  color: #999999; }
  .products__old-price-text {
    position: relative; }
    .products__old-price-text:before {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 1px;
      background: #999999;
      content: ''; }

.products__price {
  font-size: 22px;
  font-weight: 600;
  line-height: 2rem; }
  .products__price_once {
    padding-top: 16px; }
  @media (max-width: 992px) {
    .products__price {
      font-size: 1rem;
      line-height: 1.5rem; } }

.products__max-price {
  line-height: 1rem;
  font-size: 14px;
  color: #999999; }
  @media (max-width: 992px) {
    .products__max-price {
      font-size: 12px; } }

.products__cashback {
  margin-top: 8px;
  line-height: 1rem; }
  .products__cashback-icon {
    padding-left: 4px;
    padding-right: 4px;
    display: inline-block;
    font-size: .5rem;
    color: #fff;
    background: #5c44c1;
    border-radius: 8px;
    height: 16px;
    text-align: center;
    vertical-align: middle; }
    .products__cashback-icon span {
      margin-left: 0.5px; }
    @media (max-width: 992px) {
      .products__cashback-icon {
        display: none; } }
  .products__cashback-text {
    vertical-align: middle;
    margin-left: 8px;
    font-size: 14px;
    font-weight: 600;
    color: #5c44c1;
    line-height: 1rem; }
    @media (max-width: 992px) {
      .products__cashback-text {
        margin-left: 0;
        font-size: 12px; } }

@media (max-width: 992px) {
  .products .btn-buy {
    padding: 0;
    width: auto;
    height: auto;
    border: none;
    font-size: 20px; } }

.products-list__item {
  display: block;
  background: #fff;
  padding: 24px;
  margin-bottom: 32px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 6px 16px 0 rgba(153, 153, 153, 0.08);
  border-radius: 8px;
  text-decoration: none;
  color: inherit; }
  .products-list__item:hover {
    box-shadow: 0 8px 24px 0 rgba(153, 153, 153, 0.24);
    text-decoration: none;
    color: inherit; }
  @media (max-width: 576px) {
    .products-list__item {
      display: block;
      padding: 16px; } }

.products-list__images {
  margin-right: 24px;
  margin-top: 8px;
  width: 168px;
  height: 172px;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media (max-width: 576px) {
    .products-list__images {
      width: 100%;
      height: 150px; } }

.products-list__img {
  max-width: 100%;
  max-height: 100%; }

.products-list__left {
  position: relative; }

.products-list__body {
  margin-right: 48px;
  width: 50%; }
  @media (max-width: 576px) {
    .products-list__body {
      width: 100%;
      margin-right: 0; }
      .products-list__body .tags__item {
        position: absolute;
        top: 10px;
        left: 30px; } }

.products-list__right {
  width: 152px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  @media (max-width: 576px) {
    .products-list__right {
      width: auto;
      margin-top: 1rem; } }

.products-list__like {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 24px;
  color: #dddddd; }
  .products-list__like:hover {
    color: #5c44c1;
    text-decoration: none; }
  .products-list__like.added {
    color: #5c44c1; }
  @media (max-width: 576px) {
    .products-list__like {
      top: -10px;
      right: 0;
      left: auto; } }

.products-list__description {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #999;
  margin-top: 16px; }

.products-list__name {
  display: block;
  margin-top: 8px;
  font-size: 1rem;
  color: #333;
  left: 1.5rem; }
  .products-list__name:hover {
    color: #666;
    text-decoration: none; }
  @media (max-width: 576px) {
    .products-list__name {
      position: relative;
      left: 0;
      font-size: 0.875rem;
      line-height: 1.4;
      max-height: 35px;
      overflow: hidden; }
      .products-list__name:after {
        position: absolute;
        bottom: -3px;
        right: 0;
        content: '...';
        background: #ffffff; } }

.products-list__old-price {
  font-size: 14px;
  line-height: 1rem;
  color: #999999; }
  .products-list__old-price-text {
    position: relative; }
    .products-list__old-price-text:before {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 1px;
      background: #999999;
      content: ''; }

.products-list__price {
  font-size: 22px;
  line-height: 2rem;
  margin-bottom: 4px; }
  .products-list__price_once {
    padding-top: 16px; }
  @media (max-width: 576px) {
    .products-list__price {
      font-size: 16px;
      line-height: 1rem;
      margin-bottom: 0; }
      .products-list__price span {
        font-size: 12px; } }
  @media (max-width: 576px) {
    .products-list__prices {
      min-height: 41px; } }

.products-list__max-price {
  line-height: 1rem;
  font-size: 14px;
  color: #999999; }
  @media (max-width: 576px) {
    .products-list__max-price {
      font-size: 12px;
      margin-bottom: 0.5rem; } }

.products-list__cashback {
  line-height: 1rem;
  margin-bottom: 16px; }
  @media (max-width: 576px) {
    .products-list__cashback {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      line-height: 1;
      margin-top: -19px;
      margin-bottom: -10px; }
      .products-list__cashback .btn-buy {
        border: none; } }
  .products-list__cashback-icon {
    padding-left: 4px;
    padding-right: 4px;
    display: inline-block;
    font-size: .5rem;
    color: #fff;
    background: #5c44c1;
    border-radius: 8px;
    height: 16px;
    text-align: center;
    vertical-align: middle; }
    @media (max-width: 576px) {
      .products-list__cashback-icon {
        display: none; } }
    .products-list__cashback-icon span {
      margin-left: 0.5px; }
  .products-list__cashback-text {
    vertical-align: middle;
    margin-left: 8px;
    font-size: 14px;
    color: #5c44c1;
    line-height: 1rem; }
    @media (max-width: 576px) {
      .products-list__cashback-text {
        font-size: 12px;
        margin-left: 0; }
        .products-list__cashback-text span {
          display: none; } }

.skeleton__header {
  width: 48%;
  height: 24px;
  border-radius: 8px;
  background-color: #f6f5f5;
  margin-bottom: 8px; }

.skeleton__img {
  height: 180px;
  width: 100%;
  border-radius: 8px;
  background-color: #f6f5f5;
  margin-bottom: 40px; }

.skeleton__name {
  border-radius: 8px;
  background-color: #f6f5f5;
  height: 24px;
  margin-bottom: 8px; }

.skeleton__price {
  height: 32px;
  margin-top: 20px;
  margin-bottom: 8px;
  border-radius: 8px;
  background-color: #f6f5f5; }

.skeleton__cashback-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background-color: #f6f5f5; }

.skeleton__cashback-text {
  height: 16px;
  display: inline-block;
  border-radius: 8px;
  background-color: #f6f5f5;
  max-width: 100px;
  width: 100%; }

.skeleton__btn {
  height: 48px;
  border-radius: 8px;
  background-color: #f6f5f5;
  width: 100%; }
  .skeleton__btn-buy {
    width: 40px;
    height: 40px;
    margin-top: 38px;
    border-radius: 8px;
    background-color: #f6f5f5; }

.skeleton_list .skeleton__img {
  width: 176px;
  margin-bottom: 0; }

.skeleton_list .skeleton__price {
  margin-top: 0px; }

.skeleton .products-list__body {
  width: 375px; }

.skeleton .products-list__description .skeleton__name {
  height: 20px; }

.slider, .advantages {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 8px; }
  .slider__img, .advantages__img {
    max-width: 100%;
    border-radius: 8px;
    height: 240px;
    background-position: 50% 0;
    background-repeat: no-repeat; }
    @media (min-width: 768px) {
      .slider__img, .advantages__img {
        height: auto; }
        .slider__img--small, .advantages__img--small {
          max-height: 200px; } }
    .slider__img--2x, .advantages__img--2x {
      display: none; }
    @media (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 768px) and (min-device-pixel-ratio: 2), (max-width: 768px) and (min-resolution: 192dpi) {
      .slider__img--2x, .advantages__img--2x {
        display: block;
        background-size: 736px 240px; }
        .slider__img--2x + .slider__img, .advantages__img--2x + .slider__img {
          display: none !important; } }
  .slider__arrow, .advantages__arrow {
    cursor: pointer;
    width: 40px;
    color: #fff;
    height: 40px;
    font-size: 14px;
    line-height: 37px;
    border-radius: 20px;
    border: solid 2px rgba(255, 255, 255, 0.32);
    background: none;
    margin-left: 16px; }
    .slider__arrow:hover, .slider__arrow:focus, .slider__arrow:active, .advantages__arrow:hover, .advantages__arrow:focus, .advantages__arrow:active {
      color: white;
      border-color: rgba(255, 255, 255, 0.64); }
    .slider__arrow_prev, .advantages__arrow_prev {
      transform: rotate(180deg); }
    @media (max-width: 576px) {
      .slider__arrow, .advantages__arrow {
        width: 32px;
        height: 32px;
        border-radius: 16px;
        line-height: 30px;
        font-size: 11px;
        padding: 0; }
        .slider__arrow_next, .advantages__arrow_next {
          float: right; } }
  .slider__controls, .advantages__controls {
    z-index: 2;
    font-size: 0;
    position: absolute;
    bottom: 32px;
    right: 32px; }
    @media (max-width: 576px) {
      .slider__controls, .advantages__controls {
        bottom: 24px;
        width: 100%;
        right: 0px;
        padding-right: 24px; } }
  .slider .banner, .advantages .banner {
    margin: 0; }

.slider + .brands {
  margin-top: 32px; }
  @media (max-width: 768px) {
    .slider + .brands {
      margin-top: 16px; } }

.slider + .shops {
  margin-top: 32px; }
  @media (max-width: 992px) {
    .slider + .shops {
      margin-top: 16px; } }

@media (min-width: 1200px) {
  .advantages__controls {
    display: none; } }

@media (max-width: 576px) {
  .shops {
    padding: 0 8px; } }

.shops__item {
  height: calc(100% - 32px);
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  padding: 24px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 6px 16px 0 rgba(153, 153, 153, 0.08);
  color: #999999; }
  .shops__item:hover {
    color: #999999;
    text-decoration: none;
    box-shadow: 0 8px 24px 0 rgba(153, 153, 153, 0.24); }
  @media (max-width: 992px) {
    .shops__item {
      height: calc(100% - 16px);
      margin-bottom: 16px;
      padding: 16px; } }

.shops__img {
  max-width: 100%;
  max-height: 100%; }
  .shops__img-container {
    justify-content: center;
    height: 48px;
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 24px; }

.shops__rating {
  padding-bottom: 12px;
  border-bottom: 1px solid #ededed;
  margin-bottom: 12px; }

.shops__name {
  font-weight: 600; }
  @media (max-width: 992px) {
    .shops__name {
      font-size: 14px; } }

.shops__promo {
  margin-top: 4px;
  font-size: 22px;
  line-height: 2rem;
  color: #333; }
  @media (max-width: 992px) {
    .shops__promo {
      font-size: 1rem;
      line-height: 1.5rem; } }

.shops__description {
  font-size: 12px;
  color: #333;
  line-height: 1rem; }

.shop-filter-list {
  padding: 0;
  margin: 0;
  list-style: none; }
  .shop-filter-list a {
    font-size: 0.875rem;
    font-weight: 600;
    color: #999;
    text-decoration: none; }
