@import '../variables';
@import '../mixins/mixin-common';
@import '../partial/how-works';
@import '../partial/advantages';
@import '../partial/products';
@import '../partial/review';
@import "../library/owl/owl.carousel";
@import '../partial/slider';

.cards{
	margin-bottom: 56px;
	@media (max-width: map-get($grid-breakpoints, lg)){
		padding: 0 16px;
		background: #fff;
		border-radius: 8px;
	}
	&__header{
		padding-top: 16px;
		padding-bottom: 16px;
		border-bottom: 1px solid #ededed;

		@media (max-width: map_get($grid-breakpoints, lg)) {
			.text-small {
				font-size: 12px;
			}
		}
		@media (min-width: map_get($grid-breakpoints, lg)) {
			padding-top: 24px;
			padding-bottom: 28px;
		}
	}
	&__body{
		padding-top: 39px;
		padding-bottom: 56px;
		@media (max-width: map-get($grid-breakpoints, lg)){
			padding-bottom: 24px;
		}
	}
	&__like{
		font-size: 22px;
		line-height: 21px;
		color: #dddddd;

		@media (max-width: map_get($grid-breakpoints, lg)) {
			font-size: 18px;
		}

		&.added {
			color: #fb5550;
		}
		@include hover-focus-active{
			text-decoration: none;
			color: #fb5550;
		}
	}

	&__compare {
		font-size: 22px;
		line-height: 21px;
		color: #dddddd;
		margin-right: 1rem;

		@media (max-width: map_get($grid-breakpoints, lg)) {
			font-size: 18px;
		}

		&.added{
			color: #5c44c1;
		}
		@include hover-focus-active {
			text-decoration: none;
			color: #5c44c1;
		}
	}
	&__color-list{
		font-size: 0;
	}
	&__price{
		display: inline-block;
		margin-top: 12px;
		font-size: 2rem;
		line-height: 2.5rem;
		color: $default-color;
		@media (max-width: map_get($grid-breakpoints, lg)) {
			font-size: 24px;
		}
		&s-block{
			margin-bottom: 32px;
			padding: 32px;
			border-radius: 8px;
			box-shadow: 0 8px 24px 0 rgba(153, 153, 153, 0.24);
			background-color: rgb(255, 255, 255);
			@media (max-width: map_get($grid-breakpoints, lg)) {
				padding: 16px;
			}
			@media (max-width: map-get($grid-breakpoints, sm)){
				box-shadow: none;
				border-radius: 0;
				padding: 0;
			}
		}
	}
	&__cashback{
		margin-top: 4px;
		font-weight: 600;
	}
}
.c-carousel{
	display: flex;
	&__preview{
		position: relative;
		width: 64px;
		height: 360px;
		margin-right: 32px;
		min-width: 64px;
		padding: 30px 0;
		
		&-container{
			position: relative;
			height: 300px;
			overflow: hidden;
			overflow: hidden;
		}
		&-item{
			width: 64px;
			height: 64px;	
			border-radius: 8px;
			margin-bottom: 16px;
			&.active{
				background: #f6f5f5;
			}
		}
		&-link{
			display: block;
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		&-img{
			max-width: 100%;
			max-height: 100%;
		}

	}
	&__body{
		width: 100%;
		text-align: center;
		margin-right: 48px;
		@media (max-width: map-get($grid-breakpoints, sm)){
			margin-right: 0;
		}
	}
	&__img{
		max-width: 100%;
	}
	&__nav{
		display: none;
		position: absolute;
		left: 17px;
		width: 30px;
		height: 30px;
		font-size: 20px;
		cursor: pointer;
		opacity: 0.8;
		line-height: 30px;
		margin-top: 0;
		&:hover{
			opacity: 1;
		}
		&_prev{
			top: -15px;
			transform: rotate(-90deg);
		}
		&_next{
			bottom: -15px;
			transform: rotate(90deg);
		}

		.arrow-on & {
			display: block;
		}
	}
}
.link-brand{
	position: relative;
	text-align: right;
	display: block;
	color: #999;
	font-size: 0.875rem;
	line-height: 40px;

	@include hover-focus-active{
		color: #999;
		text-decoration: none;
		@media (min-width: map_get($grid-breakpoints, sm)) {
			.link-brand__text{
				display: block;
			}
		}
		img{
			opacity: 0.8;
		}
	}
	&__img{
		max-width: 100%;
	}
	&__text{
		display: none;
		line-height: 1rem;
		position: absolute;
		bottom: calc(100% + 8px);
		right: 0;
	}
}
.specifications-list{
	margin: 0;
	padding: 0;

	list-style: none;
	&__item{
		color: #999;
		position: relative;
		font-size: 0.875rem;
		padding-left: 16px;
		line-height: 1.25rem;
		margin-bottom: 8px;
		&:before{
			position: absolute;
			left: 1px;
			content: "";
			top: 8px;
			width: 4px;
			height: 4px;
			border-radius: 2px;
			background: #ddd;

		}
	}
}

.prices-list{
	margin-bottom: 56px;
	@media (max-width: map-get($grid-breakpoints, sm)){
		margin-bottom: 32px;
	}
	&__header{
		background: #fff;
		box-shadow: 0 6px 16px 0 rgba(153, 153, 153, 0.08), inset 0 -1px 0 0 rgb(237, 237, 237);
		border-radius: 8px 8px 0 0;
		padding: 20px 32px 12px;
		& + .prices-list__container .prices-list__item:first-child{
			border-radius: 0;
		}
		@media (max-width: map-get($grid-breakpoints, lg)){
			background: none;
			padding-left: 0;
			padding-right: 0;
		}
	}

	&__item{
		display: flex;
		justify-content: space-between;
		align-items: center;
		background: #fff;
		padding: 16px 32px;
		min-height: 104px;
		box-shadow: 0 6px 16px 0 rgba(153, 153, 153, 0.08), inset 0 -1px 0 0 rgb(237, 237, 237);
		&:first-child{
			border-radius: 0 8px 0 0;
		}
		&:hover{
			.prices-list__brand-img{

				filter: grayscale(0);
				opacity: 1;
			}
		}
		@media (max-width: map-get($grid-breakpoints, sm)){
			display: block;
			overflow: hidden;
			clear: both;
		}
		@media (max-width: map_get($grid-breakpoints, lg)) {
			padding: 16px;
		}
	}
	&__brand-link{
		@media (max-width: map-get($grid-breakpoints, sm)){
			height: 32px;
		}
	}
	&__colum{
		@media (min-width: map_get($grid-breakpoints, lg)) {
			margin: 0 80px 0 0;
		}
		&_brand{
			display: flex;
			align-items: center;
			height: 40px;
			width: 112px;
			margin-right: 48px;
			@media (max-width: map-get($grid-breakpoints, sm)){
				float: left;
				margin-right: 0;
			}
		}
		&_prices{
			margin-right: 32px;
			@media (max-width: map-get($grid-breakpoints, sm)){
				margin-top: 10px;
				float: right;
				clear: right;
			}
		}
		&_description{
			width: 266px;
			@media (max-width: map-get($grid-breakpoints, sm)){
				float: right;
				margin-top: -40px;
				margin-right: 0;
			}
			@media (max-width: map_get($grid-breakpoints, lg)) {
				.text-small {
					font-size: 12px;
				}
			}
		}
		&_name{
			width: 208px;
			@media (max-width: map-get($grid-breakpoints, sm)){
				margin-right: 0;
				float: left;
				clear: both;
			}
			@media (max-width: map_get($grid-breakpoints, lg)) {
				.stars {
					margin-right: 0;
				}
				.text-small {
					font-size: 12px;
				}
			}
		}
		&:last-child{
			margin-right: 0;
			width: 128px;
			@media (max-width: map-get($grid-breakpoints, sm)){
				float: right;
				clear: right;
			}
		}
		@media (max-width: map-get($grid-breakpoints, sm)){
			width: calc(50% - 8px);
		}
		&_brand, &_name {
			@media (max-width: 450px){
				width: calc(45% - 8px);
			}
		}
		&_description, &_prices {
			@media (max-width: 450px){
				width: calc(55% - 8px);
			}
		}
	}
	&__price{
		line-height: 2rem;
		font-size: 22px;
		@media (max-width: map-get($grid-breakpoints, lg)){
			font-size: 1rem;
		}
	}
	&__cashback{
		margin-top: 8px;
		line-height: 1rem;

		@media (max-width: map-get($grid-breakpoints, sm)){
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			margin-top: -26px;
		}
		&-icon{
			padding-left: 4px;
			padding-right: 4px;
			display: inline-block;
			font-size: .5rem;
			color: #fff;
			background: $brand-color;
			border-radius: 8px;
			height: 16px;
			text-align: center;
			vertical-align: middle;
			span{
				margin-left: 0.5px;
			}
			//@media (max-width: map-get($grid-breakpoints, sm)){
			//	display: none;
			//}
		}
		&-text{
			vertical-align: middle;
			margin-left: 8px;
			font-size: 14px;
			color: $brand-color;
			line-height: 1rem;
			@media (max-width: map-get($grid-breakpoints, sm)){
				margin-left: 4px;
			}
			@media (max-width: map-get($grid-breakpoints, lg)){
				font-size: 12px;
			}
		}

	}
	&__offers{
		&__item{
			width: 24px;
			height: 24px;
			border-radius: 12px;
  			background-color: rgba(251, 85, 80, 0.16);
		}
	}
	&__brand{
		&-link{
			&:hover .prices-list__brand-img{
				filter: grayscale(0);
				opacity: 1;
			}
		}
		height: 40px;
		width: 112px;
		margin-right: 48px;
		
		&-img{
			filter: grayscale(1);
			opacity: 0.2;
			max-width: 100%;
			max-height: 100%;
			@media (max-width: map-get($grid-breakpoints, sm)){
				max-width: 100px;
			}
		}
	}
	&__name{
		font-size: 1rem;
		line-height: 1.5rem;
	}
	&__footer{
		padding: 20px;
		text-align: center;
		background: #fff;
		font-weight: 600;
		line-height: 1.5rem;	
		border-radius: 0 0 8px 8px;
		box-shadow: 0 6px 16px 0 rgba(153, 153, 153, 0.08);
	}
	&_min{
		.prices-list{
			&__colum{
				margin-right: 32px;
				&:last-child{
					margin-right: 0;
					width: auto;
					@media (min-width: map-get($grid-breakpoints, lg)){
						min-height: 57px;
					}
				}
				@media (max-width: map-get($grid-breakpoints, sm)){
					margin-right: 0;
				}
			}
		}
	}
}
.characteristics{
	margin-bottom: 56px;
	padding: 32px 0 24px;
	border-radius: 0 0 8px 8px;
  	box-shadow: 0 6px 16px 0 rgba(153, 153, 153, 0.08);
  	background-color: rgb(255, 255, 255);
  	@media (max-width: map-get($grid-breakpoints, sm)){
  		padding-top: 24px;
  	}
  	&__colum{
  		padding: 0 32px;
  		@media (max-width: map-get($grid-breakpoints, sm)){
  			padding: 0 16px;
  		}
  	}
  	&__list{
  		margin-bottom: 24px;
  		li{
  			margin-bottom: 8px;
  		}
  		@media (max-width: map-get($grid-breakpoints, sm)){
  			line-height: 1rem;
  		}
  	}
}
.offers-tags{
	margin-bottom: 6px;
	font-size: 0;
	&__item{
		margin-right: 8px;
		display: inline-block;
		width: 24px;
		height: 24px;
		font-size: 14px;
		border-radius: 12px;
		background: rgba(251, 85, 80, 0.16);
		text-align: center;
		font-weight: bold;
		color: #fb5550;
		line-height: 24px;
		cursor: pointer;
		&:hover{
			background: rgba(251, 85, 80, 0.32);
		}
		&_cart{
			
			font-size: 13px;
			&>span{
				display: inline-block;
				margin-top: 6px;
			}
		}
		&_gift{
			img{
				display: inline-block;
				margin-top: -2px;
			}
		}
	}	
}
.video {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
	background-color: #000000;
	&-cover {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: none;
	}
	&-play {
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 1;
		display: none;
		padding: 0;
		width: 68px;
		height: 48px;
		border: none;
		background-color: transparent;
		transform: translate(-50%, -50%);
		cursor: pointer;

		&:focus {
			outline: none;
		}

		&_shape {
			fill: #212121;
			fill-opacity: 0.8;
		}

		&_icon {
			fill: #ffffff;
		}

		&:hover .video-play_shape,
		.video-play:focus .video-play_shape {
			fill: #ff0000;
			fill-opacity: 1;
		}

		.video--enabled & {
			display: block;
		}
	}

	&-link {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&--enabled {
		cursor: pointer;
	}
}
.video-block{
	background: #333333;
	padding-top: 40px;
	padding-bottom: 64px;
	margin-bottom: 56px;

	@media (max-width: map-get($grid-breakpoints, sm)){
		padding-bottom: 32px;
		padding-top: 20px;
		margin-bottom: 32px;
	}
	&__previews{
		padding-left: 9px;
		&-item{
			border-radius: 8px;
			margin-top: 8px;
			margin-bottom: 32px;
			
			padding: 8px;
			&:hover, &.active{
				background: rgba(255, 255, 255, 0.16);
			}
			@media (max-width: map-get($grid-breakpoints, sm)){
				width: 25%;
				padding: 4px;
				border-radius: 4px;
				display: inline-block;
				margin-top: 0;
				margin-bottom: 0;
			}
		}
		&-img{
			max-width: 100%;
		}
	}
	&__video{
		//position:relative;
		//padding-bottom:56.25%;
		//padding-top:30px;
		//height:0;
		//overflow:hidden;
		//iframe, object, embed{
		//	position:absolute;
		//	top:0;
		//	left:0;
		//	width:100%;
		//	height:100%;
		//}
	}
	&__name{
		margin-top: 24px;
		font-size: 1.375rem;
		color: #fff;
		line-height: 2rem;
		@media (max-width: map-get($grid-breakpoints, sm)){
			font-size: 1rem;
			margin-top: 16px;
			line-height: 1.5rem;
			margin-bottom: 24px;
		}
	}
}

.card__product {

	&-images {
		text-align: center;

		@media (min-width: map_get($grid-breakpoints, lg)) {
			display: none;
		}

		&-wrapper {
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			-ms-touch-action: pan-y;
			touch-action: pan-y;
		}

		img {
			display: inline-block !important;
			width: auto !important;
			max-width: 100%;

			@media (max-width: map_get($grid-breakpoints, md)) {
				max-height: 264px;
			}
		}

		.cards__product-img {
			margin-bottom: 34px;
		}

		.owl-loaded + .cards__product-img {
			display: none;
		}
	}

	&-zoomer {
		display: none;
		&-closer {
			position: absolute;
			top: 7px;
			right: 20px;
			font-size: 2rem;
			font-weight: 500;
			cursor: pointer;
		}
		&.active {
			position: fixed;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			display: flex;
			align-items: center;
			height: 100vh;
			text-align: center;
			background-color: rgba(255,255,255,.95);
			z-index: 99999;

			.owl-nav {
				position: absolute;
				top: 50%;
				width: 100%;
				font-size: 5rem;

				> button {
					position: absolute;
					transform: translateY(-50%);
				}
			}

			.owl-prev {
				left: 20px;
			}

			.owl-next {
				right: 20px;
			}
		}

		img {
			display: inline-block !important;
			width: auto !important;
			max-width: 40vw;
			max-height: 75vh;
		}
	}
}

.owl-dot {

	&s {
		margin-top: 10px;
	}

	span {
		display: block;
		width: 7px;
		height: 7px;
		background: #ddd;
		border-radius: 50%;
		margin: 0 5px 0 0;
	}

	&.active {
		span {
			background: #5c44c1;
		}
	}
}
