.how-works {
  margin-bottom: 52px; }
  .how-works__link {
    color: #333; }
    .how-works__link:hover, .how-works__link:focus, .how-works__link:active {
      color: #fb5550;
      text-decoration: none; }
  @media (max-width: 576px) {
    .how-works {
      margin-bottom: 32px; } }
  .how-works__icon {
    line-height: 64px;
    height: 64px;
    font-size: 64px; }
    @media (max-width: 576px) {
      .how-works__icon {
        font-size: 46px;
        max-width: 66px;
        margin-right: 16px;
        justify-content: center; } }
    .how-works__icon_notebook {
      font-size: 50px; }
      @media (max-width: 576px) {
        .how-works__icon_notebook {
          font-size: 44px; } }
    .how-works__icon_mobile {
      font-size: 61px; }
      @media (max-width: 576px) {
        .how-works__icon_mobile {
          font-size: 46px; } }

.advantages {
  margin-bottom: 56px;
  color: #fff;
  padding: 40px 0 64px;
  background-image: linear-gradient(109deg, #5c44c1, #fb5550);
  border-radius: 0 !important; }
  .advantages:last-of-type {
    margin-bottom: 0; }
  @media (max-width: 576px) {
    .advantages {
      margin-bottom: 32px;
      padding-top: 20px; } }
  .advantages__image {
    width: 120px;
    max-width: 100%;
    font-size: 100px;
    line-height: 120px;
    text-align: center;
    margin-bottom: 24px; }
    @media (max-width: 992px) {
      .advantages__image {
        width: 80px;
        font-size: 80px;
        margin-bottom: 0; } }
  .advantages__name {
    font-size: 1.375rem;
    line-height: 2rem;
    margin-bottom: 8px; }
    @media (max-width: 992px) {
      .advantages__name {
        font-size: 1rem;
        line-height: 1.5rem; } }
  .advantages__item {
    margin-top: 32px;
    margin-right: 30px; }
    .advantages__items {
      display: flex;
      justify-content: space-between; }
      @media (max-width: 576px) {
        .advantages__items {
          display: block; } }
  .advantages__text {
    font-size: 1rem;
    line-height: 1.5rem;
    color: rgba(255, 255, 255, 0.64); }
    @media (max-width: 992px) {
      .advantages__text {
        font-size: 0.875rem;
        font-weight: 200; } }
  .advantages__title {
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.5rem;
    letter-spacing: normal; }
    @media (max-width: 576px) {
      .advantages__title {
        font-size: 1.5rem;
        line-height: 2rem; } }

@media (max-width: 576px) {
  .products {
    padding-right: 8px;
    padding-left: 8px; } }

.products__item {
  margin-bottom: 32px;
  padding: 24px;
  background: #fff;
  border-radius: 8px;
  height: calc(100% - 32px);
  box-shadow: 0 6px 16px 0 rgba(153, 153, 153, 0.08); }
  .products__item:hover {
    box-shadow: 0 8px 24px 0 rgba(153, 153, 153, 0.24);
    text-decoration: none;
    color: inherit; }
  @media (max-width: 992px) {
    .products__item {
      height: calc(100% - 16px);
      padding: 24px 16px 16px;
      margin-bottom: 16px; } }

.products__header {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: flex-end; }

.products__like {
  line-height: 24px;
  color: #dddddd; }
  .products__like:hover {
    color: #5c44c1;
    text-decoration: none; }
  .products__like.added {
    color: #5c44c1; }

.products__images {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 224px;
  margin-bottom: 24px;
  margin-top: -17px; }
  @media (max-width: 768px) {
    .products__images {
      height: 170px; } }
  @media (max-width: 576px) {
    .products__images {
      height: 150px; } }

.products__img {
  max-width: 100%;
  max-height: 100%; }

.products__name {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 16px;
  color: #333;
  font-weight: 600;
  display: block;
  height: 48px;
  overflow: hidden; }
  .products__name:hover {
    color: #666;
    text-decoration: none; }
  @media (max-width: 992px) {
    .products__name {
      font-size: 14px;
      line-height: 20px; } }
  @media (max-width: 768px) {
    .products__name {
      position: relative;
      left: 0;
      font-size: 0.875rem;
      line-height: 1.4;
      max-height: 35px;
      overflow: hidden; }
      .products__name:after {
        position: absolute;
        bottom: -3px;
        right: 0;
        content: '...';
        background: #ffffff; } }

.products__old-price {
  font-size: 14px;
  line-height: 1rem;
  color: #999999; }
  .products__old-price-text {
    position: relative; }
    .products__old-price-text:before {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 1px;
      background: #999999;
      content: ''; }

.products__price {
  font-size: 22px;
  font-weight: 600;
  line-height: 2rem; }
  .products__price_once {
    padding-top: 16px; }
  @media (max-width: 992px) {
    .products__price {
      font-size: 1rem;
      line-height: 1.5rem; } }

.products__max-price {
  line-height: 1rem;
  font-size: 14px;
  color: #999999; }
  @media (max-width: 992px) {
    .products__max-price {
      font-size: 12px; } }

.products__cashback {
  margin-top: 8px;
  line-height: 1rem; }
  .products__cashback-icon {
    padding-left: 4px;
    padding-right: 4px;
    display: inline-block;
    font-size: .5rem;
    color: #fff;
    background: #5c44c1;
    border-radius: 8px;
    height: 16px;
    text-align: center;
    vertical-align: middle; }
    .products__cashback-icon span {
      margin-left: 0.5px; }
    @media (max-width: 992px) {
      .products__cashback-icon {
        display: none; } }
  .products__cashback-text {
    vertical-align: middle;
    margin-left: 8px;
    font-size: 14px;
    font-weight: 600;
    color: #5c44c1;
    line-height: 1rem; }
    @media (max-width: 992px) {
      .products__cashback-text {
        margin-left: 0;
        font-size: 12px; } }

@media (max-width: 992px) {
  .products .btn-buy {
    padding: 0;
    width: auto;
    height: auto;
    border: none;
    font-size: 20px; } }

.products-list__item {
  display: block;
  background: #fff;
  padding: 24px;
  margin-bottom: 32px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 6px 16px 0 rgba(153, 153, 153, 0.08);
  border-radius: 8px;
  text-decoration: none;
  color: inherit; }
  .products-list__item:hover {
    box-shadow: 0 8px 24px 0 rgba(153, 153, 153, 0.24);
    text-decoration: none;
    color: inherit; }
  @media (max-width: 576px) {
    .products-list__item {
      display: block;
      padding: 16px; } }

.products-list__images {
  margin-right: 24px;
  margin-top: 8px;
  width: 168px;
  height: 172px;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media (max-width: 576px) {
    .products-list__images {
      width: 100%;
      height: 150px; } }

.products-list__img {
  max-width: 100%;
  max-height: 100%; }

.products-list__left {
  position: relative; }

.products-list__body {
  margin-right: 48px;
  width: 50%; }
  @media (max-width: 576px) {
    .products-list__body {
      width: 100%;
      margin-right: 0; }
      .products-list__body .tags__item {
        position: absolute;
        top: 10px;
        left: 30px; } }

.products-list__right {
  width: 152px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  @media (max-width: 576px) {
    .products-list__right {
      width: auto;
      margin-top: 1rem; } }

.products-list__like {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 24px;
  color: #dddddd; }
  .products-list__like:hover {
    color: #5c44c1;
    text-decoration: none; }
  .products-list__like.added {
    color: #5c44c1; }
  @media (max-width: 576px) {
    .products-list__like {
      top: -10px;
      right: 0;
      left: auto; } }

.products-list__description {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #999;
  margin-top: 16px; }

.products-list__name {
  display: block;
  margin-top: 8px;
  font-size: 1rem;
  color: #333;
  left: 1.5rem; }
  .products-list__name:hover {
    color: #666;
    text-decoration: none; }
  @media (max-width: 576px) {
    .products-list__name {
      position: relative;
      left: 0;
      font-size: 0.875rem;
      line-height: 1.4;
      max-height: 35px;
      overflow: hidden; }
      .products-list__name:after {
        position: absolute;
        bottom: -3px;
        right: 0;
        content: '...';
        background: #ffffff; } }

.products-list__old-price {
  font-size: 14px;
  line-height: 1rem;
  color: #999999; }
  .products-list__old-price-text {
    position: relative; }
    .products-list__old-price-text:before {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 1px;
      background: #999999;
      content: ''; }

.products-list__price {
  font-size: 22px;
  line-height: 2rem;
  margin-bottom: 4px; }
  .products-list__price_once {
    padding-top: 16px; }
  @media (max-width: 576px) {
    .products-list__price {
      font-size: 16px;
      line-height: 1rem;
      margin-bottom: 0; }
      .products-list__price span {
        font-size: 12px; } }
  @media (max-width: 576px) {
    .products-list__prices {
      min-height: 41px; } }

.products-list__max-price {
  line-height: 1rem;
  font-size: 14px;
  color: #999999; }
  @media (max-width: 576px) {
    .products-list__max-price {
      font-size: 12px;
      margin-bottom: 0.5rem; } }

.products-list__cashback {
  line-height: 1rem;
  margin-bottom: 16px; }
  @media (max-width: 576px) {
    .products-list__cashback {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      line-height: 1;
      margin-top: -19px;
      margin-bottom: -10px; }
      .products-list__cashback .btn-buy {
        border: none; } }
  .products-list__cashback-icon {
    padding-left: 4px;
    padding-right: 4px;
    display: inline-block;
    font-size: .5rem;
    color: #fff;
    background: #5c44c1;
    border-radius: 8px;
    height: 16px;
    text-align: center;
    vertical-align: middle; }
    @media (max-width: 576px) {
      .products-list__cashback-icon {
        display: none; } }
    .products-list__cashback-icon span {
      margin-left: 0.5px; }
  .products-list__cashback-text {
    vertical-align: middle;
    margin-left: 8px;
    font-size: 14px;
    color: #5c44c1;
    line-height: 1rem; }
    @media (max-width: 576px) {
      .products-list__cashback-text {
        font-size: 12px;
        margin-left: 0; }
        .products-list__cashback-text span {
          display: none; } }

.skeleton__header {
  width: 48%;
  height: 24px;
  border-radius: 8px;
  background-color: #f6f5f5;
  margin-bottom: 8px; }

.skeleton__img {
  height: 180px;
  width: 100%;
  border-radius: 8px;
  background-color: #f6f5f5;
  margin-bottom: 40px; }

.skeleton__name {
  border-radius: 8px;
  background-color: #f6f5f5;
  height: 24px;
  margin-bottom: 8px; }

.skeleton__price {
  height: 32px;
  margin-top: 20px;
  margin-bottom: 8px;
  border-radius: 8px;
  background-color: #f6f5f5; }

.skeleton__cashback-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background-color: #f6f5f5; }

.skeleton__cashback-text {
  height: 16px;
  display: inline-block;
  border-radius: 8px;
  background-color: #f6f5f5;
  max-width: 100px;
  width: 100%; }

.skeleton__btn {
  height: 48px;
  border-radius: 8px;
  background-color: #f6f5f5;
  width: 100%; }
  .skeleton__btn-buy {
    width: 40px;
    height: 40px;
    margin-top: 38px;
    border-radius: 8px;
    background-color: #f6f5f5; }

.skeleton_list .skeleton__img {
  width: 176px;
  margin-bottom: 0; }

.skeleton_list .skeleton__price {
  margin-top: 0px; }

.skeleton .products-list__body {
  width: 375px; }

.skeleton .products-list__description .skeleton__name {
  height: 20px; }

.reviews {
  margin-bottom: 56px;
  padding-top: 24px;
  border-radius: 8px;
  box-shadow: 0 6px 16px 0 rgba(153, 153, 153, 0.08);
  background-color: white; }
  @media (max-width: 576px) {
    .reviews {
      padding: 16px 16px 0; } }
  .reviews__header {
    margin-left: 36px;
    margin-right: 36px;
    border-bottom: 1px solid #ddd; }
    @media (max-width: 576px) {
      .reviews__header {
        margin: 0; } }
  .reviews__footer {
    font-weight: 600;
    padding: 20px; }

.review__item {
  padding: 32px 0 40px;
  border-bottom: 1px solid #ededed; }
  @media (max-width: 576px) {
    .review__item {
      padding: 24px 0 24px; } }
  .review__item_answer {
    background: #f6f5f5;
    padding-bottom: 24px;
    margin: 32px 32px 0;
    border-radius: 8px;
    border-bottom: none; }
    @media (max-width: 576px) {
      .review__item_answer {
        margin: 15px 0 0;
        padding: 16px; }
        .review__item_answer .review__autor-img-container {
          margin-right: 8px;
          float: left; } }

.review__autor {
  padding-left: 32px; }
  @media (max-width: 576px) {
    .review__autor {
      padding: 0; } }
  .review__autor-img {
    width: 56px;
    height: 56px;
    border-radius: 28px;
    margin-bottom: 12px; }

.review__container {
  padding-right: 32px; }

.review__text p {
  font-size: 0.875rem;
  margin-bottom: 16px;
  line-height: 1.25rem; }
  @media (max-width: 576px) {
    .review__text p {
      font-size: 12px;
      line-height: 1rem; } }

.likes__item {
  position: relative;
  display: inline-block;
  margin-left: 24px;
  padding-left: 32px; }

.likes__button {
  cursor: pointer;
  position: absolute;
  left: 0;
  top: -4px;
  width: 25px;
  height: 25px;
  background: url(/web/src/img/svg/hand.svg) no-repeat; }
  .likes__button:hover {
    background: url(/web/src/img/svg/hand__like.svg) no-repeat; }
  .likes__button_dislike {
    top: 0px;
    transform: scale(-1, 1) rotate(180deg); }
    .likes__button_dislike:hover {
      background: url(/web/src/img/svg/hand__dislike.svg) no-repeat; }

.likes__count {
  font-size: 0.875rem;
  line-height: 1.25rem; }
  @media (max-width: 576px) {
    .likes__count {
      font-size: 12px;
      line-height: 1rem; } }

.likes__input {
  display: none; }
  .likes__input:checked + .likes__button {
    background: url(/web/src/img/svg/hand__like.svg) no-repeat; }
    .likes__input:checked + .likes__button_dislike {
      background: url(/web/src/img/svg/hand__dislike.svg) no-repeat; }

/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1; }
  .owl-carousel .owl-stage {
    position: relative;
    touch-action: manipulation;
    -moz-backface-visibility: hidden;
    /* fix firefox animation glitch */ }
  .owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }
  .owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    /* fix for flashing background */
    -webkit-transform: translate3d(0px, 0px, 0px); }
  .owl-carousel .owl-wrapper,
  .owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0); }
  .owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none; }
  .owl-carousel .owl-item img {
    display: block;
    width: 100%; }
  .owl-carousel .owl-nav.disabled,
  .owl-carousel .owl-dots.disabled {
    display: none; }
  .owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next,
  .owl-carousel .owl-dot {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel .owl-nav button.owl-prev,
  .owl-carousel .owl-nav button.owl-next,
  .owl-carousel button.owl-dot {
    background: none;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit; }
  .owl-carousel.owl-loaded {
    display: block; }
  .owl-carousel.owl-loading {
    opacity: 0;
    display: block; }
  .owl-carousel.owl-hidden {
    opacity: 0; }
  .owl-carousel.owl-refresh .owl-item {
    visibility: hidden; }
  .owl-carousel.owl-drag .owl-item {
    touch-action: pan-y;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel.owl-grab {
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab; }
  .owl-carousel.owl-rtl {
    direction: rtl; }
  .owl-carousel.owl-rtl .owl-item {
    float: right; }

/* No Js */
.no-js .owl-carousel {
  display: block; }

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

.owl-carousel .owl-animated-in {
  z-index: 0; }

.owl-carousel .owl-animated-out {
  z-index: 1; }

.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut; }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  transition: height 500ms ease-in-out; }

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item {
  /**
			This is introduced due to a bug in IE11 where lazy loading combined with autoheight plugin causes a wrong
			calculation of the height of the owl-item that breaks page layouts
		 */ }
  .owl-carousel .owl-item .owl-lazy {
    opacity: 0;
    transition: opacity 400ms ease; }
  .owl-carousel .owl-item .owl-lazy[src^=""], .owl-carousel .owl-item .owl-lazy:not([src]) {
    max-height: 0; }
  .owl-carousel .owl-item img.owl-lazy {
    transform-style: preserve-3d; }

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; }

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 100ms ease; }

.owl-carousel .owl-video-play-icon:hover {
  transform: scale(1.3, 1.3); }

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none; }

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease; }

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%; }

.slider, .advantages {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 8px; }
  .slider__img, .advantages__img {
    max-width: 100%;
    border-radius: 8px;
    height: 240px;
    background-position: 50% 0;
    background-repeat: no-repeat; }
    @media (min-width: 768px) {
      .slider__img, .advantages__img {
        height: auto; }
        .slider__img--small, .advantages__img--small {
          max-height: 200px; } }
    .slider__img--2x, .advantages__img--2x {
      display: none; }
    @media (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 768px) and (min-device-pixel-ratio: 2), (max-width: 768px) and (min-resolution: 192dpi) {
      .slider__img--2x, .advantages__img--2x {
        display: block;
        background-size: 736px 240px; }
        .slider__img--2x + .slider__img, .advantages__img--2x + .slider__img {
          display: none !important; } }
  .slider__arrow, .advantages__arrow {
    cursor: pointer;
    width: 40px;
    color: #fff;
    height: 40px;
    font-size: 14px;
    line-height: 37px;
    border-radius: 20px;
    border: solid 2px rgba(255, 255, 255, 0.32);
    background: none;
    margin-left: 16px; }
    .slider__arrow:hover, .slider__arrow:focus, .slider__arrow:active, .advantages__arrow:hover, .advantages__arrow:focus, .advantages__arrow:active {
      color: white;
      border-color: rgba(255, 255, 255, 0.64); }
    .slider__arrow_prev, .advantages__arrow_prev {
      transform: rotate(180deg); }
    @media (max-width: 576px) {
      .slider__arrow, .advantages__arrow {
        width: 32px;
        height: 32px;
        border-radius: 16px;
        line-height: 30px;
        font-size: 11px;
        padding: 0; }
        .slider__arrow_next, .advantages__arrow_next {
          float: right; } }
  .slider__controls, .advantages__controls {
    z-index: 2;
    font-size: 0;
    position: absolute;
    bottom: 32px;
    right: 32px; }
    @media (max-width: 576px) {
      .slider__controls, .advantages__controls {
        bottom: 24px;
        width: 100%;
        right: 0px;
        padding-right: 24px; } }
  .slider .banner, .advantages .banner {
    margin: 0; }

.slider + .brands {
  margin-top: 32px; }
  @media (max-width: 768px) {
    .slider + .brands {
      margin-top: 16px; } }

.slider + .shops {
  margin-top: 32px; }
  @media (max-width: 992px) {
    .slider + .shops {
      margin-top: 16px; } }

@media (min-width: 1200px) {
  .advantages__controls {
    display: none; } }

.cards {
  margin-bottom: 56px; }
  @media (max-width: 992px) {
    .cards {
      padding: 0 16px;
      background: #fff;
      border-radius: 8px; } }
  .cards__header {
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #ededed; }
    @media (max-width: 992px) {
      .cards__header .text-small {
        font-size: 12px; } }
    @media (min-width: 992px) {
      .cards__header {
        padding-top: 24px;
        padding-bottom: 28px; } }
  .cards__body {
    padding-top: 39px;
    padding-bottom: 56px; }
    @media (max-width: 992px) {
      .cards__body {
        padding-bottom: 24px; } }
  .cards__like {
    font-size: 22px;
    line-height: 21px;
    color: #dddddd; }
    @media (max-width: 992px) {
      .cards__like {
        font-size: 18px; } }
    .cards__like.added {
      color: #fb5550; }
    .cards__like:hover, .cards__like:focus, .cards__like:active {
      text-decoration: none;
      color: #fb5550; }
  .cards__compare {
    font-size: 22px;
    line-height: 21px;
    color: #dddddd;
    margin-right: 1rem; }
    @media (max-width: 992px) {
      .cards__compare {
        font-size: 18px; } }
    .cards__compare.added {
      color: #5c44c1; }
    .cards__compare:hover, .cards__compare:focus, .cards__compare:active {
      text-decoration: none;
      color: #5c44c1; }
  .cards__color-list {
    font-size: 0; }
  .cards__price {
    display: inline-block;
    margin-top: 12px;
    font-size: 2rem;
    line-height: 2.5rem;
    color: #333333; }
    @media (max-width: 992px) {
      .cards__price {
        font-size: 24px; } }
    .cards__prices-block {
      margin-bottom: 32px;
      padding: 32px;
      border-radius: 8px;
      box-shadow: 0 8px 24px 0 rgba(153, 153, 153, 0.24);
      background-color: white; }
      @media (max-width: 992px) {
        .cards__prices-block {
          padding: 16px; } }
      @media (max-width: 576px) {
        .cards__prices-block {
          box-shadow: none;
          border-radius: 0;
          padding: 0; } }
  .cards__cashback {
    margin-top: 4px;
    font-weight: 600; }

.c-carousel {
  display: flex; }
  .c-carousel__preview {
    position: relative;
    width: 64px;
    height: 360px;
    margin-right: 32px;
    min-width: 64px;
    padding: 30px 0; }
    .c-carousel__preview-container {
      position: relative;
      height: 300px;
      overflow: hidden;
      overflow: hidden; }
    .c-carousel__preview-item {
      width: 64px;
      height: 64px;
      border-radius: 8px;
      margin-bottom: 16px; }
      .c-carousel__preview-item.active {
        background: #f6f5f5; }
    .c-carousel__preview-link {
      display: block;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
    .c-carousel__preview-img {
      max-width: 100%;
      max-height: 100%; }
  .c-carousel__body {
    width: 100%;
    text-align: center;
    margin-right: 48px; }
    @media (max-width: 576px) {
      .c-carousel__body {
        margin-right: 0; } }
  .c-carousel__img {
    max-width: 100%; }
  .c-carousel__nav {
    display: none;
    position: absolute;
    left: 17px;
    width: 30px;
    height: 30px;
    font-size: 20px;
    cursor: pointer;
    opacity: 0.8;
    line-height: 30px;
    margin-top: 0; }
    .c-carousel__nav:hover {
      opacity: 1; }
    .c-carousel__nav_prev {
      top: -15px;
      transform: rotate(-90deg); }
    .c-carousel__nav_next {
      bottom: -15px;
      transform: rotate(90deg); }
    .arrow-on .c-carousel__nav {
      display: block; }

.link-brand {
  position: relative;
  text-align: right;
  display: block;
  color: #999;
  font-size: 0.875rem;
  line-height: 40px; }
  .link-brand:hover, .link-brand:focus, .link-brand:active {
    color: #999;
    text-decoration: none; }
    @media (min-width: 576px) {
      .link-brand:hover .link-brand__text, .link-brand:focus .link-brand__text, .link-brand:active .link-brand__text {
        display: block; } }
    .link-brand:hover img, .link-brand:focus img, .link-brand:active img {
      opacity: 0.8; }
  .link-brand__img {
    max-width: 100%; }
  .link-brand__text {
    display: none;
    line-height: 1rem;
    position: absolute;
    bottom: calc(100% + 8px);
    right: 0; }

.specifications-list {
  margin: 0;
  padding: 0;
  list-style: none; }
  .specifications-list__item {
    color: #999;
    position: relative;
    font-size: 0.875rem;
    padding-left: 16px;
    line-height: 1.25rem;
    margin-bottom: 8px; }
    .specifications-list__item:before {
      position: absolute;
      left: 1px;
      content: "";
      top: 8px;
      width: 4px;
      height: 4px;
      border-radius: 2px;
      background: #ddd; }

.prices-list {
  margin-bottom: 56px; }
  @media (max-width: 576px) {
    .prices-list {
      margin-bottom: 32px; } }
  .prices-list__header {
    background: #fff;
    box-shadow: 0 6px 16px 0 rgba(153, 153, 153, 0.08), inset 0 -1px 0 0 #ededed;
    border-radius: 8px 8px 0 0;
    padding: 20px 32px 12px; }
    .prices-list__header + .prices-list__container .prices-list__item:first-child {
      border-radius: 0; }
    @media (max-width: 992px) {
      .prices-list__header {
        background: none;
        padding-left: 0;
        padding-right: 0; } }
  .prices-list__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 16px 32px;
    min-height: 104px;
    box-shadow: 0 6px 16px 0 rgba(153, 153, 153, 0.08), inset 0 -1px 0 0 #ededed; }
    .prices-list__item:first-child {
      border-radius: 0 8px 0 0; }
    .prices-list__item:hover .prices-list__brand-img {
      -webkit-filter: grayscale(0);
              filter: grayscale(0);
      opacity: 1; }
    @media (max-width: 576px) {
      .prices-list__item {
        display: block;
        overflow: hidden;
        clear: both; } }
    @media (max-width: 992px) {
      .prices-list__item {
        padding: 16px; } }
  @media (max-width: 576px) {
    .prices-list__brand-link {
      height: 32px; } }
  @media (min-width: 992px) {
    .prices-list__colum {
      margin: 0 80px 0 0; } }
  .prices-list__colum_brand {
    display: flex;
    align-items: center;
    height: 40px;
    width: 112px;
    margin-right: 48px; }
    @media (max-width: 576px) {
      .prices-list__colum_brand {
        float: left;
        margin-right: 0; } }
  .prices-list__colum_prices {
    margin-right: 32px; }
    @media (max-width: 576px) {
      .prices-list__colum_prices {
        margin-top: 10px;
        float: right;
        clear: right; } }
  .prices-list__colum_description {
    width: 266px; }
    @media (max-width: 576px) {
      .prices-list__colum_description {
        float: right;
        margin-top: -40px;
        margin-right: 0; } }
    @media (max-width: 992px) {
      .prices-list__colum_description .text-small {
        font-size: 12px; } }
  .prices-list__colum_name {
    width: 208px; }
    @media (max-width: 576px) {
      .prices-list__colum_name {
        margin-right: 0;
        float: left;
        clear: both; } }
    @media (max-width: 992px) {
      .prices-list__colum_name .stars {
        margin-right: 0; }
      .prices-list__colum_name .text-small {
        font-size: 12px; } }
  .prices-list__colum:last-child {
    margin-right: 0;
    width: 128px; }
    @media (max-width: 576px) {
      .prices-list__colum:last-child {
        float: right;
        clear: right; } }
  @media (max-width: 576px) {
    .prices-list__colum {
      width: calc(50% - 8px); } }
  @media (max-width: 450px) {
    .prices-list__colum_brand, .prices-list__colum_name {
      width: calc(45% - 8px); } }
  @media (max-width: 450px) {
    .prices-list__colum_description, .prices-list__colum_prices {
      width: calc(55% - 8px); } }
  .prices-list__price {
    line-height: 2rem;
    font-size: 22px; }
    @media (max-width: 992px) {
      .prices-list__price {
        font-size: 1rem; } }
  .prices-list__cashback {
    margin-top: 8px;
    line-height: 1rem; }
    @media (max-width: 576px) {
      .prices-list__cashback {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-top: -26px; } }
    .prices-list__cashback-icon {
      padding-left: 4px;
      padding-right: 4px;
      display: inline-block;
      font-size: .5rem;
      color: #fff;
      background: #5c44c1;
      border-radius: 8px;
      height: 16px;
      text-align: center;
      vertical-align: middle; }
      .prices-list__cashback-icon span {
        margin-left: 0.5px; }
    .prices-list__cashback-text {
      vertical-align: middle;
      margin-left: 8px;
      font-size: 14px;
      color: #5c44c1;
      line-height: 1rem; }
      @media (max-width: 576px) {
        .prices-list__cashback-text {
          margin-left: 4px; } }
      @media (max-width: 992px) {
        .prices-list__cashback-text {
          font-size: 12px; } }
  .prices-list__offers__item {
    width: 24px;
    height: 24px;
    border-radius: 12px;
    background-color: rgba(251, 85, 80, 0.16); }
  .prices-list__brand {
    height: 40px;
    width: 112px;
    margin-right: 48px; }
    .prices-list__brand-link:hover .prices-list__brand-img {
      -webkit-filter: grayscale(0);
              filter: grayscale(0);
      opacity: 1; }
    .prices-list__brand-img {
      -webkit-filter: grayscale(1);
              filter: grayscale(1);
      opacity: 0.2;
      max-width: 100%;
      max-height: 100%; }
      @media (max-width: 576px) {
        .prices-list__brand-img {
          max-width: 100px; } }
  .prices-list__name {
    font-size: 1rem;
    line-height: 1.5rem; }
  .prices-list__footer {
    padding: 20px;
    text-align: center;
    background: #fff;
    font-weight: 600;
    line-height: 1.5rem;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 6px 16px 0 rgba(153, 153, 153, 0.08); }
  .prices-list_min .prices-list__colum {
    margin-right: 32px; }
    .prices-list_min .prices-list__colum:last-child {
      margin-right: 0;
      width: auto; }
      @media (min-width: 992px) {
        .prices-list_min .prices-list__colum:last-child {
          min-height: 57px; } }
    @media (max-width: 576px) {
      .prices-list_min .prices-list__colum {
        margin-right: 0; } }

.characteristics {
  margin-bottom: 56px;
  padding: 32px 0 24px;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 6px 16px 0 rgba(153, 153, 153, 0.08);
  background-color: white; }
  @media (max-width: 576px) {
    .characteristics {
      padding-top: 24px; } }
  .characteristics__colum {
    padding: 0 32px; }
    @media (max-width: 576px) {
      .characteristics__colum {
        padding: 0 16px; } }
  .characteristics__list {
    margin-bottom: 24px; }
    .characteristics__list li {
      margin-bottom: 8px; }
    @media (max-width: 576px) {
      .characteristics__list {
        line-height: 1rem; } }

.offers-tags {
  margin-bottom: 6px;
  font-size: 0; }
  .offers-tags__item {
    margin-right: 8px;
    display: inline-block;
    width: 24px;
    height: 24px;
    font-size: 14px;
    border-radius: 12px;
    background: rgba(251, 85, 80, 0.16);
    text-align: center;
    font-weight: bold;
    color: #fb5550;
    line-height: 24px;
    cursor: pointer; }
    .offers-tags__item:hover {
      background: rgba(251, 85, 80, 0.32); }
    .offers-tags__item_cart {
      font-size: 13px; }
      .offers-tags__item_cart > span {
        display: inline-block;
        margin-top: 6px; }
    .offers-tags__item_gift img {
      display: inline-block;
      margin-top: -2px; }

.video {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  background-color: #000000; }
  .video-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none; }
  .video-play {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    display: none;
    padding: 0;
    width: 68px;
    height: 48px;
    border: none;
    background-color: transparent;
    transform: translate(-50%, -50%);
    cursor: pointer; }
    .video-play:focus {
      outline: none; }
    .video-play_shape {
      fill: #212121;
      fill-opacity: 0.8; }
    .video-play_icon {
      fill: #ffffff; }
    .video-play:hover .video-play_shape,
    .video-play .video-play:focus .video-play_shape {
      fill: #ff0000;
      fill-opacity: 1; }
    .video--enabled .video-play {
      display: block; }
  .video-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .video--enabled {
    cursor: pointer; }

.video-block {
  background: #333333;
  padding-top: 40px;
  padding-bottom: 64px;
  margin-bottom: 56px; }
  @media (max-width: 576px) {
    .video-block {
      padding-bottom: 32px;
      padding-top: 20px;
      margin-bottom: 32px; } }
  .video-block__previews {
    padding-left: 9px; }
    .video-block__previews-item {
      border-radius: 8px;
      margin-top: 8px;
      margin-bottom: 32px;
      padding: 8px; }
      .video-block__previews-item:hover, .video-block__previews-item.active {
        background: rgba(255, 255, 255, 0.16); }
      @media (max-width: 576px) {
        .video-block__previews-item {
          width: 25%;
          padding: 4px;
          border-radius: 4px;
          display: inline-block;
          margin-top: 0;
          margin-bottom: 0; } }
    .video-block__previews-img {
      max-width: 100%; }
  .video-block__name {
    margin-top: 24px;
    font-size: 1.375rem;
    color: #fff;
    line-height: 2rem; }
    @media (max-width: 576px) {
      .video-block__name {
        font-size: 1rem;
        margin-top: 16px;
        line-height: 1.5rem;
        margin-bottom: 24px; } }

.card__product-images {
  text-align: center; }
  @media (min-width: 992px) {
    .card__product-images {
      display: none; } }
  .card__product-images-wrapper {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    touch-action: pan-y; }
  .card__product-images img {
    display: inline-block !important;
    width: auto !important;
    max-width: 100%; }
    @media (max-width: 768px) {
      .card__product-images img {
        max-height: 264px; } }
  .card__product-images .cards__product-img {
    margin-bottom: 34px; }
  .card__product-images .owl-loaded + .cards__product-img {
    display: none; }

.card__product-zoomer {
  display: none; }
  .card__product-zoomer-closer {
    position: absolute;
    top: 7px;
    right: 20px;
    font-size: 2rem;
    font-weight: 500;
    cursor: pointer; }
  .card__product-zoomer.active {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 99999; }
    .card__product-zoomer.active .owl-nav {
      position: absolute;
      top: 50%;
      width: 100%;
      font-size: 5rem; }
      .card__product-zoomer.active .owl-nav > button {
        position: absolute;
        transform: translateY(-50%); }
    .card__product-zoomer.active .owl-prev {
      left: 20px; }
    .card__product-zoomer.active .owl-next {
      right: 20px; }
  .card__product-zoomer img {
    display: inline-block !important;
    width: auto !important;
    max-width: 40vw;
    max-height: 75vh; }

.owl-dots {
  margin-top: 10px; }

.owl-dot span {
  display: block;
  width: 7px;
  height: 7px;
  background: #ddd;
  border-radius: 50%;
  margin: 0 5px 0 0; }

.owl-dot.active span {
  background: #5c44c1; }
