@import '../variables';
@import '../mixins/mixin-common';
@import '../partial/products';
@import '../partial/advantages';
@import "../partial/slider";

.catalog-view{
	display: flex;
	justify-content: space-between;
		&__item{
		font-size: 24px;
		display: block;
		color: #fff;
		line-height: 1;

		&.active, &:hover{
			color: $brand-color;
		}
	}
	
}
