.slider, .advantages {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 8px; }
  .slider__img, .advantages__img {
    max-width: 100%;
    border-radius: 8px;
    height: 240px;
    background-position: 50% 0;
    background-repeat: no-repeat; }
    @media (min-width: 768px) {
      .slider__img, .advantages__img {
        height: auto; }
        .slider__img--small, .advantages__img--small {
          max-height: 200px; } }
    .slider__img--2x, .advantages__img--2x {
      display: none; }
    @media (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 768px) and (min-device-pixel-ratio: 2), (max-width: 768px) and (min-resolution: 192dpi) {
      .slider__img--2x, .advantages__img--2x {
        display: block;
        background-size: 736px 240px; }
        .slider__img--2x + .slider__img, .advantages__img--2x + .slider__img {
          display: none !important; } }
  .slider__arrow, .advantages__arrow {
    cursor: pointer;
    width: 40px;
    color: #fff;
    height: 40px;
    font-size: 14px;
    line-height: 37px;
    border-radius: 20px;
    border: solid 2px rgba(255, 255, 255, 0.32);
    background: none;
    margin-left: 16px; }
    .slider__arrow:hover, .slider__arrow:focus, .slider__arrow:active, .advantages__arrow:hover, .advantages__arrow:focus, .advantages__arrow:active {
      color: white;
      border-color: rgba(255, 255, 255, 0.64); }
    .slider__arrow_prev, .advantages__arrow_prev {
      transform: rotate(180deg); }
    @media (max-width: 576px) {
      .slider__arrow, .advantages__arrow {
        width: 32px;
        height: 32px;
        border-radius: 16px;
        line-height: 30px;
        font-size: 11px;
        padding: 0; }
        .slider__arrow_next, .advantages__arrow_next {
          float: right; } }
  .slider__controls, .advantages__controls {
    z-index: 2;
    font-size: 0;
    position: absolute;
    bottom: 32px;
    right: 32px; }
    @media (max-width: 576px) {
      .slider__controls, .advantages__controls {
        bottom: 24px;
        width: 100%;
        right: 0px;
        padding-right: 24px; } }
  .slider .banner, .advantages .banner {
    margin: 0; }

.slider + .brands {
  margin-top: 32px; }
  @media (max-width: 768px) {
    .slider + .brands {
      margin-top: 16px; } }

.slider + .shops {
  margin-top: 32px; }
  @media (max-width: 992px) {
    .slider + .shops {
      margin-top: 16px; } }

@media (min-width: 1200px) {
  .advantages__controls {
    display: none; } }

@media (min-width: 992px) {
  .container {
    padding-left: 15px;
    padding-right: 15px; }
  .row {
    margin-left: -15px;
    margin-right: -15px; }
    .row > .col,
    .row > [class*=col-] {
      padding-left: 15px;
      padding-right: 15px; } }

.content-body {
  background-color: #ffffff;
  padding-bottom: 60px; }

.nav-link span {
  margin-left: 10px; }

.compare__list {
  position: relative; }
  .compare__list-arrow {
    position: absolute;
    top: 80px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 2px solid rgba(144, 144, 144, 0.32);
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    z-index: 1001; }
    .compare__list-arrow:before {
      position: absolute;
      top: 6px;
      left: 8px;
      content: '\e90e';
      font-family: 'icomoon', sans-serif;
      color: rgba(144, 144, 144, 0.5); }
    .compare__list-arrow.disabled {
      display: none; }
    .compare__list-arrow--next {
      right: 15px; }
    .compare__list-arrow--prev {
      left: 15px; }
      .compare__list-arrow--prev:before {
        transform: rotate(180deg); }

.product__list {
  position: relative;
  display: inline-flex;
  width: 100%;
  left: 0; }
  @media (min-width: 992px) {
    .product__list {
      height: 393.8px; } }
  .product__list-wrapper .container {
    padding: 0; }
  .product__list-wrapper.floated {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 -4px 32px 4px #5f5f5f;
    z-index: 1000; }
    .product__list-wrapper.floated + .row {
      margin-top: 230px; }
    .product__list-wrapper.floated .container {
      position: relative;
      padding-left: 12px;
      padding-right: 12px; }
    .product__list-wrapper.floated .product__body {
      display: none; }
    .product__list-wrapper.floated .product__list {
      height: auto; }
      .product__list-wrapper.floated .product__list-item {
        padding: 20px 0; }
    .product__list-wrapper.floated .product-img {
      max-height: 60px; }
      .product__list-wrapper.floated .product-img-wrapper {
        height: 60px; }
    .product__list-wrapper.floated .product__header {
      margin-bottom: 0; }
      @media (max-width: 992px) {
        .product__list-wrapper.floated .product__header {
          display: flex; }
          .product__list-wrapper.floated .product__header .product-img-wrapper {
            width: 50%; } }
    .product__list-wrapper.floated .compare__list-arrow {
      top: 30px; }
  .product__list-item {
    width: 50%;
    padding: 40px 10px 40px 0;
    white-space: normal;
    opacity: 0;
    transition: opacity 1s linear;
    display: none; }
    .product__list-item.show {
      opacity: 1;
      display: block; }
    @media (min-width: 576px) {
      .product__list-item {
        width: 33.33%; } }
    @media (min-width: 768px) {
      .product__list-item {
        width: 25%; } }
    @media (min-width: 992px) {
      .product__list-item {
        width: 20%; } }

.product-img {
  max-height: 120px;
  max-width: 50%;
  vertical-align: middle; }
  .product-img-wrapper {
    display: flex;
    align-items: center;
    height: 120px;
    margin-bottom: 1rem; }

.product__header {
  margin-bottom: 1rem; }
  @media (max-width: 992px) {
    .product__header {
      font-size: 0.875rem;
      margin-bottom: 0.5rem; } }

.product-title {
  display: block;
  color: #333; }
  .product-title:hover {
    color: #333;
    text-decoration: none; }

.product__price-from {
  font-size: 22px; }
  @media (max-width: 992px) {
    .product__price-from {
      font-size: 1rem; } }

.product__price-to {
  color: #909090; }
  @media (max-width: 992px) {
    .product__price-to {
      font-size: 12px; } }

.product__cashback {
  line-height: 1rem;
  margin-bottom: 16px; }
  .product__cashback-icon {
    padding-left: 4px;
    padding-right: 4px;
    display: inline-block;
    font-size: .5rem;
    color: #fff;
    background: #5c44c1;
    border-radius: 8px;
    height: 16px;
    text-align: center;
    vertical-align: middle; }
    @media (max-width: 576px) {
      .product__cashback-icon {
        display: none; } }
    .product__cashback-icon span {
      margin-left: 0.5px; }
  .product__cashback-text {
    vertical-align: middle;
    margin-left: 8px;
    font-size: 14px;
    color: #5c44c1;
    line-height: 1rem; }
    @media (max-width: 576px) {
      .product__cashback-text {
        font-size: 12px;
        margin-left: 0;
        border-bottom: 1px dashed; }
        .product__cashback-text span {
          display: none; } }

.product__buy .btn {
  max-width: 102px; }
  @media (max-width: 992px) {
    .product__buy .btn {
      font-size: 0.875rem; } }

.actions-item {
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  padding-top: 24px;
  padding-bottom: 24px; }

.characteristic__list .card {
  padding-bottom: 0;
  border-bottom-color: #ededed; }
  .characteristic__list .card:last-of-type {
    border-bottom: none; }
  .characteristic__list .card-header {
    font-weight: 600;
    padding: 24px 0;
    border-bottom: none; }
    .characteristic__list .card-header:after {
      top: inherit;
      right: inherit;
      margin-left: 12px; }

.characteristic__row {
  position: relative;
  display: flex;
  align-items: flex-end; }
  @media (min-width: 992px) {
    .characteristic__row:hover {
      background-color: #f6f5f5;
      cursor: pointer; }
      .characteristic__row:hover:after {
        position: absolute;
        top: 0;
        left: -20px;
        width: 20px;
        height: 100%;
        content: '';
        background-color: #f6f5f5; } }
  .characteristic__row-item {
    display: none;
    width: 50%;
    font-size: 0.875rem;
    padding: 12px 0;
    opacity: 0;
    transition: opacity 1s linear; }
    .characteristic__row-item.show {
      display: block;
      opacity: 1; }
    @media (min-width: 576px) {
      .characteristic__row-item {
        width: 33%; } }
    @media (min-width: 768px) {
      .characteristic__row-item {
        width: 25%; } }
    @media (min-width: 992px) {
      .characteristic__row-item {
        width: 20%; } }

.characteristic-title {
  display: none;
  color: #999;
  line-height: 1.3;
  margin-bottom: 8px; }
  .show.first .characteristic-title, .characteristic__row-item:first-of-type .characteristic-title {
    display: block; }

.offers-tags {
  margin-bottom: 6px;
  font-size: 0; }
  .offers-tags__item {
    margin-right: 8px;
    display: inline-block;
    width: 24px;
    height: 24px;
    font-size: 14px;
    border-radius: 12px;
    background: rgba(251, 85, 80, 0.16);
    text-align: center;
    font-weight: bold;
    color: #fb5550;
    line-height: 24px;
    cursor: pointer; }
    .offers-tags__item:hover {
      background: rgba(251, 85, 80, 0.32); }
    .offers-tags__item_cart {
      font-size: 13px; }
      .offers-tags__item_cart > span {
        display: inline-block;
        margin-top: 6px; }
    .offers-tags__item_gift img {
      display: inline-block;
      margin-top: -2px; }

.delete-action {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  line-height: 28px;
  cursor: pointer; }
  @media (max-width: 992px) {
    .delete-action {
      font-size: 0.875rem; } }
