@import '../variables';
$grid-gutter-width: 24px;
@import '../mixins/mixin-common';
@import '../partial/slider';

@import '../media';

.content {

  &-body {
    background-color: #ffffff;
    padding-bottom: 60px;
  }
}

.nav-link span {
  margin-left: 10px;
}

.compare__list {
  position: relative;

  &-arrow {
    position: absolute;
    top: 80px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 2px solid rgba(144,144,144, 0.32);
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    z-index: 1001;

    &:before {
      position: absolute;
      top: 6px;
      left: 8px;
      content: '\e90e';
      font-family: 'icomoon', sans-serif;
      color: rgba(144,144,144, 0.5);
    }

    &.disabled {
      display: none;
    }

    &--next {
      right: 15px;
    }

    &--prev {
      left: 15px;

      &:before {
        transform: rotate(180deg);
      }
    }
  }
}

.product {

  &__list {

    //display: flex;
    //align-items: flex-start;
    //justify-content: flex-start;
    position: relative;
    display: inline-flex;
    width: 100%;
    left: 0;

    @media (min-width: map_get($grid-breakpoints, lg)) {
      height: 393.8px;
    }

    &-wrapper {

      .container {
        padding: 0;
      }

      &.floated {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        background-color: #fff;
        box-shadow: 0 -4px 32px 4px #5f5f5f;
        z-index: 1000;

        & + .row {
          margin-top: 230px;
        }

        .container {
          position: relative;
          padding-left: $grid-gutter-width / 2;
          padding-right: $grid-gutter-width / 2;
        }

        .product {

          &__body {
            display: none;
          }

          &__list {

            height: auto;

            &-item {
              padding: 20px 0;
            }
          }

          &-img {
            max-height: 60px;

            &-wrapper {
              height: 60px;
            }
          }

          &__header {
            margin-bottom: 0;

            @media (max-width: map_get($grid-breakpoints, lg)) {
              display: flex;

              .product-img-wrapper {
                width: 50%;
              }
            }
          }
        }

        .compare__list-arrow {
          top: 30px;
        }
      }
    }

    &-item {
      width: 50%;
      //width: 224.3px;
      padding: 40px 10px 40px 0;
      white-space: normal;
      opacity: 0;
      transition: opacity 1s linear;
      display: none;
      &.show {
        opacity: 1;
        display: block;
      }

      @media (min-width: map_get($grid-breakpoints, sm)) {
        width: 33.33%;
      }

      @media (min-width: map_get($grid-breakpoints, md)) {
        width: 25%;
      }

      @media (min-width: map_get($grid-breakpoints, lg)) {
        width: 20%;
      }
    }
  }

  &-img {
    max-height: 120px;
    max-width: 50%;
    vertical-align: middle;

    &-wrapper {
      display: flex;
      align-items: center;
      height: 120px;
      margin-bottom: 1rem;
    }
  }

  &__header {
    margin-bottom: 1rem;

    @media (max-width: map_get($grid-breakpoints, lg)) {
      font-size: 0.875rem;
      margin-bottom: 0.5rem;
    }
  }

  &-title {
    display: block;
    color: #333;

    &:hover {
      color: #333;
      text-decoration: none;
    }
  }

  &__price {

    &-from {
      font-size: 22px;

      @media (max-width: map_get($grid-breakpoints, lg)) {
        font-size: 1rem;
      }
    }

    &-to {
      color: #909090;

      @media (max-width: map_get($grid-breakpoints, lg)) {
        font-size: 12px;
      }
    }
  }

  &__cashback {
    line-height: 1rem;
    margin-bottom: 16px;

    &-icon{
      padding-left: 4px;
      padding-right: 4px;
      display: inline-block;
      font-size: .5rem;
      color: #fff;
      background: $brand-color;
      border-radius: 8px;
      height: 16px;
      text-align: center;
      vertical-align: middle;

      @media (max-width: map_get($grid-breakpoints, sm)) {
        display: none;
      }

      span{
        margin-left: 0.5px;
      }
    }
    &-text{
      vertical-align: middle;
      margin-left: 8px;
      font-size: 14px;
      color: $brand-color;
      line-height: 1rem;

      @media (max-width: map_get($grid-breakpoints, sm)) {
        font-size: 12px;
        margin-left: 0;
        border-bottom: 1px dashed;

        span {
          display: none;
        }
      }
    }
  }

  &__buy {

    .btn {
      max-width: 102px;

      @media (max-width: map_get($grid-breakpoints, lg)) {
        font-size: 0.875rem;
      }
    }
  }
}

.actions {

  &-item {
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.characteristic {
  &__list {
    .card {
      padding-bottom: 0;
      border-bottom-color: #ededed;

      &:last-of-type {
        border-bottom: none;
      }

      &-header {
        font-weight: 600;
        padding: 24px 0;
        border-bottom: none;

        &:after {
          top: inherit;
          right: inherit;
          margin-left: 12px;
        }
      }
    }
  }
  &__row {
    position: relative;
    display: flex;
    align-items: flex-end;

    &:hover {
      @media (min-width: map_get($grid-breakpoints, lg)) {
        background-color: #f6f5f5;
        cursor: pointer;

        &:after {
          position: absolute;
          top: 0;
          left: -20px;
          width: 20px;
          height: 100%;
          content: '';
          background-color: #f6f5f5;
        }
      }
    }

    &-item {
      display: none;
      width: 50%;
      font-size: 0.875rem;
      padding: 12px 0;
      opacity: 0;
      transition: opacity 1s linear;

      &.show {
        display: block;
        opacity: 1;
      }

      @media (min-width: map_get($grid-breakpoints, sm)) {
        width: 33%;
      }

      @media (min-width: map_get($grid-breakpoints, md)) {
        width: 25%;
      }

      @media (min-width: map_get($grid-breakpoints, lg)) {
        width: 20%;
      }
    }
  }

  &-title {
    display: none;
    color: #999;
    line-height: 1.3;
    margin-bottom: 8px;

    .show.first &, .characteristic__row-item:first-of-type & {
      display: block;
    }
  }
}

.offers-tags{
  margin-bottom: 6px;
  font-size: 0;
  &__item{
    margin-right: 8px;
    display: inline-block;
    width: 24px;
    height: 24px;
    font-size: 14px;
    border-radius: 12px;
    background: rgba(251, 85, 80, 0.16);
    text-align: center;
    font-weight: bold;
    color: #fb5550;
    line-height: 24px;
    cursor: pointer;
    &:hover{
      background: rgba(251, 85, 80, 0.32);
    }
    &_cart{

      font-size: 13px;
      &>span{
        display: inline-block;
        margin-top: 6px;
      }
    }
    &_gift{
      img{
        display: inline-block;
        margin-top: -2px;
      }
    }
  }
}

.delete-action {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  line-height: 28px;
  cursor: pointer;

  @media (max-width: map_get($grid-breakpoints, lg)) {
    font-size: 0.875rem;
  }
}