html, body {
  height: 100%; }

body {
  background-color: #f6f5f5;
  position: relative; }

.offer-block {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 66%;
  height: 360px;
  padding: 20px;
  margin: auto;
  text-align: center; }

.offer__title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 30px; }

.offer__description {
  font-size: 20px;
  font-weight: 500;
  color: #999;
  margin-bottom: 50px; }

.offer-counter {
  position: relative;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  background-color: #f5c0bc;
  font-size: 28px;
  font-weight: 600;
  color: #e76157;
  border: 5px solid #e76157;
  border-radius: 50%;
  transform: translateX(-50%); }
  .offer-counter-wrapper {
    position: relative;
    margin-bottom: 55px; }

.offer__link {
  width: 195px;
  line-height: 2.3; }

@media (max-width: 768px) {
  .offer__title {
    font-size: 28px; }
  .offer__description {
    font-size: 0.875rem;
    margin-bottom: 30px; }
  .offer-counter-wrapper {
    margin-bottom: 30px; } }

@media (max-width: 576px) {
  .offer-block {
    width: 100%;
    margin-top: 115px; }
  .offer__title {
    font-size: 20px;
    margin-bottom: 15px; }
  .offer__link {
    line-height: 1.7; } }
