@import '../variables';
@import '../mixins/mixin-common';
@import '../partial/advantages';
@import '../partial/how-works';
@import '../partial/products';

.infopage{
	overflow: hidden;
	border-radius: 8px;
	margin-bottom: 52px;
	box-shadow: 0 6px 16px 0 rgba(153, 153, 153, 0.08);
	background-color: rgb(255, 255, 255);
	@media (max-width: map-get($grid-breakpoints, sm)){
		margin-bottom: 32px;
	}
	&__img{
		width: 100%;
	}
	&__body{
		padding: 32px 64px;
			@media (max-width: map-get($grid-breakpoints, sm)){
				padding: 20px 24px;
			}
		p {
			margin-bottom: 8px;
		}
		img{
			max-width: 100%;
		}
		ul{
			padding-left: 0;
			list-style: none;

			li{
				position: relative;
				margin-bottom: 8px;
				&:before{
					position: absolute;
					background: #999999;
					content: "";
					left: -22px;
					top: 9px;
					width: 6px;
					height: 6px;
					border-radius: 3px;
					@media (max-width: map-get($grid-breakpoints, sm)){
						left: -13px;
					}
				}
			}
		}
		h3{
			font-size: 22px;
			@media (max-width: map-get($grid-breakpoints, sm)){
			  font-size: 1rem;
			  line-height: 1.5rem;
			}
		}
	}

}
