@import '../variables';
@import '../mixins/mixin-common';
@import '../partial/shops';

.box{
	margin-bottom: 32px;
	background: #fff;
	border-radius: 8px;
	box-shadow: 0 6px 16px 0 rgba(153, 153, 153, 0.08);
	@media (max-width: map-get($grid-breakpoints, sm)){
		padding: 20px 16px;
	}
	@media (min-width: map-get($grid-breakpoints, sm)) and (max-width: map_get($grid-breakpoints, lg)){
		padding: 10px 12px;
	}
	&_p-m-0{
		@media (max-width: map-get($grid-breakpoints, lg)){
			padding-top: 0;
			padding-bottom: 0;
		}
		
	}
	&__body{
		
		padding: 20px 32px;
		@media (max-width: map-get($grid-breakpoints, lg)){
			padding: 0;
		}
		
	}
	&_padding{
		.box__body{
			padding: 40px;
			@media (max-width: map-get($grid-breakpoints, sm)){
				padding: 0;
			}
		}
	}
	&__footer{
		border-radius: 0 0 8px 8px;
		overflow: hidden;
		@media (max-width: map-get($grid-breakpoints, sm)){
			overflow: visible;
		}
	}
	.h1 {
		@media (min-width: map_get($grid-breakpoints, sm)) and (max-width: map_get($grid-breakpoints, lg)) {
			margin-bottom: 0;
		}
		@media (max-width: map_get($grid-breakpoints, lg)) {
			font-size: 24px;
			font-weight: 400;
		}
	}

	@media (min-width: map_get($grid-breakpoints, sm)) and (max-width: map_get($grid-breakpoints, lg)) {
		.form-control, .btn {
			height: 40px;
		}

		.btn  {
			font-size: 14px;
			font-weight: 400;
		}

		.form-control__btn, .date-picker__icon {
			top: 2px;
		}
	}
}
.progress-scale{
	padding: 0 34px 30px;
	display: flex;
	@media (max-width: map-get($grid-breakpoints, sm)){
		padding: 0 20px 30px;
	}
	&__item{
		width: 33.333333%;
		position: relative;
		padding-top: 64px;
		padding-bottom: 58px;
		&:first-child{
			.progress-scale__bar{
				&:after{
					content: '';
					width: 12px;
					height: 12px;
					position: absolute;
					left: -6px;
					background: #fb5550;
					border-radius: 6px;
					top: -4px;
				}
			}
		}
		&.active{
			& .progress-scale__value{
				color: #fb5550;
				&_start{
					color: inherit;
				}
			}
			& .progress-scale__bar{
				background: #fb5550;
				&:before{
					background: #fb5550;
					box-shadow: 0 0 0px 4px rgba(251, 85, 80, 0.32);
				}
				z-index: 1;
			}
		}
	}
	&__bar{
		position: relative;
		width: 100%;
		height: 4px;
		background: #ededed;
		&:before{
			content: '';
			width: 12px;
			height: 12px;
			position: absolute;
			right: -6px;
			background: #ededed;
			border-radius: 6px;
			top: -4px;
		}

	}
	&__value{
		font-size: 32px;
		line-height: 40px;
		width: 100%;
		text-align: center;
		position: absolute;
		left: 50%;
		top: 0px;
		&_start{
			left: unset;
			right: 50%;

		}
		@media (max-width: map-get($grid-breakpoints, sm)){
			font-size: 20px;
		}
	}
	&__desc{
		width: 100%;
		font-size: 14px;
		text-align: center;
		position: absolute;
		left: 50%;
		top: 82px;
		&_start{
			left: unset;
			right: 50%;

		}
	}

}

.gradient-block{
	padding: 32px;
	background-image: linear-gradient(98deg, rgb(92, 68, 193), rgb(251, 85, 80));
	@media (max-width: map-get($grid-breakpoints, sm)){
		margin: 0 -16px -20px;
		border-radius: 0 0 8px 8px;
		padding: 16px;
	}
	
}

.orders{
	background: #fff;
	line-height: 24px;
	border-radius: 8px;
  	box-shadow: 0 6px 16px 0 rgba(153, 153, 153, 0.08), inset 0 -1px 0 0 rgb(237, 237, 237);
	color: #999;
	margin-bottom: 32px;
	&_product{
		.orders__item{
			padding: 24px 32px 24px 24px;	
			@media (max-width: map-get($grid-breakpoints, lg)){
				padding: 20px;
			}
			&-title {
				@media (max-width: map_get($grid-breakpoints, sm)) {
					position: relative;
					height: 72px;
					overflow: hidden;
					&:after {
						position: absolute;
						bottom: -3px;
						right: 0;
						content: '...';
						background: #ffffff;
					}
				}
			}
		}
	}
	&__header{
		padding-left: 32px;
		
		height: 64px;
		padding-top: 20px;
		border-bottom: 1px solid #ededed;
		@media (max-width: map-get($grid-breakpoints, sm)){
			display: none;
		}
		@media (min-width: map-get($grid-breakpoints, sm)){
			height: 48px;
			padding-top: 12px;
			padding-left: 16px;
		}
	}
	&__item{
		padding-left: 32px;
		padding-top: 32px;
		padding-bottom: 40px;
		border-bottom: 1px solid #ededed;
		@media (max-width: map-get($grid-breakpoints, lg)){
			padding: 16px;
			font-size: 14px;
			line-height: 20px;
		}
	}
	&__price{
		padding-top: 12px;
		color: #333;
		font-size: 22px;
		line-height: 2rem;
		@media (max-width: map-get($grid-breakpoints, lg)){
			font-size: 1rem;
			line-height: 1.5rem;
			padding-top: 0;
		}
		@media (min-width: map_get($grid-breakpoints, sm)) and (max-width: map_get($grid-breakpoints, lg)) {
			padding-top: 12px;
		}
	}
	&__no-items{
		color: #333;
		text-align: center;
		padding: 96px 0;
		@media (max-width: map-get($grid-breakpoints, sm)){
			padding: 40px 0;
		}
	}
	&__img{

		max-width: 100%;
		max-height: 100%;
		&-container{
			min-width: 84px;
			height: 86px;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-right: 16px;	
			@media (max-width: map-get($grid-breakpoints, lg)){
				width: 64px;
				height: 64px;
			}
		}
	}

	.tags__item.mt-2 {
		@media (min-width: map-get($grid-breakpoints, sm)) and (max-width: map-get($grid-breakpoints, lg)){
			margin-top: 0 !important;
		}
	}
}
.sort{
	color: #333;
	position: relative;
	padding-right: 12px;
	border-top: 0;
	&:before,
	&:after{
		content: '';
		position: absolute;
		right: 0;
		top: 50%;
		display: none;
	}

	&:before{
		border-top:4px solid #333;
		border-right: 4px solid transparent; 
		border-left: 4px solid transparent; 
	}
	&:after{
		border-bottom: 4px solid #333;
		border-right: 4px solid transparent; 
		border-left: 4px solid transparent; 
	}
	&_asc{
		&:before{
			display: block;
		}
	}
	&_desc{
		&:after{
			display: block;
		}
	}
}
.payment-list{

	&__item{
		min-height: 176px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 24px;
		height: calc(100% - 32px);
		padding-top: 40px;
		margin-bottom: 32px;
		background: #fff;
		border-radius: 8px;
  		box-shadow: 0 6px 16px 0 rgba(153, 153, 153, 0.08);
  		&:hover{
  			box-shadow: 0 8px 24px 0 rgba(153,153,153,0.24);
  			text-decoration: none;
  		}
		@media (max-width: map-get($grid-breakpoints, lg)){
			padding: 24px 16px 24px 30px;
			flex-direction: row;
			min-height: auto;
			justify-content: start;
			
		}
	}
	&__img{
		max-height: 100%;
		max-width: 100%;

		&-container{
			margin-bottom: 16px;
			height: 48px;
			display: flex;
			justify-content: center;
			align-items: center;
			@media (max-width: map-get($grid-breakpoints, lg)){
				min-width: 120px;
				max-width: 120px;
				margin-bottom: 0;
				margin-right: 30px;
			}
		}
	}
	&__name{
		color: #333;

	}
	&__sum{
		color: #999;
		font-size: 0.875rem;
	}
}

.input-desc {
	@media (max-width: map_get($grid-breakpoints, lg)) {
		.text-small {
			font-size: 12px;
		}
	}
}