@media (max-width: 576px) {
  .shops {
    padding: 0 8px; } }

.shops__item {
  height: calc(100% - 32px);
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  padding: 24px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 6px 16px 0 rgba(153, 153, 153, 0.08);
  color: #999999; }
  .shops__item:hover {
    color: #999999;
    text-decoration: none;
    box-shadow: 0 8px 24px 0 rgba(153, 153, 153, 0.24); }
  @media (max-width: 992px) {
    .shops__item {
      height: calc(100% - 16px);
      margin-bottom: 16px;
      padding: 16px; } }

.shops__img {
  max-width: 100%;
  max-height: 100%; }
  .shops__img-container {
    justify-content: center;
    height: 48px;
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 24px; }

.shops__rating {
  padding-bottom: 12px;
  border-bottom: 1px solid #ededed;
  margin-bottom: 12px; }

.shops__name {
  font-weight: 600; }
  @media (max-width: 992px) {
    .shops__name {
      font-size: 14px; } }

.shops__promo {
  margin-top: 4px;
  font-size: 22px;
  line-height: 2rem;
  color: #333; }
  @media (max-width: 992px) {
    .shops__promo {
      font-size: 1rem;
      line-height: 1.5rem; } }

.shops__description {
  font-size: 12px;
  color: #333;
  line-height: 1rem; }

.shop-filter-list {
  padding: 0;
  margin: 0;
  list-style: none; }
  .shop-filter-list a {
    font-size: 0.875rem;
    font-weight: 600;
    color: #999;
    text-decoration: none; }

.box {
  margin-bottom: 32px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 6px 16px 0 rgba(153, 153, 153, 0.08); }
  @media (max-width: 576px) {
    .box {
      padding: 20px 16px; } }
  @media (min-width: 576px) and (max-width: 992px) {
    .box {
      padding: 10px 12px; } }
  @media (max-width: 992px) {
    .box_p-m-0 {
      padding-top: 0;
      padding-bottom: 0; } }
  .box__body {
    padding: 20px 32px; }
    @media (max-width: 992px) {
      .box__body {
        padding: 0; } }
  .box_padding .box__body {
    padding: 40px; }
    @media (max-width: 576px) {
      .box_padding .box__body {
        padding: 0; } }
  .box__footer {
    border-radius: 0 0 8px 8px;
    overflow: hidden; }
    @media (max-width: 576px) {
      .box__footer {
        overflow: visible; } }
  @media (min-width: 576px) and (max-width: 992px) {
    .box .h1 {
      margin-bottom: 0; } }
  @media (max-width: 992px) {
    .box .h1 {
      font-size: 24px;
      font-weight: 400; } }
  @media (min-width: 576px) and (max-width: 992px) {
    .box .form-control, .box .btn {
      height: 40px; }
    .box .btn {
      font-size: 14px;
      font-weight: 400; }
    .box .form-control__btn, .box .date-picker__icon {
      top: 2px; } }

.progress-scale {
  padding: 0 34px 30px;
  display: flex; }
  @media (max-width: 576px) {
    .progress-scale {
      padding: 0 20px 30px; } }
  .progress-scale__item {
    width: 33.333333%;
    position: relative;
    padding-top: 64px;
    padding-bottom: 58px; }
    .progress-scale__item:first-child .progress-scale__bar:after {
      content: '';
      width: 12px;
      height: 12px;
      position: absolute;
      left: -6px;
      background: #fb5550;
      border-radius: 6px;
      top: -4px; }
    .progress-scale__item.active .progress-scale__value {
      color: #fb5550; }
      .progress-scale__item.active .progress-scale__value_start {
        color: inherit; }
    .progress-scale__item.active .progress-scale__bar {
      background: #fb5550;
      z-index: 1; }
      .progress-scale__item.active .progress-scale__bar:before {
        background: #fb5550;
        box-shadow: 0 0 0px 4px rgba(251, 85, 80, 0.32); }
  .progress-scale__bar {
    position: relative;
    width: 100%;
    height: 4px;
    background: #ededed; }
    .progress-scale__bar:before {
      content: '';
      width: 12px;
      height: 12px;
      position: absolute;
      right: -6px;
      background: #ededed;
      border-radius: 6px;
      top: -4px; }
  .progress-scale__value {
    font-size: 32px;
    line-height: 40px;
    width: 100%;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 0px; }
    .progress-scale__value_start {
      left: unset;
      right: 50%; }
    @media (max-width: 576px) {
      .progress-scale__value {
        font-size: 20px; } }
  .progress-scale__desc {
    width: 100%;
    font-size: 14px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 82px; }
    .progress-scale__desc_start {
      left: unset;
      right: 50%; }

.gradient-block {
  padding: 32px;
  background-image: linear-gradient(98deg, #5c44c1, #fb5550); }
  @media (max-width: 576px) {
    .gradient-block {
      margin: 0 -16px -20px;
      border-radius: 0 0 8px 8px;
      padding: 16px; } }

.orders {
  background: #fff;
  line-height: 24px;
  border-radius: 8px;
  box-shadow: 0 6px 16px 0 rgba(153, 153, 153, 0.08), inset 0 -1px 0 0 #ededed;
  color: #999;
  margin-bottom: 32px; }
  .orders_product .orders__item {
    padding: 24px 32px 24px 24px; }
    @media (max-width: 992px) {
      .orders_product .orders__item {
        padding: 20px; } }
    @media (max-width: 576px) {
      .orders_product .orders__item-title {
        position: relative;
        height: 72px;
        overflow: hidden; }
        .orders_product .orders__item-title:after {
          position: absolute;
          bottom: -3px;
          right: 0;
          content: '...';
          background: #ffffff; } }
  .orders__header {
    padding-left: 32px;
    height: 64px;
    padding-top: 20px;
    border-bottom: 1px solid #ededed; }
    @media (max-width: 576px) {
      .orders__header {
        display: none; } }
    @media (min-width: 576px) {
      .orders__header {
        height: 48px;
        padding-top: 12px;
        padding-left: 16px; } }
  .orders__item {
    padding-left: 32px;
    padding-top: 32px;
    padding-bottom: 40px;
    border-bottom: 1px solid #ededed; }
    @media (max-width: 992px) {
      .orders__item {
        padding: 16px;
        font-size: 14px;
        line-height: 20px; } }
  .orders__price {
    padding-top: 12px;
    color: #333;
    font-size: 22px;
    line-height: 2rem; }
    @media (max-width: 992px) {
      .orders__price {
        font-size: 1rem;
        line-height: 1.5rem;
        padding-top: 0; } }
    @media (min-width: 576px) and (max-width: 992px) {
      .orders__price {
        padding-top: 12px; } }
  .orders__no-items {
    color: #333;
    text-align: center;
    padding: 96px 0; }
    @media (max-width: 576px) {
      .orders__no-items {
        padding: 40px 0; } }
  .orders__img {
    max-width: 100%;
    max-height: 100%; }
    .orders__img-container {
      min-width: 84px;
      height: 86px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 16px; }
      @media (max-width: 992px) {
        .orders__img-container {
          width: 64px;
          height: 64px; } }
  @media (min-width: 576px) and (max-width: 992px) {
    .orders .tags__item.mt-2 {
      margin-top: 0 !important; } }

.sort {
  color: #333;
  position: relative;
  padding-right: 12px;
  border-top: 0; }
  .sort:before, .sort:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    display: none; }
  .sort:before {
    border-top: 4px solid #333;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent; }
  .sort:after {
    border-bottom: 4px solid #333;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent; }
  .sort_asc:before {
    display: block; }
  .sort_desc:after {
    display: block; }

.payment-list__item {
  min-height: 176px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px;
  height: calc(100% - 32px);
  padding-top: 40px;
  margin-bottom: 32px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 6px 16px 0 rgba(153, 153, 153, 0.08); }
  .payment-list__item:hover {
    box-shadow: 0 8px 24px 0 rgba(153, 153, 153, 0.24);
    text-decoration: none; }
  @media (max-width: 992px) {
    .payment-list__item {
      padding: 24px 16px 24px 30px;
      flex-direction: row;
      min-height: auto;
      justify-content: start; } }

.payment-list__img {
  max-height: 100%;
  max-width: 100%; }
  .payment-list__img-container {
    margin-bottom: 16px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center; }
    @media (max-width: 992px) {
      .payment-list__img-container {
        min-width: 120px;
        max-width: 120px;
        margin-bottom: 0;
        margin-right: 30px; } }

.payment-list__name {
  color: #333; }

.payment-list__sum {
  color: #999;
  font-size: 0.875rem; }

@media (max-width: 992px) {
  .input-desc .text-small {
    font-size: 12px; } }
