@import '../variables';
@import '../mixins/mixin-common';
@import '../partial/shops';
@import '../partial/products';
@import '../partial/brands';
@import '../partial/advantages';
@import '../partial/how-works';
@import '../partial/category';
@import '../partial/slider';

.slider{
	margin-top: -88px;
}
.page_main{
	.header{
		padding-bottom: 96px;
		&.fixed + * {
			margin-top: 233px;
		}
		@media (max-width: map-get($grid-breakpoints, md)){
			padding-bottom: 76px;
			&.fixed + * {
				margin-top: 213px;
			}
		}
	}
}

.dark-block{
	padding: 40px 0 124px;
	background: #333;
	margin-bottom: -100px;
	@media (max-width: map-get($grid-breakpoints, md)){
		padding-top: 20px;
	}
}
.welcome-block{
	display: none;
	color: #fff;
	position: fixed;
	width: 100%;
	left: 0;
	z-index: 10;
	background-color: rgba(51, 51, 51, 0.96);
	bottom: 0;
	padding: 32px 0;
	&__title{
		font-size: 22px;
		line-height: 2rem;
		margin-bottom: 1rem;
	}
	.text-small {
		line-height: 1.3;
		margin-bottom: 1rem;
	}
	&__close{
		display: block;
		position: absolute;
		right: 16px;
		top: 16px;
		width: 24px;
		height: 24px;
		border-radius: 12px;
		font-size: 10px;
		border: 2px solid rgba(255, 255, 255, 0.32);
		color: rgba(255, 255, 255, 0.32);
		@include hover-focus-active{
			color: #fff;
			border-color: #fff;
			

		}
	}
}
.switch{
	&__label{
		vertical-align: middle;
		font-weight: 600;
		color: rgba(255,255,255,0.32);
		font-size: 2rem;
		line-height: 2.5rem;
		display: inline-block;
		cursor: pointer;
		@media (max-width: map-get($grid-breakpoints, md)){
			width: 100%;
			&_nocheck {
				padding-bottom: 12px;
				border-bottom: 1px solid #444444;
				margin-bottom: 12px;
			}
	        font-size: 1.5rem;
	        line-height: 2rem;
	    }
		&.active{
			color: #fff;
		}
	}
}