@media (max-width: 576px) {
  .shops {
    padding: 0 8px; } }

.shops__item {
  height: calc(100% - 32px);
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  padding: 24px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 6px 16px 0 rgba(153, 153, 153, 0.08);
  color: #999999; }
  .shops__item:hover {
    color: #999999;
    text-decoration: none;
    box-shadow: 0 8px 24px 0 rgba(153, 153, 153, 0.24); }
  @media (max-width: 992px) {
    .shops__item {
      height: calc(100% - 16px);
      margin-bottom: 16px;
      padding: 16px; } }

.shops__img {
  max-width: 100%;
  max-height: 100%; }
  .shops__img-container {
    justify-content: center;
    height: 48px;
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 24px; }

.shops__rating {
  padding-bottom: 12px;
  border-bottom: 1px solid #ededed;
  margin-bottom: 12px; }

.shops__name {
  font-weight: 600; }
  @media (max-width: 992px) {
    .shops__name {
      font-size: 14px; } }

.shops__promo {
  margin-top: 4px;
  font-size: 22px;
  line-height: 2rem;
  color: #333; }
  @media (max-width: 992px) {
    .shops__promo {
      font-size: 1rem;
      line-height: 1.5rem; } }

.shops__description {
  font-size: 12px;
  color: #333;
  line-height: 1rem; }

.shop-filter-list {
  padding: 0;
  margin: 0;
  list-style: none; }
  .shop-filter-list a {
    font-size: 0.875rem;
    font-weight: 600;
    color: #999;
    text-decoration: none; }

.advantages {
  margin-bottom: 56px;
  color: #fff;
  padding: 40px 0 64px;
  background-image: linear-gradient(109deg, #5c44c1, #fb5550);
  border-radius: 0 !important; }
  .advantages:last-of-type {
    margin-bottom: 0; }
  @media (max-width: 576px) {
    .advantages {
      margin-bottom: 32px;
      padding-top: 20px; } }
  .advantages__image {
    width: 120px;
    max-width: 100%;
    font-size: 100px;
    line-height: 120px;
    text-align: center;
    margin-bottom: 24px; }
    @media (max-width: 992px) {
      .advantages__image {
        width: 80px;
        font-size: 80px;
        margin-bottom: 0; } }
  .advantages__name {
    font-size: 1.375rem;
    line-height: 2rem;
    margin-bottom: 8px; }
    @media (max-width: 992px) {
      .advantages__name {
        font-size: 1rem;
        line-height: 1.5rem; } }
  .advantages__item {
    margin-top: 32px;
    margin-right: 30px; }
    .advantages__items {
      display: flex;
      justify-content: space-between; }
      @media (max-width: 576px) {
        .advantages__items {
          display: block; } }
  .advantages__text {
    font-size: 1rem;
    line-height: 1.5rem;
    color: rgba(255, 255, 255, 0.64); }
    @media (max-width: 992px) {
      .advantages__text {
        font-size: 0.875rem;
        font-weight: 200; } }
  .advantages__title {
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.5rem;
    letter-spacing: normal; }
    @media (max-width: 576px) {
      .advantages__title {
        font-size: 1.5rem;
        line-height: 2rem; } }

.slider, .advantages {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 8px; }
  .slider__img, .advantages__img {
    max-width: 100%;
    border-radius: 8px;
    height: 240px;
    background-position: 50% 0;
    background-repeat: no-repeat; }
    @media (min-width: 768px) {
      .slider__img, .advantages__img {
        height: auto; }
        .slider__img--small, .advantages__img--small {
          max-height: 200px; } }
    .slider__img--2x, .advantages__img--2x {
      display: none; }
    @media (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 768px) and (min-device-pixel-ratio: 2), (max-width: 768px) and (min-resolution: 192dpi) {
      .slider__img--2x, .advantages__img--2x {
        display: block;
        background-size: 736px 240px; }
        .slider__img--2x + .slider__img, .advantages__img--2x + .slider__img {
          display: none !important; } }
  .slider__arrow, .advantages__arrow {
    cursor: pointer;
    width: 40px;
    color: #fff;
    height: 40px;
    font-size: 14px;
    line-height: 37px;
    border-radius: 20px;
    border: solid 2px rgba(255, 255, 255, 0.32);
    background: none;
    margin-left: 16px; }
    .slider__arrow:hover, .slider__arrow:focus, .slider__arrow:active, .advantages__arrow:hover, .advantages__arrow:focus, .advantages__arrow:active {
      color: white;
      border-color: rgba(255, 255, 255, 0.64); }
    .slider__arrow_prev, .advantages__arrow_prev {
      transform: rotate(180deg); }
    @media (max-width: 576px) {
      .slider__arrow, .advantages__arrow {
        width: 32px;
        height: 32px;
        border-radius: 16px;
        line-height: 30px;
        font-size: 11px;
        padding: 0; }
        .slider__arrow_next, .advantages__arrow_next {
          float: right; } }
  .slider__controls, .advantages__controls {
    z-index: 2;
    font-size: 0;
    position: absolute;
    bottom: 32px;
    right: 32px; }
    @media (max-width: 576px) {
      .slider__controls, .advantages__controls {
        bottom: 24px;
        width: 100%;
        right: 0px;
        padding-right: 24px; } }
  .slider .banner, .advantages .banner {
    margin: 0; }

.slider + .brands {
  margin-top: 32px; }
  @media (max-width: 768px) {
    .slider + .brands {
      margin-top: 16px; } }

.slider + .shops {
  margin-top: 32px; }
  @media (max-width: 992px) {
    .slider + .shops {
      margin-top: 16px; } }

@media (min-width: 1200px) {
  .advantages__controls {
    display: none; } }
