@import '../variables';
@import '../mixins/mixin-common';

@import '../partial/shops';
@import '../partial/advantages';
@import '../partial/review';
@import '../partial/products';
@import "../partial/slider";

.shop{
	margin-bottom: 56px;
	padding: 48px 32px 56px;
	background: #fff;
	border-radius: 8px;
	box-shadow: 0 6px 16px 0 rgba(153, 153, 153, 0.08);
	@media (max-width: map-get($grid-breakpoints, sm)){
		padding: 30px 16px;
	}
	&__header{
		padding: 0 16px 48px;
		border-bottom: 1px solid #ededed;
		@media (max-width: map-get($grid-breakpoints, sm)){
			padding: 0;
			border-bottom: 0;
		}
	}
	&__name{
		font-size: 2rem;
		line-height: 2.5rem;
		padding-bottom: 4px;
		@media (max-width: map-get($grid-breakpoints, lg)){
			font-size: 1.5rem;
			line-height: 2rem;
		}
	}
	&__rating{
		line-height: 1.5rem;
	}
	&__img{
		&-container{
			display: flex;
			justify-content: center;
			align-items: center;

			width: 100%;
			height: 80px;
			@media (max-width: map-get($grid-breakpoints, lg)){
				height: 60px;
				justify-content: start;
				margin-bottom: 22px;
			}
		}
		max-width: 100%;
		height: 100%;
	}
	&__desription{
		font-size: 14px;
		line-height: 20px;
		p{
			margin-bottom: 8px;
			line-height: 20px;
		}
	}
	&-link {
		line-height: 2.2;

		@media (max-width: map_get($grid-breakpoints, sm)) {
			line-height: 1.7;
		}
	}
}
.list-rate{
	padding: 4px 0 0;
	margin: 0;
	list-style: none;
	&__item{

		padding: 11px 16px 12px;
		border-bottom: 1px solid #ededed;
		&:first-child{
			border-top: 1px solid #ededed;

		}
		@media (max-width: map-get($grid-breakpoints, lg)){
			padding-left: 0;
			padding-right: 0;
			font-size: 14px;
			line-height: 20px;
		}

	}
	&__name{
		font-weight: 600;

	}
	&__rate{
		font-weight: 600;
		font-size: 14px;
		color: #fb5550;
		@media (max-width: map-get($grid-breakpoints, lg)){
			font-size: 12px;
		}
		&-old{
			position: relative;
			font-size: 12px;
			line-height: 1rem;
			color: #999;
			&:before{
				position: absolute;
				top: 50%;
				left: 0;
				content: "";
				background: #999;
				height: 2px;
				width: 100%;
			}
		}
	}
}
